{% extends 'base_layout.html' %}

{% block content %}

    <div class="modal fade" id="modal-default" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Default Modal</h4>
                </div>
                <div class="modal-body bodys">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <section class="content-header">
        <h1>
            {{ obj.name }}

        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'kurye:kurye-dashboard' %}"><i class="fa fa-dashboard"></i> Anasayfa</a></li>

        </ol>

    </section>
    <section class="content">

        {% if messages %}
            {% for message in messages %}


                {% if message.tags == 'warning' %}

                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i> Hata !</h4>


                        <ul class="messages">
                            {% for message in messages %}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>


                    </div>

                {% endif %}


                {% if message.tags == 'success' %}

                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i> Başarılı !</h4>


                        <ul class="messages">
                            {% for message in messages %}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>


                    </div>

                {% endif %}
            {% endfor %}


        {% endif %}
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">


            <section class="col-lg-12 ">


                <div class="box-body">


                    <div class="box box-primary">
                        <div class="box-body">
                            <br>
                            <table id="kurye" class="display responsive nowrap" cellspacing="0" width="100%">
                                <thead>
                                <tr>

                                    <th>Görev No</th>
                                    <th>Talep No</th>
                                    <th>Güncelle</th>
                                    <th>Durum Seç</th>
                                    <th>Açıklama Ekle</th>
                                    <th>Müşteri</th>
                                    <th>Müşteri Adres</th>
                                    <th>Firma</th>
                                    <th>Firma Adresi</th>
                                    <th>Sipariş Tutarı</th>
                                    <th>Ödeme Yöntemi</th>
                                    <th>Talep Açıklaması</th>
                                    <th>Talep Çıkış Tarihi</th>
                                    <th>Talep Çıkış Zamanı</th>


                                </tr>
                                </thead>
                                <tbody>

                                {% for task in tasks %}
                                    <form method="post" role="form">
                                        {% csrf_token %}
                                        <input type="hidden" value="{{ task.task.pk }}" name="task">


                                        <tr>


                                            <td>{{ task.task.pk }}</td>
                                            <td>{{ task.task.request.pk }}</td>
                                            <td>

                                                <button type="submit" class="btn btn-success">Güncelle
                                                </button>

                                            </td>

                                            <td>
                                                <select size="1" name="situation">

                                                    {% for situation in task_situations %} }
                                                        {% if task.task_situation.name == situation.name %}
                                                            <option selected>{{ situation.name }}</option>
                                                        {% else %}
                                                            {% if situation.name == 'Tamamlandı' or situation.name == 'İptal Edildi' %}
                                                            {% else %}
                                                                <option>{{ situation.name }}</option>
                                                            {% endif %}
                                                        {% endif %}



                                                    {% endfor %}


                                                </select>
                                            </td>


                                            <td>
                                                <input
                                                        value=""
                                                        type="text" class="form-control" name="description"
                                                        placeholder="Açıklama">

                                            </td>
                                            <td>{{ task.task.request.receiver.customer }}</td>
                                            <td>{{ task.task.request.receiver.address }}</td>
                                            <td>{{ task.task.request.company.companyName }}</td>
                                            <td>{{ task.task.request.company.profile.address }}</td>
                                            <td>{{ task.task.request.totalPrice }}</td>
                                            <td>{{ task.task.request.payment_type }}</td>
                                            {% if task.task.request.description %}
                                                <td>{{ task.task.request.description }}</td>
                                            {% else %}
                                                <td>Açıklama Yapılmadı</td>
                                            {% endif %}
                                            <td>{{ task.task.request.exitDate }}</td>
                                            <td>{{ task.task.request.exitTime }}</td>


                                        </tr>
                                    </form>
                                {% endfor %}


                                </tbody>
                            </table>
                        </div>

                    </div>


                </div>
            </section>


        </div>
        <!-- /.row (main row) -->

    </section>

    <script>
        $(function () {
            $('#kurye').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true,

            })

        })
    </script>
    <script>
        $(function () {
            $('.select2').select2();
            //Money Euro
            $('[data-mask]').inputmask();


            //Date picker
            $('#datepicker').datepicker({
                autoclose: true
            });


            //Timepicker
            $('.timepicker').timepicker({
                showInputs: false
            })
        })

    </script>



    <script>       function getCookie(name) {
        var cookieValue = null;
        var i = 0;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (i; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        crossDomain: false, // obviates need for sameOrigin test
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });


    </script>




{% endblock %}

