{% extends 'base.html' %}
{% load change_lang %}

{% block content %}
    <div class="container" style="width: 70%">

        <div class="row" style="margin: 10px;">

            <h2 class="" style="padding: 10px;border: 1px solid;text-align: center">{{ 'about' |get_item_by_lang }}</h2>

            <!-- Breadcrumbs -->

            <div class="blog-post single-post">

                <!-- Img -->
                <div class="post-content">


                    <h2><a href="#">{{ about.title_desc }} </a></h2>


                    {{ about.description | safe }}


                    <div class="clearfix"></div>

                </div>
            </div>
        </div>


    </div>
    <section class="fullwidth padding-top-35 padding-bottom-20" style="background: #1c3444;border-top: 2px solid #fd9116;

    margin-top: 1px;">
        <div class="">
            <div class="row icons-container" style="margin:0 25px;">
                <!-- Stage -->
                <div class="col-md-2">
                    <div class="icon-box-2 with-line"
                         style="background: #1c3444;width:200px;height: 150px; margin-left: 27px;">
                        <i class="im im-icon-Bag-Coins" style="border: 1px solid;width: 70px;
    height: 70px;"></i>
                        <h3 style="margin-top: 3px;font-size: 20px">{{ 'product'| get_item_by_lang }}</h3>

                    </div>
                    <ul class="list-4 color" style="text-align: initial;margin-left: 20%;font-size: 13px;">
                        {% for parent in category_parent %}
                            <li style="line-height: 15px;">
                                <a href="{% url 'listArch:anasayfa-urunler' parent.category.pk %}">{{ parent.description }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- Stage -->
                <div class="col-md-2">
                    <div class="icon-box-2 with-line"
                         style="background: #ffffff;width:200px;height: 150px; margin-left: 27px;">
                        <i class="im im-icon-Checked-User" style="border: 1px solid;color: #000000;width: 66px;
    height: 66px;"></i>
                        <h3 style="margin-top: 3px;font-size: 20px;color: #000">{{ 'explore'| get_item_by_lang }}</h3>

                    </div>
                    <ul class="list-4 color"
                        style="color: #000000;text-align: initial;margin-left: 26%;font-size: 13px">
                        <li style="line-height: 15px;"><a href="#">{{ 'brand'| get_item_by_lang }}</a></li>
                        <li style="line-height: 15px;"><a href="#">{{ 'retails'| get_item_by_lang }}</a></li>
                        <li style="line-height: 15px;"><a href="#">{{ 'fairs'| get_item_by_lang }}</a></li>
                        <li style="line-height: 15px;"><a href="#">{{ 'smart_life'| get_item_by_lang }}</a></li>
                        <li style="line-height: 15px;"><a href="#">{{ 'testing_tools'| get_item_by_lang }}</a></li>
                    </ul>
                </div>
                <!-- Stage -->
                <div class="col-md-2">
                    <div class="icon-box-2 with-line"
                         style="background: #1c3444;width:200px;height: 150px; margin-left: 27px;">
                        <i class="im im-icon-Checked-User" style="border: 1px solid;width: 70px;
    height: 70px;"></i>
                        <h3 style="margin-top: 3px;font-size: 20px">{{ 'solutions'| get_item_by_lang }}</h3>

                    </div>
                    <ul class="list-4 color" style="text-align: initial;margin-left: 26%;font-size: 13px">
                        <li style="line-height: 15px;"><a href="#">{{ 'prerogative'| get_item_by_lang }}</a></li>
                        <li style="line-height: 15px;"><a href="#">{{ 'credentialing'| get_item_by_lang }}</a></li>
                        <li style="line-height: 15px;"><a href="#">{{ 'trade_show'| get_item_by_lang }}</a></li>
                        <li style="line-height: 15px;"><a href="#">{{ 'software'| get_item_by_lang }}</a></li>

                    </ul>
                </div>
                <!-- Stage -->
                <div class="col-md-2">
                    <div class="icon-box-2 with-line"
                         style="background: #ffffff;width: 200px;height: 150px; margin-left: 27px;">
                        <i class="im im-icon-Checked-User" style="color: #000000;border: 1px solid;width: 70px;
    height: 70px;"></i>
                        <h3 style="margin-top: 3px;font-size: 20px;color: #000000">{{ 'research'| get_item_by_lang }}</h3>

                    </div>
                    <ul class="list-4 color"
                        style="color: #000000;text-align: initial;margin-left: 26%;font-size: 13px">
                        <li style="line-height: 15px;"><a href="#">{{ 'regulations'| get_item_by_lang }}</a></li>
                        <li style="line-height: 15px;"><a href="#">{{ 'news'| get_item_by_lang }}</a></li>
                        <li style="line-height: 15px;"><a href="#">{{ 'competitions'| get_item_by_lang }}</a></li>
                        <li style="line-height: 15px;"><a href="#">{{ 'events'| get_item_by_lang }}</a></li>

                    </ul>
                </div>
                <!-- Stage -->
                <div class="col-md-2">
                    <div class="icon-box-2 with-line"
                         style="background: #1c3444;width: 200px;height: 150px; margin-left: 27px;">
                        <i class="im im-icon-Checked-User" style="border: 1px solid;width: 70px;
    height: 70px;"></i>
                        <h3 style="margin-top: 3px;font-size: 20px">{{ 'business'| get_item_by_lang }}</h3>

                    </div>
                    <ul class="list-4 color" style="text-align: initial;margin-left: 26%;font-size: 13px">
                        <li style="line-height: 15px;"><a href="#">{{ 'designers'| get_item_by_lang }}</a></li>
                        <li style="line-height: 15px;"><a href="#">{{ 'consultants'| get_item_by_lang }}</a></li>
                        <li style="line-height: 15px;"><a href="#">{{ 'contractor'| get_item_by_lang }}</a></li>
                        <li style="line-height: 15px;"><a href="#">{{ '3d_modelers'| get_item_by_lang }}</a></li>
                        <li style="line-height: 15px;"><a href="#">{{ 'retails'| get_item_by_lang }}</a></li>
                    </ul>
                </div>
                <!-- Stage -->
                <div class="col-md-2">
                    <div class="icon-box-2 with-line"
                         style="background: #ffffff;width:200px;height: 150px; margin-left: 27px;">
                        <i class="im im-icon-Checked-User" style="border: 1px solid;color: #000000;width: 66px;
    height: 66px;"></i>
                        <h3 style="margin-top: 3px;font-size: 20px;color: #000">{{ 'company'| get_item_by_lang }}</h3>

                    </div>
                    <ul class="list-4 color"
                        style="color: #000000;text-align: initial;margin-left: 26%;font-size: 13px">
                        <li style="line-height: 15px;"><a href="#">{{ 'What_we_do'| get_item_by_lang }}</a></li>
                        <li style="line-height: 15px;"><a href="#">{{ 'Philosophy'| get_item_by_lang }}</a></li>
                        <li style="line-height: 15px;"><a href="#">{{ 'investor_relations'| get_item_by_lang }}</a></li>
                        <li style="line-height: 15px;"><a href="#">{{ 'client_center'| get_item_by_lang }}</a></li>
                        <li style="line-height: 15px;"><a href="#">{{ 'careers'| get_item_by_lang }}</a></li>
                        <li style="line-height: 15px;"><a href="#">{{ 'advertise'| get_item_by_lang }}</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </section>

{% endblock %}
