{% extends 'base.html' %}
{% block content2 %}
    {% load change_lang %}

    {% include 'parent_category_slider.html' %}
    <div class="main-search-container centered" data-background-image="/media/main-search-background-01.jpg"
         style="height: 215px;background-image: url(&quot;/media/main-search-background-01.jpg&quot;);">
        <div class="main-search-inner">
            <div class="container">
                <div class="row">
                    <form action="{% url 'listArch:urun-adi-arama' %}" method="get">
                        {% csrf_token %}

                        <div class="col-md-12">
                            <h2 style="font-family: 'Allerta Stencil', sans-serif;">
                                <span class="typed-words">{{ scrolling_text.description }}</span>
                            </h2>
                            <h4>{{ scrolling_text.subTextDesc }}</h4>
                            <div class="main-search-input">
                                <div class="main-search-input-item">
                                    <input type="text" placeholder="Start your Search ..." value=""
                                           name="product_name" id="product_name" oninput="searchGetProduct()"
                                           autocomplete="off"/><br>
                                    <div id="search_product"></div>
                                </div>
                                <button class="button" type="submit">
                                    {{ 'search'|get_item_by_lang }}
                                </button>

                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Video -->

    </div>

{% endblock %}

{% block content %}
    {% include 'count_box.html' %}
    <div id="titlebar" style="border-bottom:1px solid #ffff;border-top:2px solid #fd9116;">
        <div class="" style="margin-left: 20px">
            <div class="row">
                <div class="col-md-12">
                    <!-- Breadcrumbs -->
                    <nav id="breadcrumbs">
                        <ul>
                            <li><a href="{% url 'listArch:index' %}"> {{ 'home_page'|get_item_by_lang }}</a></li>
                            <li><a href="{% url 'listArch:profile-page' %}">{{ 'profile'|get_item_by_lang }}</a></li>
                            <li><a href="{% url 'listArch:firma-bilgileri' company.pk %}">{{ company.name }}</a></li>


                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="row"
         style="padding-left: 40px;
    padding-right: 40px;
         ">
        <div class="row  margin-bottom-5 margin-top-5" style="border: 1px solid #fff;
    padding-top: 10px;padding-left: 15px;">
            <div class="col-md-1" style="padding-left: 0;
                     padding-right: 0;">
                <a href="#"><img height="75" src="/media/user.png" alt=""></a>
            </div>
            <div class="col-md-1" style="padding-left: 0;
                     padding-right: 0;">
                <h4>{{ company.user.first_name }} {{ company.user.last_name }}</h4>
                <p>{{ company.country.name }}</p>
            </div>
            <div class="col-md-10">
                <div id="listing-nav" class="listing-nav-container">
                    <ul class="listing-nav" style="height: 60px;font-size: 15px;background: transparent;">
                        <li><a href="#listing-story" class="">{{ 'storyline'|get_item_by_lang }}</a></li>
                        <li><a href="#listing-class">{{ 'diversification'|get_item_by_lang }}</a></li>
                        <li><a href="#classifying">{{ 'classifying'|get_item_by_lang }}</a></li>
                        <li><a href="#listing-spec">{{ 'spectrum'|get_item_by_lang }}</a></li>
                        <li><a href="#listing-catalog">{{ 'catalogue'|get_item_by_lang }}</a></li>
                        <li><a href="#listing-benc">{{ 'benchmark'|get_item_by_lang }}</a></li>
                        <li><a href="#listing-edit">{{ 'editorials'|get_item_by_lang }}</a></li>
                        <li><a href="#listing-trade">{{ 'trade_show'|get_item_by_lang }}</a></li>
                        <li><a href="#listing-press">{{ 'press'|get_item_by_lang }}</a></li>
                        <li><a href="#listing-media">{{ 'media_board'|get_item_by_lang }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row"
             style="padding-left: 40px;
    padding-right: 40px;
         background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/media/back.jpg);">
            <div class="col-md-9" style="padding-right: 0px;padding-left: 0;">


                <div class="row">
                    <div class="col-md-8  ">
                        <div class="col-md-6" style="padding-right: 5px;padding-left: 0;">
                            <div class="col-md-12" style="padding-right: 5px;padding-left: 5px;">
                                <a style="font-size: 20px;
    background-color: #ffffff;
    padding: 20px;"
                                   class="button book-now fullwidth margin-top-5">{{ 'make_request'|get_item_by_lang }}</a>
                            </div>
                            <div class="col-md-6" style="padding-right: 5px;padding-left:5px">
                                <a href="#" style="font-size: 14px;
    background: #fd9116;    line-height: 12px;

    padding: 5px;"
                                   class="button book-now fullwidth margin-top-5">{{ 'brochure_in_prints'|get_item_by_lang }}</a>
                            </div>
                            <div class="col-md-6" style="padding-right: 5px;padding-left:5px">
                                <a href="#" style="    font-size: 14px;
    background: #fd9116;    line-height: 12px;

    padding: 5px;"
                                   class="button book-now fullwidth margin-top-5">{{ 'price_quotation'|get_item_by_lang }}</a>
                            </div>
                            <div class="col-md-6" style="padding-right: 5px;padding-left:5px">
                                <a href="#" style="    font-size: 14px;
    background: #fd9116;    line-height: 12px;

    padding: 5px;"
                                   class="button book-now fullwidth margin-top-5">{{ 'catalogue_prints'|get_item_by_lang }}</a>
                            </div>
                            <div class="col-md-6" style="padding-right: 5px;padding-left:5px">
                                <a href="#" style="    font-size: 14px;
    background: #fd9116;    line-height: 12px;

    padding: 5px;"
                                   class="button book-now fullwidth margin-top-5">{{ 'BIM/CAD_files'|get_item_by_lang }}</a>
                            </div>
                            <div class="col-md-6" style="padding-right: 5px;padding-left:5px">
                                <a href="#" style="    font-size: 14px;
    background: #fd9116;    line-height: 12px;

    padding: 5px;"
                                   class="button book-now fullwidth margin-top-5">{{ 'catalog_soft_copy'|get_item_by_lang }}</a>
                            </div>
                            <div class="col-md-6" style="padding-right: 5px;padding-left:5px">
                                <a href="#" style="    font-size: 14px;
    background: #fd9116;    line-height: 12px;

    padding: 5px;"
                                   class="button book-now fullwidth margin-top-5">{{ 'nearby_dealer_list'|get_item_by_lang }}</a>
                            </div>
                            <div class="col-md-6" style="padding-right: 5px;padding-left:5px">
                                <a href="#" style="    font-size: 14px;
    background: #fd9116;    line-height: 12px;

    padding: 5px;"
                                   class="button book-now fullwidth margin-top-5">{{ 'spec_sheet'|get_item_by_lang }}</a>
                            </div>
                            <div class="col-md-6" style="padding-right: 5px;padding-left:5px">
                                <a href="#" style="    font-size: 14px;
    background: #fd9116;    line-height: 12px;

    padding: 5px;"
                                   class="button book-now fullwidth margin-top-5">{{ 'ask_a_question'|get_item_by_lang }}</a>
                            </div>


                            <div class="col-md-12" style="padding-right: 5px;padding-left: 5px;">
                                <div class="col-md-12" style="padding-right: 0px;padding-left: 1px;">
                                    <a style="font-size: 20px; background-color: #ffffff; padding: 20px;"
                                       class="button book-now fullwidth margin-top-5">{{ 'make_a_contact'|get_item_by_lang }}</a>
                                </div>
                                <div class="col-md-6" style="padding-right: 5px;padding-left:1px">
                                    <a href="#" style="    font-size: 14px;
    background: #fd9116;    line-height: 12px;

    padding: 5px;"
                                       class="button book-now fullwidth margin-top-5">{{ 'web_site'|get_item_by_lang }}</a>
                                </div>
                                <div class="col-md-6" style="padding-right: 1px;padding-left:5px">
                                    <a href="#" style="    font-size: 14px;
    background: #fd9116;    line-height: 12px;

    padding: 5px;"
                                       class="button book-now fullwidth margin-top-5">{{ 'address'|get_item_by_lang }}</a>
                                </div>
                                <div class="col-md-6" style="padding-right: 5px;padding-left:1px">
                                    <a href="#" style="    font-size: 14px;
    background: #fd9116;    line-height: 12px;

    padding: 5px;"
                                       class="button book-now fullwidth margin-top-5">{{ 'e-mail'|get_item_by_lang }}</a>
                                </div>
                                <div class="col-md-6" style="padding-right: 1px;padding-left:5px">
                                    <a href="#" style="    font-size: 14px;
    background: #fd9116;    line-height: 12px;

    padding: 5px;"
                                       class="button book-now fullwidth margin-top-5">{{ 'phone'|get_item_by_lang }}</a>
                                </div>
                                <div class="col-md-6" style="padding-right: 5px;padding-left:1px">
                                    <a href="#" style="    font-size: 14px;
    background: #fd9116;    line-height: 12px;

    padding: 5px;"
                                       class="button book-now fullwidth margin-top-5">{{ 'internet_communications'|get_item_by_lang }}</a>
                                </div>
                                <div class="col-md-6" style="padding-right: 1px;padding-left:5px">
                                    <a href="" style="    font-size: 14px;
    background: #fd9116;    line-height: 12px;
    padding: 5px;"
                                       class="button book-now fullwidth margin-top-5">{{ 'map'|get_item_by_lang }}</a>
                                </div>

                            </div>


                        </div>

                        <div class="col-md-6" style="padding-right: 0px;padding-left: 5px;">
                            <div class="col-md-12" style="padding-right: 5px;padding-left: 5px;">
                                <a style="font-size: 20px;
    background-color: #ffffff;
    padding: 20px;"
                                   class="button book-now fullwidth margin-top-5">{{ 'request_call'|get_item_by_lang }}</a>
                            </div>
                            <div class="col-md-6" style="padding-right: 5px;padding-left:5px">
                                <a href="#" style="font-size: 14px;
    background: #fd9116;    line-height: 12px;

    padding: 5px;"
                                   class="button book-now fullwidth margin-top-5">{{ 'phone' |get_item_by_lang }}</a>
                            </div>
                            <div class="col-md-6" style="padding-right: 5px;padding-left:5px">
                                <a href="#" style="font-size: 14px;
    background: #fd9116;    line-height: 12px;

    padding: 5px;"
                                   class="button book-now fullwidth margin-top-5">+90 555 555 55 55</a>
                            </div>
                            <div class="col-md-6" style="padding-right: 5px;padding-left:5px">
                                <a href="#" style="ffont-size: 14px;
    background: #fd9116;    line-height: 12px;

    padding: 5px;"
                                   class="button book-now fullwidth margin-top-5">{{ 'preferred_time'|get_item_by_lang }}</a>
                            </div>
                            <div class="col-md-6" style="padding-right: 5px;padding-left:5px">
                                <a href="#" style="font-size: 14px;
    background: #fd9116;    line-height: 12px;

    padding: 5px;"
                                   class="button book-now fullwidth margin-top-5">14.30</a>
                            </div>
                            <div class="col-md-6" style="padding-right: 5px;padding-left:5px">
                                <a href="#" style="font-size: 14px;
    background: #fd9116;    line-height: 12px;

    padding: 5px;"
                                   class="button book-now fullwidth margin-top-5">{{ 'contact_person'|get_item_by_lang }}</a>
                            </div>
                            <div class="col-md-6" style="padding-right: 5px;padding-left:5px">
                                <a href="#" style="font-size: 14px;
    background: #fd9116;    line-height: 12px;

    padding: 5px;"
                                   class="button book-now fullwidth margin-top-5">George Philip</a>
                            </div>
                            <div class="col-md-6" style="padding-right: 5px;padding-left:5px">
                                <a href="#" style="font-size: 14px;
    background: #fd9116;    line-height: 12px;

    padding: 5px;"
                                   class="button book-now fullwidth margin-top-5">{{ 'request_topic'|get_item_by_lang }}</a>
                            </div>
                            <div class="col-md-6" style="padding-right: 5px;padding-left:5px">
                                <a href="#" style="ffont-size: 14px;
    background: #fd9116;    line-height: 12px;

    padding: 5px;"
                                   class="button book-now fullwidth margin-top-5">------</a>
                            </div>


                            <div class="col-md-12" style="padding-right: 0px;padding-left: 0;">
                                <div class="col-md-12" style="padding-right: 5px;padding-left: 5px;">
                                    <a style="font-size: 20px;
    background-color: #ffffff;
    padding: 20px;"
                                       class="button book-now fullwidth margin-top-5">{{ 'BRANCH_OFFICE_RETAILER_SUPPLIERS'|get_item_by_lang }}</a>
                                </div>
                                <div class="col-md-6" style="padding-right: 5px;padding-left:5px">
                                    <a href="#" style="font-size: 14px;
    background: #fd9116;    line-height: 12px;

    padding: 5px;"
                                       class="button book-now fullwidth margin-top-5">{{ 'country'|get_item_by_lang }}</a>
                                </div>
                                <div class="col-md-6" style="padding-right: 5px;padding-left:5px">
                                    <a href="#" style="font-size: 14px;
    background: #fd9116;    line-height: 12px;

    padding: 5px;"
                                       class="button book-now fullwidth margin-top-5">TURKEY</a>
                                </div>
                                <div class="col-md-6" style="padding-right: 5px;padding-left:5px">
                                    <a href="#" style="font-size: 14px;
    background: #fd9116;    line-height: 12px;

    padding: 5px;"
                                       class="button book-now fullwidth margin-top-5">{{ 'state'|get_item_by_lang }}</a>
                                </div>
                                <div class="col-md-6" style="padding-right: 5px;padding-left:5px">
                                    <a href="#" style="font-size: 14px;
    background: #fd9116;    line-height: 12px;

    padding: 5px;"
                                       class="button book-now fullwidth margin-top-5">TR</a>
                                </div>
                                <div class="col-md-6" style="padding-right: 5px;padding-left:5px">
                                    <a href="#" style="font-size: 14px;
    background: #fd9116;    line-height: 12px;

    padding: 5px;"
                                       class="button book-now fullwidth margin-top-5">{{ 'city'|get_item_by_lang }}</a>
                                </div>
                                <div class="col-md-6" style="padding-right: 5px;padding-left:5px">
                                    <a href="#" style="font-size: 14px;
    background: #fd9116;    line-height: 12px;

    padding: 5px;"
                                       class="button book-now fullwidth margin-top-5">ANKARA</a>
                                </div>
                                <div class="col-md-6" style="padding-right: 5px;padding-left:5px">
                                    <a href="#" style="font-size: 14px;
    background: #fd9116;    line-height: 12px;

    padding: 5px;"
                                       class="button book-now fullwidth margin-top-5">{{ 'business_type'|get_item_by_lang }}</a>
                                </div>
                                <div class="col-md-6" style="padding-right: 5px;padding-left:5px">
                                    <a href="#" style="font-size: 14px;
    background: #fd9116;    line-height: 12px;

    padding: 5px;"
                                       class="button book-now fullwidth margin-top-5">BRANCH</a>
                                </div>


                            </div>


                        </div>

                    </div>
                    <div class="col-md-4  " style="    padding-left: 0px;padding-right: 5px;">
                        <div class="col-md-12" style="padding-right: 15px;padding-left: 0;">
                            <div class="col-md-12" style="padding-right: 5px;padding-left: 5px;">
                                <a style="font-size: 20px;
    background-color: #ffffff;
    padding: 20px;"
                                   class="button book-now fullwidth margin-top-5">{{ 'download_available_files'|get_item_by_lang }}</a>
                            </div>
                            <div class="col-md-6" style="padding-right: 5px;padding-left:5px">
                                <a href="#" style="font-size: 14px;
    background: #fd9116;    line-height: 12px;

    padding: 5px;"
                                   class="button book-now fullwidth margin-top-5">{{ 'PDF_general_catalog'|get_item_by_lang }}</a>
                            </div>
                            <div class="col-md-6" style="padding-right: 5px;padding-left:5px">
                                <a href="#" style="font-size: 14px;
    background: #fd9116;    line-height: 12px;

    padding: 5px;"
                                   class="button book-now fullwidth margin-top-5">{{ 'ethics'|get_item_by_lang }}</a>
                            </div>
                            <div class="col-md-6" style="padding-right: 5px;padding-left:5px">
                                <a href="#" style="font-size: 14px;
    background: #fd9116;    line-height: 12px;

    padding: 5px;"
                                   class="button book-now fullwidth margin-top-5">{{ 'technical_files'|get_item_by_lang }}</a>
                            </div>
                            <div class="col-md-6" style="padding-right: 5px;padding-left:5px">
                                <a href="#" style="font-size: 14px;
    background: #fd9116;    line-height: 12px;

    padding: 5px;"
                                   class="button book-now fullwidth margin-top-5">{{ 'legal_notes'|get_item_by_lang }}</a>
                            </div>
                            <div class="col-md-6" style="padding-right: 5px;padding-left:5px">
                                <a href="#" style="font-size: 14px;
    background: #fd9116;    line-height: 12px;

    padding: 5px;"
                                   class="button book-now fullwidth margin-top-5">{{ 'CAD_file'|get_item_by_lang }}</a>
                            </div>
                            <div class="col-md-6" style="padding-right: 5px;padding-left:5px">
                                <a href="#" style="font-size: 14px;
    background: #fd9116;    line-height: 12px;

    padding: 5px;"
                                   class="button book-now fullwidth margin-top-5">{{ 'general_sale_notes'|get_item_by_lang }}</a>
                            </div>
                            <div class="col-md-6" style="padding-right: 5px;padding-left:5px">
                                <a href="#" style="font-size: 14px;
    background: #fd9116;    line-height: 12px;

    padding: 5px;"
                                   class="button book-now fullwidth margin-top-5">{{ 'BIM_file'|get_item_by_lang }}</a>
                            </div>
                            <div class="col-md-6" style="padding-right: 5px;padding-left:5px">
                                <a href="#" style="font-size: 14px;
    background: #fd9116;    line-height: 12px;

    padding: 5px;"
                                   class="button book-now fullwidth margin-top-5">{{ 'company_profile'|get_item_by_lang }}</a>
                            </div>
                            <div class="col-md-6" style="padding-right: 5px;padding-left:5px">
                                <a href="#" style="font-size: 14px;
    background: #fd9116;    line-height: 12px;

    padding: 5px;"
                                   class="button book-now fullwidth margin-top-5">{{ 'warranty'|get_item_by_lang }}</a>
                            </div>
                            <div class="col-md-6" style="padding-right: 5px;padding-left:5px">
                                <a href="#" style="font-size: 14px;
    background: #fd9116;    line-height: 12px;

    padding: 5px;"
                                   class="button book-now fullwidth margin-top-5">{{ 'company_reports'|get_item_by_lang }}</a>
                            </div>
                            <div class="col-md-6" style="padding-right: 5px;padding-left:5px">
                                <a href="#" style="font-size: 14px;
    background: #fd9116;    line-height: 12px;

    padding: 5px;"
                                   class="button book-now fullwidth margin-top-5">F2</a>
                            </div>
                            <div class="col-md-6" style="padding-right: 5px;padding-left:5px">
                                <a href="#" style="font-size: 14px;
    background: #fd9116;    line-height: 12px;

    padding: 5px;"
                                   class="button book-now fullwidth margin-top-5">C2</a>
                            </div>
                            <div class="col-md-6" style="padding-right: 5px;padding-left:5px">
                                <a href="#" style="font-size: 14px;
    background: #fd9116;    line-height: 12px;

    padding: 5px;"
                                   class="button book-now fullwidth margin-top-5">F3</a>
                            </div>
                            <div class="col-md-6" style="padding-right: 5px;padding-left:5px">
                                <a href="#" style="font-size: 14px;
    background: #fd9116;    line-height: 12px;

    padding: 5px;"
                                   class="button book-now fullwidth margin-top-5">C3</a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-md-3" style="padding-right: 0px;padding-left: 15px;">
                <div class="col-md-12" style="padding-right: 0px;padding-left: 0;">
                    <div class="col-md-12" style="padding-right: 0px;padding-left: 0;">
                        <a style="    font-size: 20px;
    background-color: #ffffff;
    padding: 20px;" id="map"
                           class="button book-now fullwidth margin-top-5">{{ 'map_'|get_item_by_lang }}</a>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3056.569435590825!2d32.75022981524414!3d39.995726379416304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34bfd011a82b9%3A0xcc65f5053f664ea3!2zT1hJVCBCxLBMxLDFnsSwTSBURUtOT0xPSsSwTEVSxLAgTFREIMWeVMSw!5e0!3m2!1str!2str!4v1598535733242!5m2!1str!2str"
                                width="100%" height="225" frameborder="0" style="border:0;    margin-top: 5px;"
                                allowfullscreen=""
                                aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row sticky-wrapper">
            <div class="col-lg-12 col-md-12 ">
                <br><br>
                <div class="row">
                    {% for desc in definitions %}

                        <div id="listing-story" class="row  margin-bottom-5 margin-top-5">
                            <div class="col-lg-9" style="padding-left: 0px;">
                                <div class="col-lg-12" style=" border: 2px solid #fd9116;">
                                    <h4 style="font-weight: 800">{{ desc.desc.title_desc }}</h4>
                                    <p>InBytes ID {{ company.pk }}</p>

                                </div>
                                <div class="col-lg-12"
                                     style=" border: 1px solid #e0e0e0;margin-top: 10px;margin-right: 10px;">

                                    <p> {{ desc.desc.description |safe }}</p>
                                </div>
                            </div>
                            <div class="col-lg-3"
                                 style=" border: 1px solid #e0e0e0;padding: 0;">
                                <img src="/media/about.jpg" alt="">
                            </div>
                        </div>

                        <br>
                    {% endfor %}
                </div>
                <div class="row">
                    <div id="listing-class" class="row  margin-bottom-5 margin-top-5">
                        <div class="blog-page">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 ">
                                    <div class="col-md-12" style="border: 2px solid #fd9116;;margin-bottom: 5px;">
                                        <h4 style="font-weight: 800">DIVERSIFICATION OF PRODUCTS
                                            BY {{ company.name }}</h4>

                                    </div>

                                    {% for product_cat in category_product %}
                                        <script>
                                            $('.center').slick({
                                            centerMode: true,
                                            centerPadding: '60px',
                                            slidesToShow: 3,
                                            responsive: [
                                                {
                                                    breakpoint: 768,
                                                    settings: {
                                                        arrows: false,
                                                        centerMode: true,
                                                        centerPadding: '40px',
                                                        slidesToShow: 3
                                                    }
                                                },
                                                {
                                                    breakpoint: 480,
                                                    settings: {
                                                        arrows: false,
                                                        centerMode: true,
                                                        centerPadding: '40px',
                                                        slidesToShow: 1
                                                    }
                                                }
                                            ]
                                        });</script>
<div class="center" style="width: 25%;display:contents">
                                        <div class="blog-post margin-bottom-5 margin-top-5" style="border: 1px solid">
                                            <a style="border: 1px solid #fff;"
                                               href="{% url 'listArch:urun-filtreleme-sayfasi' product_cat.category.pk %}"
                                               class="post-img">
                                                <img src="/media/{{ product_cat.product_category.cover_image }}" alt="">
                                            </a>
                                            <br>
                                            <div class="post-content">
                                                <a style="font-size: 12px;"
                                                   href="{% url 'listArch:urun-filtreleme-sayfasi' product_cat.category.pk %}"
                                                   class=""> {{ product_cat.category.name }} <i
                                                        class="fa fa-angle-right"></i></a>
                                            </div>
                                        </div>
</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if collections %}
                    <div class="row">
                        <div class="row  margin-bottom-5 margin-top-5">
                            <div class="blog-page">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 ">
                                        <div id="classifying" class="col-md-12"
                                             style="border: 2px solid #fd9116;;margin-bottom: 5px;">
                                            <h4 style="font-weight: 800">{{ 'CLASSIFYING_BY'|get_item_by_lang }} {{ company.name }}</h4>

                                        </div>

                                        {% for collection in collections %}

                                            <div class="blog-post margin-bottom-5 margin-top-5"
                                                 style="border: 1px solid">
                                                <a style="border: 1px solid #fff;"
                                                   href=""
                                                   class="post-img">
                                                    <img src="/media/{{ collection.image }}" alt="">
                                                </a>
                                                <br>
                                                <div class="post-content">
                                                    <a style="font-size: 12px;"
                                                       href=""
                                                       class=""> {{ collection.name }} <i
                                                            class="fa fa-angle-right"></i></a>
                                                </div>
                                            </div>

                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}