{% extends 'base.html' %}
{% block content2 %}
    <div class="main-search-container centered dark-overlay" style="height: 92vh !important;
    border-top: 2px solid #fd9116;">

        <div class="main-search-inner">

            <div class="container">

                <div class="row">
                    <form action="{% url 'listArch:urun-adi-arama' %}" method="get">
                        {% csrf_token %}

                        <div class="col-md-12" style="margin-bottom: 50px">
                            <h2 style="font-family: 'Allerta Stencil', sans-serif;">
                                <span class="typed-words">{{ scrolling_text.description }}</span>
                            </h2>
                            <h4>{{ scrolling_text.subTextDesc }}</h4>
                            <div class="main-search-input">
                                <div class="main-search-input-item">
                                    <input type="text" placeholder="Start your Search ..." value=""
                                           name="product_name" id="product_name" oninput="searchGetProduct()"
                                           autocomplete="off"/><br>
                                    <div id="search_product"></div>
                                </div>
                                <button class="button" type="submit">
                                    Search
                                </button>

                            </div>

                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="highlighted-categories">
                            <!-- Box -->
                            {% for category in parent_categories %}

                                    <a href="{% url 'listArch:anasayfa-urunler' category.pk %}"
                                       class="highlighted-category" style="">
                                        <img height="36" src="/media/worker.png" alt="Bricks-in-Bytes">
                                        <h4 style="margin-top: 10px;display: block;margin-right: 15px;">{{ category.name }}</h4>
                                    </a>

                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Video -->
        <div class="video-container">
            <video poster="" loop autoplay muted>
                <source src="/media/3-clipchamp.mp4" type="video/mp4">
            </video>
        </div>
    </div>
{% endblock %}
{% block content %}
    <!-- Category Boxes / End -->
    <!-- Info Section -->
{% include 'count_box.html' %}

    <!-- Logo Carousel -->

    <div class="row">
        <!-- Carousel -->
        <div class="col-md-12" style=" margin-bottom: 40px;  margin-top: 1px;padding-bottom: 1px;
    border-bottom: 2px solid #fd9116;">
            <div class="slider2">
                {% for company in companies %}
                    <div class="">
                        <img  style=" filter: grayscale(100%); height: 45px" src="/media/{{ company.logo }}" alt="" class="img-responsive">

                    </div>
                {% endfor %}


            </div>


        </div>

        <!-- Carousel / End -->
    </div>


    <!-- Logo Carousel / End -->


    <div id="footer">

        <div class="" style="margin-left: 45px;margin-right: 45px">
            <div class="row">

                <div class="col-md-2 col-sm-6 " style="text-transform: uppercase;font-size: 13px">
                    <h4>HAKKIMIZDA</h4>
                    <ul class="footer-links">
                        <li><a href="#">Biz ne yapıyoruz?</a></li>
                        <li><a href="#">Vizyon</a></li>
                        <li><a href="#">Yatırımcı İlişkileri</a></li>
                        <li><a href="#">Reklamlar</a></li>
                        <li><a href="#">Müşteri Hizmetleri</a></li>
                        <li><a href="#">Kariyer</a></li>
                    </ul>

                    <div class="clearfix"></div>
                </div>


                <div class="col-md-2 col-sm-6 " style="text-transform: uppercase;font-size: 13px">
                    <h4>SOSYAL MEDYA</h4>
                    <ul class="footer-links">
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Instagram</a></li>
                    </ul>


                    <div class="clearfix"></div>
                </div>


                <div class="col-md-2  col-sm-12" style="text-transform: uppercase;font-size: 13px">
                    <h4>İLETİŞİM</h4>

                    <ul class="footer-links">
                        <li><a href="#">Telefon</a></li>
                        <li><a href="#">Mail</a></li>
                        <li><a href="#">Whatsapp</a></li>
                        <li><a href="#">Telefon</a></li>
                        <li><a href="#">Mail</a></li>
                        <li><a href="#">Whatsapp</a></li>
                    </ul>
                </div>


                <div class="col-md-2  col-sm-12" style="text-transform: uppercase;font-size: 13px">
                    <h4>DİL</h4>

                    <ul class="footer-links">
                        <li><a href="#">TR</a></li>
                        <li><a href="#">EN</a></li>

                    </ul>
                </div>


                <div class="col-md-4  col-sm-12">
                    <h4>BİZE KATIL</h4>
                    <section id="contact">


                        <div id="contact-message">

                        </div>

                        <div class="row">
                            <div class="col-md-9" style="padding-left: 0px; padding-right: 0px;">

                            </div>

                            <div class="col-md-3" style="padding-left: 0px; padding-right: 0px;">
                                <div>
                                    <p style="margin-bottom:2px"><a style="color: #000;
    width: -webkit-fill-available;
    padding: 5px;background: #fd9116;
    text-align: center;" href="{% url 'listArch:kullanici-giris-yap' %}" class="button">LOGIN</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9" style="padding-left: 0px; padding-right: 0px;">

                            </div>

                            <div class="col-md-3" style="padding-left: 0px; padding-right: 0px;">
                                <div>
                                    <p style="margin-bottom:2px"><a style="color: #000;
    width: -webkit-fill-available;
    padding: 5px;
    text-align: center;background: #fd9116" href="{% url 'listArch:kullanici-kaydet' %}" class="button">SIGN UP</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <form method="post" action="{% url 'listArch:abone-ekle' %}#subscriber"
                                  autocomplete="on">
                                {% csrf_token %}

                                <div class="col-md-9" style="padding-left: 0px; padding-right: 0px;">

                                    <input name="subscriber" type="text" id="subscriber"
                                           placeholder="Your E-Mail Address for news" required="required"
                                           class="error">

                                </div>

                                <div class="col-md-3" style="padding-left: 0px; padding-right: 0px;">


                                    <input style="width: -webkit-fill-available;background:#fd9116" type="submit"
                                           class="submit button" id="submit" value="SUBSCRIBE">


                                </div>

                            </form>

                        </div>

                        {% if messages %}
                            {% for message in messages %}
                                <div class="notification success closeable" style="height: 30px;text-align: center">
                                    <p style="line-height: 1px;text-align: center">{{ message }}</p>
                                    <a class="close" style="line-height: 0px"></a>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </section>

                </div>


            </div>

        </div>
    </div>

    <!-- Logo Carousel -->

    <div class="row">


        <!-- Carousel -->
        <div class="col-md-12" style="margin-top: 40px;border-top: 2px solid #fd9116;padding-top: 1px">
            <div class="slider">
                {% for company in companies %}
                    <div class="">
                        <img  style=" filter: grayscale(100%);height: 45px" src="/media/{{ company.logo }}" alt="" class="img-responsive">

                    </div>
                {% endfor %}


            </div>


            <script>
                window.onload = function () {
                    $('.slider').slick({
                        infinite: true,
                        autoplay: true,
                        autoplaySpeed: 1000,
                        cssEase: 'ease-out',
                        slidesToShow: 9,
                        slidesToScroll: 1,
                        variableWidth: true,
                        centerMode: true,


                    });


                    $('.slider2').slick({
                        autoplay: true,
                        infinite: true,
                        autoplaySpeed: 1000,
                        cssEase: 'ease-out',
                        slidesToShow: 9,
                        slidesToScroll: -1,
                        variableWidth: true,


                    });

                };
            </script>
        </div>

        <!-- Carousel / End -->
    </div>


    <!-- Logo Carousel / End -->

    <section class="fullwidth padding-top-35 padding-bottom-20" style="background: #1c3444;border-top: 2px solid #fd9116;
    border-bottom: 2px solid #fd9116;
    margin-top: 1px;">
        <div class="">
            <div class="row icons-container" style="margin:0 25px">
                <!-- Stage -->
                <div class="col-md-2">
                    <div class="icon-box-2 with-line"
                         style="background: #1c3444;width:200px;height: 150px; margin-left: 27px;">
                        <i class="im im-icon-Bag-Coins" style="border: 1px solid;width: 70px;
    height: 70px;"></i>
                        <h3 style="margin-top: 3px;font-size: 20px">ÜRÜNLER</h3>

                    </div>
                    <ul class="list-4 color" style="text-align: initial;margin-left: 20%;font-size: 13px;">
                        {% for parent in category_parent %}
                            <li style="line-height: 15px;">
                                <a href="{% url 'listArch:anasayfa-urunler' parent.category.pk %}">{{ parent.category.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- Stage -->
                <div class="col-md-2">
                    <div class="icon-box-2 with-line"
                         style="background: #ffffff;width:200px;height: 150px; margin-left: 27px;">
                        <i class="im im-icon-Checked-User" style="border: 1px solid;color: #000000;width: 66px;
    height: 66px;"></i>
                        <h3 style="margin-top: 3px;font-size: 20px;color: #000">İNCELEME</h3>

                    </div>
                    <ul class="list-4 color"
                        style="color: #000000;text-align: initial;margin-left: 26%;font-size: 13px">
                        <li style="line-height: 15px;"><a href="#">ÜRÜNLER</a></li>
                        <li style="line-height: 15px;"><a href="#">ÜRÜNLER</a></li>
                        <li style="line-height: 15px;"><a href="#">ÜRÜNLER</a></li>
                        <li style="line-height: 15px;"><a href="#">ÜRÜNLER</a></li>
                        <li style="line-height: 15px;"><a href="#">ÜRÜNLER</a></li>
                        <li style="line-height: 15px;"><a href="#">ÜRÜNLER</a></li>
                    </ul>
                </div>
                <!-- Stage -->
                <div class="col-md-2">
                    <div class="icon-box-2 with-line"
                         style="background: #1c3444;width:200px;height: 150px; margin-left: 27px;">
                        <i class="im im-icon-Checked-User" style="border: 1px solid;width: 70px;
    height: 70px;"></i>
                        <h3 style="margin-top: 3px;font-size: 20px">ÇÖZÜMLERİMİZ</h3>

                    </div>
                    <ul class="list-4 color" style="text-align: initial;margin-left: 26%;font-size: 13px">
                        <li style="line-height: 15px;"><a href="#">ÜRÜNLER</a></li>
                        <li style="line-height: 15px;"><a href="#">ÜRÜNLER</a></li>
                        <li style="line-height: 15px;"><a href="#">ÜRÜNLER</a></li>
                        <li style="line-height: 15px;"><a href="#">ÜRÜNLER</a></li>
                        <li style="line-height: 15px;"><a href="#">ÜRÜNLER</a></li>
                        <li style="line-height: 15px;"><a href="#">ÜRÜNLER</a></li>
                    </ul>
                </div>
                <!-- Stage -->
                <div class="col-md-2">
                    <div class="icon-box-2 with-line"
                         style="background: #ffffff;width: 200px;height: 150px; margin-left: 27px;">
                        <i class="im im-icon-Checked-User" style="color: #000000;border: 1px solid;width: 70px;
    height: 70px;"></i>
                        <h3 style="margin-top: 3px;font-size: 20px;color: #000000">İNCELEME</h3>

                    </div>
                    <ul class="list-4 color"
                        style="color: #000000;text-align: initial;margin-left: 26%;font-size: 13px">
                        <li style="line-height: 15px;"><a href="#">ÜRÜNLER</a></li>
                        <li style="line-height: 15px;"><a href="#">ÜRÜNLER</a></li>
                        <li style="line-height: 15px;"><a href="#">ÜRÜNLER</a></li>
                        <li style="line-height: 15px;"><a href="#">ÜRÜNLER</a></li>
                        <li style="line-height: 15px;"><a href="#">ÜRÜNLER</a></li>
                        <li style="line-height: 15px;"><a href="#">ÜRÜNLER</a></li>
                    </ul>
                </div>
                <!-- Stage -->
                <div class="col-md-2">
                    <div class="icon-box-2 with-line"
                         style="background: #1c3444;width: 200px;height: 150px; margin-left: 27px;">
                        <i class="im im-icon-Checked-User" style="border: 1px solid;width: 70px;
    height: 70px;"></i>
                        <h3 style="margin-top: 3px;font-size: 20px">İŞ</h3>

                    </div>
                    <ul class="list-4 color" style="text-align: initial;margin-left: 26%;font-size: 13px">
                        <li style="line-height: 15px;"><a href="#">ÜRÜNLER</a></li>
                        <li style="line-height: 15px;"><a href="#">ÜRÜNLER</a></li>
                        <li style="line-height: 15px;"><a href="#">ÜRÜNLER</a></li>
                        <li style="line-height: 15px;"><a href="#">ÜRÜNLER</a></li>
                        <li style="line-height: 15px;"><a href="#">ÜRÜNLER</a></li>
                        <li style="line-height: 15px;"><a href="#">ÜRÜNLER</a></li>
                    </ul>
                </div>
                <!-- Stage -->
                               <div class="col-md-2">
                    <div class="icon-box-2 with-line"
                         style="background: #ffffff;width:200px;height: 150px; margin-left: 27px;">
                        <i class="im im-icon-Checked-User" style="border: 1px solid;color: #000000;width: 66px;
    height: 66px;"></i>
                        <h3 style="margin-top: 3px;font-size: 20px;color: #000">İNCELEME</h3>

                    </div>
                    <ul class="list-4 color"
                        style="color: #000000;text-align: initial;margin-left: 26%;font-size: 13px">
                        <li style="line-height: 15px;"><a href="#">ÜRÜNLER</a></li>
                        <li style="line-height: 15px;"><a href="#">ÜRÜNLER</a></li>
                        <li style="line-height: 15px;"><a href="#">ÜRÜNLER</a></li>
                        <li style="line-height: 15px;"><a href="#">ÜRÜNLER</a></li>
                        <li style="line-height: 15px;"><a href="#">ÜRÜNLER</a></li>
                        <li style="line-height: 15px;"><a href="#">ÜRÜNLER</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </section>

{% endblock %}

<script>
    function getCookie(name) {
        var cookieValue = null;
        var i = 0;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (i; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        crossDomain: false, // obviates need for sameOrigin test
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });


</script>



