{% extends 'base.html' %}
{% load static %}
{% load change_lang %}
{% block content2 %}
    {% include 'parent_category_slider.html' %}
    <div class="main-search-container centered" data-background-image="/media/main-search-background-01.jpg"
         style="height: 215px;">
        <div class="row">
            <form action="{% url 'listArch:urun-adi-arama' %}" method="get">
                {% csrf_token %}

                <div class="col-md-12" style="margin-bottom: 50px">
                    <h2 style="font-family: 'Allerta Stencil', sans-serif;">
                        <span class="typed-words">{{ scrolling_text.description }}</span>
                    </h2>
                    <h4>{{ scrolling_text.subTextDesc }}</h4>
                    <div class="main-search-input">
                        <div class="main-search-input-item">
                            <input type="text" placeholder="Start your Search ..." value=""
                                   name="product_name" id="product_name" oninput="searchGetProduct()"
                                   autocomplete="off"/><br>
                            <div id="search_product"></div>
                        </div>
                        <button class="button" type="submit">
                            {{ 'search'| get_item_by_lang }}
                        </button>

                    </div>
                </div>
            </form>
        </div>
        <!-- Video -->

    </div>
{% endblock %}


{% block content %}
    {% include 'count_box.html' %}
    <div id="titlebar" style="border-bottom:1px solid #fff;border-top:2px solid #fd9116">
        <div class="" style="margin-left: 20px">
            <div class="row">
                <div class="col-md-12">
                    <!-- Breadcrumbs -->
                    <nav id="breadcrumbs">
                        <ul>
                            <li><a href="#">{{ 'home_page'| get_item_by_lang }}</a></li>
                            <li><a href="{% url 'listArch:profile-page' %}">{{ 'profile'|get_item_by_lang }}</a></li>

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="listing-share no-border ">
                <ul class="share-buttons margin-top-10 margin-bottom-0">
                    {% for profile in profiles %}
                        {% if forloop.counter < 7 %}
                            <div class="col-lg-2 col-md-2 page-padding ">
                                <li><a style="text-transform: uppercase;" class="gplus-share"
                                       href="{% url 'listArch:profil-bloglarini-getir' profile.business_type.pk %}"> {{ profile.description }}</a>
                                </li>
                            </div>
                        {% endif %}
                    {% endfor %}

                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="listing-share no-border">


                <ul class="share-buttons margin-top-10 margin-bottom-0">
                    {% for profile in profiles %}
                        {% if forloop.counter > 6 %}
                            <div class="col-lg-2 col-md-2 page-padding ">
                                <li><a style="text-transform: uppercase;" class="gplus-share"
                                       href="#"> {{ profile.description }}</a></li>
                            </div>

                        {% endif %}

                    {% endfor %}


                </ul>
                <div class="clearfix"></div>
            </div>

        </div>
        <hr>
    {% if not blogs and  not company_blogs %}




            <div class="row">
                <h3 style="text-align: center">Bu profilde blog bulunamadı.</h3>
            </div>

        {% else %}
        <div class="row ">
            <div class="main-search-input margin-top-20 margin-bottom-20 " style="width: 100%;">

                <div class="main-search-input-item">
                    <input type="text" placeholder="Search" value="">
                </div>

                <div class="main-search-input-item">
                    <select data-placeholder="All Categories" class="chosen-select">
                        <option selected>SUBMITTED BY</option>
                        <option>Hotels</option>
                        <option>Restaurants</option>
                        <option>Fitness</option>
                        <option>Events</option>
                    </select>

                </div>

                <div class="main-search-input-item">
                    <select data-placeholder="All Categories" class="chosen-select">
                        <option selected>ALL CATEGORY</option>
                        <option>Hotels</option>
                        <option>Restaurants</option>
                        <option>Fitness</option>
                        <option>Events</option>
                    </select>

                </div>


                <div class="main-search-input-item">
                    <select data-placeholder="All Categories" class="chosen-select">
                        <option selected>SUBJECT</option>
                        <option>Hotels</option>
                        <option>Restaurants</option>
                        <option>Fitness</option>
                        <option>Events</option>
                    </select>

                </div>

                <div class="main-search-input-item">
                    <select data-placeholder="All Categories" class="chosen-select">
                        <option selected>SORT BY</option>
                        <option>Hotels</option>
                        <option>Restaurants</option>
                        <option>Fitness</option>
                        <option>Events</option>
                    </select>

                </div>


                <button class="button" onclick="">
                    Search
                </button>

            </div>
        </div>
            <div class="row">
                <div class="col-md-12 margin-top-20 margin-bottom-20" style="border: 1px solid;width: 100%;">
                    <h4 style="font-weight: 800">{{ 'profile_by'|get_item_by_lang }} ..</h4>

                </div>
            </div>
            <div class="row " style="padding-bottom: 20px;">
                {% if blogs %}
                    {% for blog in blogs %}
                        <div class="col-md-3 padding-0-lr">


                            <div class="blog-page">
                                <div class="row margin-bottom-20 margin-top-20" style="margin-left: 0px;
    margin-right: 0px; ">

                                    <div class=" padding-bottom-40">
                                        <div class="blog-post"
                                             style="border: 2px solid #fd9116;       background: #fff; width: 100%;">
                                            <p style="text-align: right;margin-bottom: 0;    color: #000;font-size: 8px;">
                                                {{ blog.blog_name.description }}</p>

                                            <div class=" row"
                                                 style="border: 1px solid #000;margin-left: 0;margin-right: 0;">
                                                <div class=" col-md-12 padding-top-20">
                                                    <a href="#" class="post-img">
                                                        <img src="/media/{{ blog.blog.profile.image }}"
                                                             alt=""
                                                             style=" height: 50px; width: auto; ">
                                                    </a><br>

                                                </div>
                                                {% for image in blog.images %}
                                                    <div class="col-md-12">
                                                        <a style="border: 1px solid #fff;" href="#" class="post-img">
                                                            <img src="/media/{{ image.image.image }}"
                                                                 style="" alt="">
                                                        </a>
                                                        <br>
                                                    </div>

                                                {% endfor %}
                                            </div>

                                            <div class="post-content margin-top-7" style="border: 1px solid #000">

                                                <a style="    line-height: 20px;color: #000;"
                                                   href="#"> {{ blog.desc.title_desc }}</a>
                                                <br>
                                                <a style="    line-height: 20px;color: #000;"
                                                   href="#">{{ blog.blog.profile.category.name }}</a>
                                                <br>
                                                <a style="    line-height: 20px;color: #000;"
                                                   href="#">{{ blog.blog.profile.city }}/{{ blog.blog.profile.country }}</a>
                                                <br><br>
                                                <a style="    line-height: 20px;color: #000;font-size: 8px" href="#">Since
                                                    1999</a>
                                                <br>
                                                <a style="font-size: 12px;color: #000;
    border: 1px solid #000;line-height: 30px;
    padding: 5px;" href="#" class="">NEXT <i class="fa fa-angle-right"></i></a>

                                            </div>


                                        </div>


                                    </div>

                                </div>

                            </div>


                        </div>

                    {% endfor %}
                {% endif %}
            </div>


            <div class="row" style="padding-bottom: 20px;">
                {% if company_blogs %}
                    {% for company_blog in company_blogs %}
                        <div class="col-md-3 padding-0-lr">


                            <div class="blog-page">
                                <div class="row margin-bottom-20 margin-top-20" style="margin-left: 0px;
    margin-right: 0px; ">

                                    <div class=" padding-bottom-40">


                                        <div class="blog-post"
                                             style="border: 2px solid #fd9116;       background: #fff; width: 100%;padding: 0 10px 10px 10px !important;">
                                            <p style="text-align: right;margin-bottom: 0;    line-height: 15px;color: #000;font-size: 8px;">{{ company_blog.profile_name.description }}</p>


                                            <div class=" row"
                                                 style="border: 1px solid #000;margin-left: 0;margin-right: 0;">
                                                <div class="col-md-12 padding-top-20">
                                                    <a style="border: 1px solid #000" href="#" class="post-img">
                                                        <img src="/media/{{ company_blog.company.company.logo }}"
                                                             alt=""
                                                             style=" height: 50px; width: auto; ">
                                                    </a><br>

                                                </div>
                                                {% for image in company_blog.images %}
                                                    <div class="col-md-6 padding-bottom-10">
                                                        <a style="border: 1px solid #fff;" href="#" class="post-img">
                                                            <img src="/media/{{ image.image.image }}"
                                                                 style=" height: 100px; width: auto; " alt="">
                                                        </a><br>

                                                    </div>


                                                {% endfor %}


                                            </div>

                                            <br>


                                            <div class="post-content" style="border: 1px solid #000">

                                                <a style="    line-height: 20px;color: #000;"
                                                   href="#">{{ company_blog.company.company.name }}</a>
                                                <br>
                                                {% for category in company_blog.company.product.category.all %}
                                                    {% if not category.is_parent %}
                                                        <a style="    line-height: 20px;color: #000;" href="#">

                                                            {{ category.name }}
                                                            {% else %}
                                                        </a>
                                                    {% endif %}
                                                {% endfor %}
                                                <br>
                                                <a style="    line-height: 20px;color: #000;"
                                                   href="#">{{ company_blog.company.company.country }}</a>
                                                <br><br>
                                                <a style="    line-height: 20px;color: #000;font-size: 8px" href="#">Since
                                                    {{ company_blog.company.company.date.year }}</a>
                                                <br>
                                                <a style="font-size: 12px;color: #000;
    border: 1px solid #000;line-height: 30px;
    padding: 5px;" href="#" class="">NEXT <i class="fa fa-angle-right"></i></a>

                                            </div>


                                        </div>


                                    </div>

                                </div>

                            </div>


                        </div>


                    {% endfor %}
                {% endif %}
            </div>

        {% endif %}

    </div>


{% endblock %}