{% extends 'base_layout.html' %}
{% block content %}


    {% if messages %}
        {% for message in messages %}


            {% if message.tags == 'warning' %}

                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Hata !</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}


            {% if message.tags == 'success' %}

                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Başarılı !</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}
        {% endfor %}


    {% endif %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Kullanıcı Ekle

        </h1>

    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->


        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <div class="box box-primary">

                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-6 col-xs-12">

                                <div class="box-body">
                                    <div class="form-group">
                                        <label>{{ profile_form.profileImage.label }}</label>
                                        {{ profile_form.profileImage }}
                                    </div>

                                    <div class="form-group">
                                        <label>{{ user_form.first_name.label }}</label>
                                        {{ user_form.first_name }}
                                        <!-- /.input group -->
                                    </div>
                                    <div class="form-group">
                                        <label> {{ user_form.last_name.label }}</label>
                                        {{ user_form.last_name }}
                                    </div>

                                    <div class="form-group">
                                        <label> {{ profile_form.mobilePhone.label }}</label>
                                        {{ profile_form.mobilePhone }}
                                    </div>
                                    <div class="form-group">
                                        <label for="acc-email">E-Posta</label>
                                        {{ user_form.email }}
                                    </div>

                                </div>

                            </div>


                            <div class="col-lg-6 col-xs-12">

                                <div class="box-body">
                                    <div class="form-group">
                                        <label>{{ company_form.companyName.label }}</label>
                                        {{ company_form.companyName }}
                                    </div>
                                    <div class="form-group">
                                        <label>{{ company_form.taxName.label }}</label>
                                        {{ company_form.taxName }}
                                    </div>
                                    <div class="form-group">
                                        <label>{{ company_form.taxNumber.label }}</label>
                                        {{ company_form.taxNumber }}
                                    </div>
                                    <div class="form-group">
                                        <label> {{ profile_form.phone.label }}</label>
                                        {{ profile_form.phone }}
                                    </div>
                                    <div class="form-group">
                                        <label>{{ profile_form.address.label }}</label>
                                        {{ profile_form.address }}
                                    </div>


                                </div>

                            </div>


                            <div class="col-lg-12 col-xs-12">

                                <div class="box-footer">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Sözleşmeyi okudum,kabul ediyorum
                                        </label>
                                    </div>

                                    <button type="submit" class="btn btn-primary">Ekle</button>
                                </div>

                            </div>

                            <!-- /.box-body -->

                        </div>
                    </form>
                </div>


            </div>


        </div>


    </section>
    <!-- /.content -->



{% endblock %}