{% extends 'base_layout.html' %}

{% block content %}


    <div class="modal fade bd-example-modal-lg" id="modal-default" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Talep Durum Diyagramı</h4>
                </div>
                <div class="modal-body bodys">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Kapat</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <section class="content-header">
        <h1>
            {{ obj.name }}
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'kurye:kullanıcı-dashboard' %}"><i class="fa fa-dashboard"></i> Anasayfa</a></li>
            <li><a href="">{{ parent.name }}</a></li>
            <li><a href="">{{ obj.name }}</a></li>
        </ol>


    </section>
    <section class="content">
        {% if messages %}
            {% for message in messages %}


                {% if message.tags == 'warning' %}

                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i> Hata !</h4>


                        <ul class="messages">
                            {% for message in messages %}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>


                    </div>

                {% endif %}


                {% if message.tags == 'success' %}

                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i> Başarılı !</h4>


                        <ul class="messages">
                            {% for message in messages %}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>


                    </div>

                {% endif %}
            {% endfor %}


        {% endif %}
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">


            <section class="col-lg-12 ">


                <div class="box-body">


                    <div class="box box-primary">
                        <div class="box-body">
                            <br>
                            <table id="companyactivetask" class="display responsive nowrap" cellspacing="0"
                                   width="100%">
                                <thead>
                                <tr style="text-align: center">

                                    <th>Talep No</th>
                                    <th></th>
                                    <th>İptal Et</th>
                                    <th>Durumu</th>
                                    <th>Müşteri</th>
                                    <th>Adres</th>
                                    <th>Toplam Tutar</th>
                                    <th>Ödeme Yöntemi</th>
                                    <th>Kurye</th>
                                    <th>Açıklama</th>
                                    <th>Talep Edilen Tarih/Zaman</th>
                                    <th>Kurye Hizmet Ücreti</th>


                                </tr>
                                </thead>
                                <tbody>

                                {% for task in tasks %}
                                    <tr style="text-align: center">
                                        <td>{{ task.task.request.pk }} </td>
                                        <td>
                                            <button type="button" onclick="getTaskDetail({{ task.task.pk }})"
                                                    class="btn btn-primary">Detay
                                            </button>
                                        </td>


                                        {% if  task.task_situation.name == 'Kurye Atandı' %}
                                            <td>
                                                <a href="{% url 'kurye:kullanıcı talabi iptal et' task.task.request.pk %}"><span
                                                        class="label label-danger">İptal Et</span></a></td>

                                        {% else %}
                                            <td></td>
                                        {% endif %}

                                        {% if task.task_situation.name == 'Paket Teslimi İçin Yolda' or task.task_situation.name == 'Paket Alımı İçin Yolda' %}
                                            <td><span
                                                    class="label label-warning">{{ task.task_situation.name }} - {{ task.creationDate }} </span>
                                            </td>
                                        {% elif   task.task_situation.name == 'Teslim Edildi' %}
                                            <td><span
                                                    class="label label-success">{{ task.task_situation.name }} - {{ task.creationDate }}</span>
                                            </td>
                                        {% elif task.task_situation.name == 'Teslim Edilemedi' or task.task_situation.name == 'İptal Edildi' %}
                                            <td><span
                                                    class="label label-danger">{{ task.task_situation.name }} - {{ task.creationDate }}</span>
                                            </td>

                                        {% elif task.task_situation.name == 'Kurye Atandı' %}
                                            <td><span
                                                    class="label label-primary">{{ task.task_situation.name }} - {{ task.creationDate }}</span>
                                            </td>
                                        {% else %}
                                            <td><span
                                                    class="label label-default">{{ task.task_situation.name }} - {{ task.creationDate }}</span>
                                            </td>
                                        {% endif %}
                                        <td>{{ task.task.request.receiver.customer }}</td>
                                        {% if task.task.request.address %}
                                            <td>{{ task.task.request.address }}</td>
                                        {% else %}
                                            <td>{{ task.task.request.receiver.address }}</td>
                                        {% endif %}

                                        <td>{{ task.task.request.totalPrice }} ₺</td>
                                        <td>{{ task.task.request.payment_type }}</td>
                                        <td>{{ task.task.courier.courier.user.first_name }} {{ task.task.courier.courier.user.last_name }}</td>
                                        {% if task.task.request.description %}
                                            <td>{{ task.task.request.description }}</td>
                                        {% else %}
                                            <td>Açıklama Yapılmadı</td>
                                        {% endif %}
                                        <td>{{ task.task.request.exitDate }} - {{ task.task.request.exitTime }} </td>
                                        <td>{{ task.task.request.discount_price }} ₺</td>


                                    </tr>

                                {% endfor %}

                                </tbody>
                            </table>
                        </div>

                    </div>


                </div>
            </section>


        </div>
        <!-- /.row (main row) -->

    </section>

    <script>
        $(function () {
            $('#companyactivetask').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true
            })

        })
    </script>
    <script>
        function getRequest(id) {
            var html = '';
            $.get(" {% url "kurye:talep getir" pk=12121   %}".replace(/12121/, id.toString()))
                .done(function (response) {
                    var request = response.request[0];


                    html = '<div class="box-body table-responsive no-padding">';
                    html += ' <table class="table table-hover">';
                    html += ' <tbody><tr>';
                    html += '<th>Müşteri Ad Soyad</th><th>Müşteri Adres</th><th>Firma</th><th>Ödenecek Ücret</th><th>Ödeme Yöntemi</th><th>Açıklama</th></tr><tr>';
                    html += '<td>' + request.request.receiver.customer + '</td><td>' + request.request.receiver.address + '</td><td>' + request.request.company.companyName + '</td><td>' + request.request.totalPrice + '₺</td><td>' + request.request.payment_type + '</td><td>' + request.request.description + '</td>';
                    html += '</tr></tbody></table></div>';

                    $(".bodys").html(html);

                });

            $('.bd-example-modal-lg').modal('show');


            $(".bd-example-modal-lg").on("hidden.bs.modal", function () {
                // put your default event here
                $(".bodys").html("");
            });


        }


        function formatDate(date) {
            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear(),
                hour = d.getHours(),
                minute = d.getMinutes();


            if (month.length < 2)
                month = '0' + month;
            if (day.length < 2)
                day = '0' + day;

            date = [day, month, year].join('.');
            time = [hour, minute].join(':');


            return [date, time].join('-');
        }


        function getTaskDetail(id) {

            var html = '';
            $.get(" {% url "kurye:gorev-durum-detaylari-timeline" pk=12121   %}".replace(/12121/, id.toString()))
                .done(function (response) {
                    debugger;
                    var task = response.task;

                    html = '<ul class="timeline">';
                    for (let i = 0; i < task.length; i++) {

                        html += '<li><i class="fa fa-clock-o bg-green"></i>';
                        html += '<div class="timeline-item">';

                        html += '<span class="time"><i class="fa fa-clock-o"></i>' + formatDate(task[i].creationDate) + '</span>';
                        html += '<h3 class="timeline-header"><a>Görev No: ' + task[i].task.id + ' </a>';
                        if (task[i].task_situation.name === 'İptal Edildi' || task[i].task_situation.name === 'Teslim Edilemedi')
                            html += '<span class="label label-danger"> ' + task[i].task_situation.name + '</span> </h3>';
                        else if (task[i].task_situation.name === 'Kurye Atandı')
                            html += '<span class="label label-warning"> ' + task[i].task_situation.name + '</span> </h3>';
                        else if (task[i].task_situation.name === 'Paket Teslimi İçin Yolda' || task[i].task_situation.name === 'Paket Alımı İçin Yolda')
                            html += '<span class="label label-info"> ' + task[i].task_situation.name + '</span> </h3>';
                        else if (task[i].task_situation.name === 'Teslim Edildi')
                            html += '<span class="label label-primary"> ' + task[i].task_situation.name + '</span> </h3>';
                        else
                            html += '<span class="label label-success"> ' + task[i].task_situation.name + '</span> </h3>';
                        html += '<div class="timeline-body">';
                        html += '<b>Talep No : ' + task[i].task.request.id + ' </b><br>';
                        html += '<b>Kurye : </b> ' + task[i].task.courier.courier.user.first_name + ' ' + task[i].task.courier.courier.user.last_name + '<br>';
                        html += '<b>Müşteri : </b> ' + task[i].task.request.receiver.customer + '<br>';
                        html += '<b>Görev Durumu Güncelleme Zamanı : </b>' + formatDate(task[i].creationDate) + ' <br>';
                        html += '<b>Paket Alım Zamanı : </b>' + task[i].task.request.exitDate + '-' + task[i].task.request.exitTime + '<br>';
                        if (task[i].task.request.description) {
                            html += '<b>Talep Açıklaması : </b>' + task[i].task.request.description + '<br>';
                        } else
                            html += '<b>Talep Açıklaması : </b>Açıklama Yapılmadı<br>';

                        if (task[i].task.description) {
                            html += '<b>Kurye Açıklaması : </b>' + task[i].task.description + '<br>';
                        } else
                            html += '<b>Kurye Açıklaması : </b>Açıklama Yapılmadı<br>';


                    }
                    html += '<li> <i class="fa fa-clock-o bg-gray"></i></li></ul>';

                    $(".bodys").html(html);

                });

            $('.bd-example-modal-lg').modal('show');


            $(".bd-example-modal-lg").on("hidden.bs.modal", function () {
                // put your default event here
                $(".bodys").html("");
            });


        }

    </script>





{% endblock %}

