{% extends 'base_layout.html' %}

{% block content %}


    <div class="modal modal-danger fade in deneme" tabindex="-1" role="dialog" id="modal-danger"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Uyarı</h4>
                </div>
                <div class="modal-body">
                    <p id="content"></p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <section class="content-header">
        <h1>
            {{ obj.name }}

        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'kurye:kullanıcı-dashboard' %}"><i class="fa fa-dashboard"></i> Anasayfa</a></li>
            <li><a href="">{{ parent.name }}</a></li>
            <li><a href="">{{ obj.name }}</a></li>
        </ol>

    </section>
    <section class="content">
        {% if messages %}
            {% for message in messages %}


                {% if message.tags == 'warning' %}

                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i> Hata !</h4>


                        <ul class="messages">
                            {% for message in messages %}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>


                    </div>

                {% endif %}


                {% if message.tags == 'success' %}

                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i> Başarılı !</h4>


                        <ul class="messages">
                            {% for message in messages %}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>


                    </div>

                {% endif %}
            {% endfor %}


        {% endif %}
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">


            <section class="col-lg-12 ">


                <div class="box-body">

                    <div class="box box-primary">

                        <div class="box-body">

                            <input type="hidden" value="" id="id" name="id">
                            <br>
                            <table id="company" class="table  table-bordered display responsive nowrap "
                                   cellspacing="0" width="100%">
                                <thead>
                                <tr>


                                    <th >Firma No</th>
                                    <th style="text-align: center">İşlem</th>
                                    <th>Firma Sahibi</th>
                                    <th>Firma Adı</th>
                                    <th>Vergi Numarası</th>
                                    <th>Vergi Dairesi</th>
                                    <th>İl-İlçe-Mahalle</th>
                                    <th>Adresi</th>
                                    <th>Telefon</th>
                                    <th>Email</th>
                                    <th>İndirim</th>


                                </tr>
                                </thead>
                                <tbody>


                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>


                                </tr>


                                </tbody>
                            </table>
                        </div>


                    </div>


                </div>
            </section>


        </div>
        <!-- /.row (main row) -->

    </section>

    <script>
        $(function () {
            $('#company').DataTable({

                "processing": true,
                "serverSide": true,
                "paging": true,
                "ordering": true,
                "ajax": {
                    "url": "{% url 'kurye:api-company-list' %}",
                    "type": "POST"
                },
                "columns": [
                    {"data": "id"},

                    {
                        "render": function (data, type, full, meta, row) {
                            console.log(full.content);
                            let html;
                            document.getElementById('id').value = full.id;
                            let url = "{% url 'kurye:kullanıcı-firma-guncelle' 0 %}";
                            url = url.replace(0, full.uuid);
                            let url_password = "{% url 'kurye:kullanici-bilgi-gonder' 0 %}";
                            url_password = url_password.replace(0, full.profile.uuid);

                            let uuid = full.uuid;
                            html = '<td style="text-align: center"><button title="Sil" style="margin-left:20px;" class="btn btn-danger"  type="submit"  onclick="company_pasif(\'' + uuid + '\')"><i class="fa fa-close"></i></button>';
                            html += '<a style="margin-left:5px;" href="' + url + '" class="btn btn-primary" title="Düzenle" type="button"><i class="fa fa-pencil"></i></a>';
                            html += ' <a style="margin-left: 5px;" href="' + url_password + '" title="Şifre Sıfırla" class="btn btn-warning" type="button"><i class="fa fa-key"></i></a></td>';

                            return html;

                        }
                    },

                    {
                        "data": null,
                        render: function (data, type, row) {
                            return row.profile.user.first_name + ' ' + row.profile.user.last_name;

                        }
                    },

                    {"data": "companyName"},
                    {"data": "taxNumber"},
                    {"data": "taxName"},
                    {
                        "data": null,
                        render: function (data, type, row) {
                            return 'Malatya-' + row.profile.district + '-' + row.profile.neighborhood + '';

                        }
                    },
                    {"data": "profile.address"},
                    {"data": "profile.mobilePhone"},
                    {"data": "profile.user.email"},
                    {
                        "data": null,
                        render: function (data, type, row) {
                            return '%' + row.discount;

                        }
                    },


                ]

            })

        })
    </script>

    <script>


        function getCookie(name) {
            var cookieValue = null;
            var i = 0;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (i; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });


    </script>
    <script>
        function company_pasif(uuid) {

            document.getElementById('content').innerHTML = 'Firmayı Silmek İstediğinizden Emin Misiniz?';
            $(".deneme").on("shown.bs.modal", function (e) {

                $("#btn-conf").click(function () {
                    $.ajax({
                        url: "{% url 'kurye:kullanıcı-firma-sil' %}",
                        type: "post", // or "get"
                        data: {
                            company_id: uuid,


                        },
                        success: function (result) {

                            if (result.status == 'Success') {
                                swal("Başarılı", "Firma Başarıyla Silindi", "success");
                                window.location.replace("{% url "kurye:kullanıcı listesi" %}");


                            } else {
                                swal("Başarısız", result.messages, "error");
                            }
                        }
                    });
                });

            }).modal('show');
            $('#btn-close').click(function () {
                $('#modal-danger').modal('hide');
            });
        }
    </script>

{% endblock %}

