{% extends 'base_layout.html' %}

{% block content %}

    {% if messages %}
        {% for message in messages %}


            {% if message.tags == 'warning' %}

                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Hata !</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}


            {% if message.tags == 'success' %}

                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Başarılı !</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}
        {% endfor %}


    {% endif %}
    <!-- success modal -->
    <div class="modal fade bd-example-modal-lg" tabindex="-1" id="situation" role="dialog"
         aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">


            <div class="modal-content" style="height:fit-content">

                <div class="modal-header" style="background-color:#3c8dbc ">
                    <font color="white">Tamamlanan Görevler</font>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body bodys bodys-1234">

                </div>

                <div class="modal-footer footer-1234 ">

                </div>
            </div>
        </div>
    </div>


    <section class="content-header">
        <h1>
            {{ obj.name }}
        </h1>

        <ol class="breadcrumb">
            <li><a href="{% url 'kurye:kullanıcı-dashboard' %}"><i class="fa fa-dashboard"></i> Anasayfa</a></li>
            <li><a href="">{{ parent.name }}</a></li>
            <li><a href="">{{ obj.name }}</a></li>
        </ol>

    </section>
    <section class="content">

        <!-- /.row -->
        <!-- Main row -->
        <div class="row">


            <section class="col-lg-12 ">


                <div class="box-body">


                    <div class="box box-primary">
                        <div class="box-body">
                            <br>
                            <table id="companyendingtasks" class="display responsive nowrap " cellspacing="0"
                                   width="100%">
                                <thead>
                                <tr>

                                    <th>No</th>
                                    <th>Müşteri Ad Soyad</th>
                                    <th>Teslim Tarihi</th>
                                    <th>Durumu</th>
                                    <th>Onayla/Detay</th>


                                </tr>
                                </thead>
                                <tbody>

                                {% for task in tasks %}
                                    <tr>


                                        <td>{{ forloop.counter }} </td>
                                        <td>{{ task.task.request.receiver.customer }}</td>
                                        <td>{{ task.creationDate }}</td>
                                        <td><span class="label label-warning">{{ task.task_situation.name }}</span></td>
                                        <td>

                                            <a
                                                    href="{% url 'kurye:görevi bitir' task.task.pk %}"> <span
                                                    class="label label-danger">Görevi Tamamla</span></a>
                                            <a class="btn" onclick="getTask({{ task.task.pk }})"><span
                                                    class="label label-primary">Detay</span></a>

                                        </td>

                                    </tr>

                                {% endfor %}

                                </tbody>
                            </table>
                        </div>

                    </div>


                </div>
            </section>


        </div>
        <!-- /.row (main row) -->

    </section>

    <script>
        $(function () {
            $('#companyendingtasks').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true
            })

        })
    </script>
    <script>
        function getTask(id) {

            var html = '';
            $.get(" {% url "kurye:gorev getir" pk=12121   %}".replace(/12121/, id.toString()))
                .done(function (response) {

                    var task = response.task[0];
                    task.creationDate = formatDate(task.creationDate);


                    html = '<div class="box-body table-responsive no-padding">';
                    html += ' <table class="table table-hover">';
                    html += ' <tbody><tr>';
                    html += '<th>Müşteri Ad Soyad</th><th>Müşteri Adres</th><th>Firma</th><th>Kurye</th><th>Talep Tarihi</th></tr><tr>';
                    html += '<td>' + task.task.request.receiver.customer + '</td><td>' + task.task.request.receiver.address + '</td><td>' + task.task.request.company.companyName + '</td><td>' + task.task.courier.courier.user.first_name + ' ' + task.task.courier.courier.user.last_name + '</td><td>' + task.task.request.exitDate + ' / ' + task.task.request.exitTime + '</td>';
                    html += '</tr></tbody></table></div>';

                    $(".bodys").html(html);

                });

            $('.bd-example-modal-lg').modal('show');


            $(".bd-example-modal-lg").on("hidden.bs.modal", function () {
                // put your default event here
                $(".bodys").html("");
            });


        }


        function formatDate(date) {
            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2)
                month = '0' + month;
            if (day.length < 2)
                day = '0' + day;

            return [day, month, year].join('.');
        }
    </script>

{% endblock %}

