{% extends 'base_layout.html' %}

{% block content %}
    <div class="modal fade bd-example-modal-lg" tabindex="-1" id="situation" role="dialog"
         aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">


            <div class="modal-content" style="height:fit-content">

                <div class="modal-header" style="background-color:#3c8dbc ">
                    <font color="white">Açıklama</font>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body bodys bodys-1234">

                </div>

                <div class="modal-footer footer-1234 ">

                </div>
            </div>
        </div>
    </div>

    <section class="content-header">
        <h1>
            Firma Düzenle

        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'listArch:admin-dashboard' %}"><i class="fa fa-dashboard"></i> Anasayfa</a></li>
            <li><a>Firmalar</a></li>
            <li><a>Firma Düzenle</a></li>
        </ol>

    </section>
    <section class="content">
        {% if messages %}
            {% for message in messages %}


                {% if message.tags == 'warning' %}

                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i> Hata !</h4>


                        <ul class="messages">
                            {% for message in messages %}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>


                    </div>

                {% endif %}


                {% if message.tags == 'success' %}

                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i> Başarılı !</h4>


                        <ul class="messages">
                            {% for message in messages %}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>


                    </div>

                {% endif %}
            {% endfor %}


        {% endif %}
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">


            <section class="col-lg-12 ">


                <div class="box-body">

                    <div class="box box-primary">

                        <div class="box-body">

                            <form
                                    method="post" enctype="multipart/form-data" id="form-option"
                                    class="form-horizontal">
                                {% csrf_token %}
                                <input type="hidden" id="row_number" name="row_number" value="">


                                <fieldset>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab-general">
                                                    <div class="form-group required">
                                                        <label class="col-sm-2 control-label"
                                                               for="input-name"> {{ company_form.name.label }}<small
                                                                style="color: red">* </small> </label>
                                                        <div class="col-sm-10">
                                                            {{ company_form.name }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group required">
                                                        <label class="col-sm-2 control-label"
                                                               for="input-image">Logo<small
                                                                style="color: red">* </small> </label>
                                                        <div class="col-sm-5">{{ company_form.logo }}
                                                            <small style="color: red">(180*80 pixels) </small>

                                                        </div>
                                                        <div class="col-sm-5">
                                                            <img height="50" src="/media/{{ company.logo }}" alt="">

                                                        </div>

                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label"
                                                               for="input-image">Profil Adı<small
                                                                style="color: red">* </small> </label>
                                                        <div class="col-sm-10">{{ company_form.business_type }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label"
                                                               for="input-image">Hizmetleri Seçin </label>
                                                        <div class="col-sm-10">{{ company_form.service }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group required">
                                                        <label class="col-sm-2 control-label"
                                                               for="input-image">Firma Yetkili Adı<small
                                                                style="color: red">* </small> </label>
                                                        <div class="col-sm-10">{{ user_form.first_name }}
                                                            <input type="hidden" name="image" value="" id="input-image">
                                                        </div>
                                                    </div>
                                                    <div class="form-group required">
                                                        <label class="col-sm-2 control-label"
                                                               for="input-image">Firma Yetkili Soyadı<small
                                                                style="color: red">* </small> </label>
                                                        <div class="col-sm-10">{{ user_form.last_name }}
                                                            <input type="hidden" name="image" value="" id="input-image">
                                                        </div>
                                                    </div>
                                                    <div class="form-group required">
                                                        <label class="col-sm-2 control-label"
                                                               for="input-name">Firma Yetkili Ünvanı</label>
                                                        <div class="col-sm-10">
                                                            {{ company_form.title }}
                                                        </div>
                                                    </div>


                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label" for="input-image">Web Site
                                                            Adresi</label>
                                                        <div class="col-sm-10">{{ company_form.website }}
                                                        </div>
                                                    </div>

                                                    <div class="form-group required">
                                                        <label class="col-sm-2 control-label"
                                                               for="input-image">Email<small
                                                                style="color: red">* </small> </label>
                                                        <div class="col-sm-10">{{ user_form.email }}
                                                        </div>
                                                    </div>


                                                    <div class="form-group">

                                                        <label class="col-sm-2 control-label"
                                                        >Mağaza</label>
                                                        <div class="col-sm-10">
                                                            <select onchange="add_retail()"
                                                                    name="retail"
                                                                    id="retail"
                                                                    class="form-control">
                                                                <option value="">{{ company_from.retail }}</option>
                                                                <option value="">---</option>
                                                                {% for company in companies %}
                                                                    <option value="{{ company.pk }}">{{ company.name }}</option>
                                                                {% endfor %}
                                                                <option value="news">Yeni</option>
                                                            </select>

                                                            {% for retail in retails %}
                                                                <button id="retail-{{ retail.pk }}" type="button"
                                                                        onclick="retail_delete({{ retail.pk }})"
                                                                        class="btn bg- margin"><span><i
                                                                        class="fa fa-close"></i></span>
                                                                    {{ retail.name }}</button>

                                                            {% endfor %}
                                                        </div>
                                                    </div>

                                                    <div id="new-retail" name="new-retail">

                                                    </div>


                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label"
                                                       for="input-image">Sabit Telefon</label>
                                                <div class="col-sm-10">{{ company_form.phone }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label"
                                                       for="input-image">Cep Telefonu</label>
                                                <div class="col-sm-10">{{ company_form.mobilePhone }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="input-type">Adres</label>
                                                <div class="col-sm-10">
                                                    {{ company_form.address }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="input-type">Adres
                                                    Linki</label>
                                                <div class="col-sm-10">
                                                    {{ company_form.address_link }}
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label" for="input-type">Ülke<small
                                                                style="color: red">* </small> </label>
                                                <div class="col-sm-10">
                                                    {{ company_form.country }}
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label" for="input-type">Şehir<small
                                                                style="color: red">* </small> </label>
                                                <div class="col-sm-10">
                                                    {{ company_form.city }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="input-type">Konum</label>
                                                <div class="col-sm-10">
                                                    {{ company_form.map }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="input-type">Yıllık
                                                    Satış</label>
                                                <div class="col-sm-10">
                                                    {{ company_form.annualSales }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="input-type">Çalışan
                                                    Sayısı</label>
                                                <div class="col-sm-10">
                                                    {{ company_form.noOfEmployees }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="input-type">Kuruluş
                                                    Tarihi</label>
                                                <div class="col-sm-10">
                                                    {{ company_form.date }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="input-type">Sponsor
                                                    mu?</label>
                                                <div class="col-sm-10">
                                                    {{ company_form.isSponsor }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <input type="hidden" value="" id="code-row" name="code-row">


                                            </div>

                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row" id="accounts">
                                        <div class="form-group">
                                            <label class="col-sm-1 control-label" for="input-type">Sosyal Medya
                                            </label>
                                            <input type="hidden" value="" id="social_row" name="social_row">
                                            <div class="col-sm-11">
                                                <div class="form-group">
                                                    <div class="table-responsive">
                                                        <table id="social"
                                                               class="table table-striped table-bordered">
                                                            <thead>
                                                            <tr>
                                                                <td class="">Sosyal Medya</td>
                                                                <td class="">Hesap Linki</td>
                                                                <td></td>
                                                            </tr>
                                                            </thead>
                                                            <tbody>

                                                            {% for social in social_accounts %}
                                                                <tr id="social-row{{ forloop.counter0 }}">


                                                                    <td class="text-left">
                                                                        <input type="text" readonly
                                                                               id="company_social[{{ forloop.counter0 }}][name]"
                                                                               name="company_social[{{ forloop.counter0 }}][name]"
                                                                               value="{{ social.social_account.name }}"
                                                                               placeholder="Link"
                                                                               class="form-control"/>

                                                                        </select>
                                                                    </td>
                                                                    <td class="text-right"><input type="text"
                                                                                                  readonly
                                                                                                  id="company_social[{{ forloop.counter0 }}][link]"
                                                                                                  name="company_social[{{ forloop.counter0 }}][link]"
                                                                                                  value="{{ social.social_account.link }}"
                                                                                                  placeholder="Link"
                                                                                                  class="form-control"/>
                                                                    </td>

                                                                    <td class="text-left">
                                                                        <input type="hidden" value=""
                                                                               id="remove_row"
                                                                               name="remove_row"/>
                                                                        <button type="button"
                                                                                onclick="remove({{ forloop.counter0 }})"
                                                                                data-toggle="tooltip" title="Kaldır"
                                                                                class="btn btn-danger"><i
                                                                                class="fa fa-minus-circle"></i>
                                                                        </button>

                                                                        <button type="button"
                                                                                onclick="getCompanySocialAccount({{ social.pk }},{{ forloop.counter0 }})"
                                                                                data-toggle="tooltip"
                                                                                title="Düzenle"
                                                                                class="btn btn-primary"><i
                                                                                class="fa fa-edit"></i>
                                                                        </button>
                                                                    </td>
                                                                </tr>

                                                            {% endfor %}

                                                            <tfoot>
                                                            <tr>
                                                                <td colspan="3"></td>
                                                                <td class="text-left">
                                                                    <button type="button"
                                                                            onclick="addSocial({{ loop }});"
                                                                            data-toggle="tooltip" title=""
                                                                            class="btn btn-primary"
                                                                            data-original-title="Hesap Ekle"><i
                                                                            class="fa fa-plus-circle"></i></button>
                                                                </td>
                                                            </tr>
                                                            </tfoot>

                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label class="col-sm-1 control-label"
                                                       for="input-type">Firma Hakkında<small
                                                                style="color: red">* </small> </label>
                                                <div class="col-sm-11">
                                                    {{ company_form.userDescription }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <button type="submit" form="form-option" data-toggle="tooltip" title=""
                                        class="btn btn-primary pull-right" data-original-title="Kaydet"
                                        aria-describedby="tooltip514951">Kaydet
                                </button>


                            </form>
                        </div>
                        <hr>


                    </div>


                </div>

            </section>
        </div>
        <div class="modal modal-danger fade in deneme23" tabindex="-1" role="dialog" id="modal-danger"
             aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span></button>
                        <h4 class="modal-title">Uyarı</h4>
                    </div>
                    <div class="modal-body">
                        <p id="content"></p>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf"
                                data-dismiss="modal">Evet
                        </button>
                        <button type="button" class="btn btn-outline" id="btn-close">Hayır</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

    </section>

    <script>


        function getCookie(name) {
            var cookieValue = null;
            var i = 0;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (i; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });


    </script>
    <script>
        $(function () {
            $('.select2').select2();
            //Money Euro
            $('[data-mask]').inputmask();


            //Date picker
            $('#datepicker').datepicker({
                autoclose: true
            });


            //Timepicker
            $('.timepicker').timepicker({
                showInputs: false
            })
        })
    </script>

    <script>

        count_code = []
        code_row = {{ codes |length }} +1;

        function addCode() {
            debugger;
            let html = '';
            html += '<tr id="company-code-row' + code_row + '"><td><div  class="col-md-10"> <div class="col-md-6">';
            html += ' <input type="text" placeholder="Firma Kodu" class="form-control" id="company-code' + code_row + '" name="company-code' + code_row + '">';
            html += '</div><div class="col-md-6">';
            html += '<button type="button" onclick="remove_code(' + code_row + ');" data-toggle="tooltip" class="btn btn-xs btn-danger" data-original-title="Kod Ekle"><i class="fa fa-close"></i></button>';
            html += '</div></div>';
            html += '<div id="add-code" name="add-code"></div></td></tr>';

            $('#add-code tbody').append(html);
            count_code.push(parseInt(code_row));
            code_row++;
            document.getElementById("code-row").value = count_code;
        }

        function remove_code(id) {
            debugger;
            $('#company-code-row' + id + '').remove();
            count_code = jQuery.grep(count_code, function (value) {
                return value !== id;
            });
            document.getElementById("code-row").value = count_code;
            console.log(count_code)


        }

        let social_row = {{ loop }};
        let count = []


        $(document).ready(function () {
            debugger;
            for (let i = 0; i < social_row; i++) {
                count.push(i)
            }

        });

        function addSocial() {
            debugger;

            let html = '<tr id="social-row' + social_row + '">';
            html += '<td class="text-left">';
            html += '<select name="company_social[' + social_row + '][name]" class="form-control select2 " style="width: 100%" id="social">';
            html += '<option value="Instagram">Instagram</option><option value="Facebook">Facebook</option>';
            html += '<option value="Twitter">Twitter</option><option value="Pinterest">Pinterest</option></select></td>';
            html += '  <td class="text-right"><input type="text" name="company_social[' + social_row + '][link]" value="" placeholder="Link" class="form-control" /></td>';
            html += '  <td class="text-left"><button type="button" onclick="remove(' + social_row + ')" data-toggle="tooltip" title="Kaldır" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button>';
            html += ' <button type="button" onclick="" data-toggle="tooltip" title="Düzenle" class="btn btn-primary"><i class="fa fa-edit"></i></button></td>';
            html += '</tr>';


            $('#social tbody').append(html);

            count.push(parseInt(social_row));
            social_row++;
            document.getElementById("row_number").value = count;
        }

        let row_link;

        function remove(social_row) {
            debugger;
            $('#social-row' + social_row + '').remove();
            count = jQuery.grep(count, function (value) {
                return value !== social_row;
            });
            document.getElementById("row_number").value = count;
            console.log(count)


        }


        function editSocialAccount(id, count) {
            debugger;
            let name = document.getElementById('company_social[name]').value;
            let link = document.getElementById('company_social[link]').value;
            $.ajax({
                url: "{% url 'listArch:firma-sosyalMedya-düzenle'%}",
                type: "post", // or "get"
                async: false,
                data: {
                    social_id: id,
                    name: name,
                    link: link,

                },
                success: function (result) {
                    debugger;

                    if (result.status === 'Success') {


                        document.getElementById('company_social[' + count + '][link]').value = link;
                        document.getElementById('company_social[' + count + '][name]').value = name;


                        $('.bd-example-modal-lg').modal('hide');


                    } else {
                        swal("Başarısız", result.messages, "error");
                    }

                }

            });
        }

        function editCompanyCode(count, id) {
            debugger;
            document.getElementById('company-code-' + count + '').removeAttribute('readonly');
            let name = document.getElementById('company-code-' + count + '').value;
            $.ajax({
                url: "{% url 'listArch:firma-kod-düzenle'%}",
                type: "post", // or "get"
                async: false,
                data: {
                    code_id: id,
                    code: name,

                },
                success: function (result) {
                    debugger;

                    if (result.status === 'Success') {
                        swal("", result.messages, "success");

                    } else {
                        swal("", result.messages, "error");
                    }

                }

            });
        }


    </script>

    <script>
        function getCompanySocialAccount(id, count) {
            var html = '';
            $.get(" {% url "listArch:firma-sosyalMedya-hesap-getir" pk=12121   %}".replace(/12121/, id.toString()))
                .done(function (response) {
                    debugger;

                    var social = response.socialMedia[0];


                    html = '<div class="box-body table-responsive no-padding">';
                    html += ' <table class="table table-hover">';
                    html += ' <tbody><tr>';
                    html += '<th>Sosal Medya</th><th>Sosyal Medya Hesabı</th></tr><tr>';
                    html += '  <td class="text-right">';
                    html += '<select name="company_social[name]" id="company_social[name]" class="form-control select2 " style="width: 100%" id="social">';
                    html += '<option selected readonly value="' + social.name + '">' + social.name + '</option>';

                    html += '<option value="instagram">Instagram</option><option value="facebook">Facebook</option>';
                    html += '<option value="twitter">Twitter</option><option value="pinterest">Pinterest</option></select></td>';
                    html += '  <td class="text-right"><input type="text" name="company_social[link]" id="company_social[link]" name="company_social[link]" value="' + social.link + '" placeholder="Link" class="form-control" /></td>';


                    html += '  <td class="text-left"><button type="button" onclick="editSocialAccount(\'' + social.id + '\',\'' + count + '\')" data-toggle="tooltip" title="Kaydet" class="btn btn-primary"><i class="fa fa-save"></i></button>';
                    html += '</tr></tbody></table></div>';

                    $(".bodys").html(html);

                });

            $('.bd-example-modal-lg').modal('show');


            $(".bd-example-modal-lg").on("hidden.bs.modal", function () {
                // put your default event here
                $(".bodys").html("");
            });


        }


        function add_retail() {
            debugger;
            let e = document.getElementById("retail");
            let retail = e.options[e.selectedIndex].value;
            let html = "";
            if (retail === "news") {
                html = '<div class="form-group">';
                html += '<label class="col-sm-2 control-label" for="input-type">Mağaza Adı</label>';
                html += '<div class="col-sm-10"><input id="retail-name" name="retail-name" type="text" class="form-control" placeholder="Firma Adı">';
                html += '</div></div>';
                html += '<div class="form-group"><label class="col-sm-2 control-label" for="input-type">Mağaza Logo</label>';
                html += '<div class="col-sm-10">';
                html += '<input id="retail-logo" name="retail-logo" type="file" class="form-control"></div></div>';
            }

            document.getElementById('new-retail').innerHTML = html;

        }


        function retail_delete(id) {
            let html = 'Mağazayı kaldırmak istediğinizden emin misiniz?';
            document.getElementById('content').innerHTML = html;
            $(".deneme23").on("shown.bs.modal", function (e) {
                $("#btn-conf").click(function () {
                    $.ajax({
                        url: "{% url 'listArch:magaza-sil' %}",
                        type: "post", // or "get"
                        data: {
                            retail_id: id,


                        },
                        success: function (result) {

                            if (result.status === 'Success') {
                                swal("Başarılı", " Mağaza  Kaldırıldı.", "success");
                                document.getElementById('retail-' + id + '').remove();

                            } else {
                                swal("Başarısız", result.messages, "error");
                            }
                        }
                    });
                });

            }).modal('show');
            $('#btn-close').click(function () {
                $('#modal-danger').modal('hide');
            });
        }


    </script>





{% endblock %}

