<!DOCTYPE html>
{% load static %}
<head>
    <title>LIST OF ROOM</title>
    <meta name="description" content="Bricks-in-Bytes">
    <meta name="keywords" content="Bricks-in-Bytes">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="text/javascript" src="{% static 'base2/scripts/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'base2/scripts/jquery-migrate-3.1.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'base2/scripts/jquery-ui.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'base2/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'base2/css/main-color.css' %}" id="colors">
    <link rel="stylesheet" href="{% static 'base2/css/bootstrap-grid.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="{% static 'base2/chart/style-gauge.css' %}">
    <link rel="stylesheet" href="{% static 'bower_components/morris.js/morris.css' %}">
    <script type="text/javascript" src="{% static 'bower_components/morris.js/morris.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/raphael/raphael.min.js' %}"></script>

    <style>


        .loader {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #fd9116;
            width: 100px;
            height: 100px;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
            z-index: 9999999999;
            position: fixed;
            left: 45%;
            top: 20rem;

        }

        /* Safari */
        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>
<body>
{% load change_lang %}

<div id="wrapper">
    <header id="header-container" style="height: 5vh !important;">
        <div id="header">
            <div class="row" style="margin-left: 20px;margin-right: 20px">
                <div class="left-side">
                    <div id="logo">
                        <a href="{% url 'listArch:index' %}"><img style="height: 50px;
    margin-top: -25px;margin-right: 5px;width: 120px;
    margin-left: 10px;" src="/media/lofr-logo-beyaz.png" alt="Bricks-in-Bytes"></a>
                    </div>
                    <div class="mmenu-trigger">
                        <button class="hamburger hamburger--collapse" type="button">
                     <span class="hamburger-box">
                     <span class="hamburger-inner"></span>
                     </span>
                        </button>
                    </div>
                    <nav id="navigation" class="style-1" style="margin-left: -48px;">
                        <ul style="margin-top: 10px">
                            <li class=""><a
                                    style="overflow-x: inherit;">{{ headerText.description |safe }}</a>
                            </li>
                        </ul>
                        <ul id="responsive" style="margin-left: 100px;margin-top: 10px">

                            <li><a href="#">{{ 'about'| get_item_by_lang }}</a></li>
                            <li><a href="#">{{ 'advertises'| get_item_by_lang }}</a></li>
                            <li><a href="#">{{ 'connect'| get_item_by_lang }}</a></li>
                        </ul>
                        <ul class="social-icons " style="margin-top: 5px;">
                            <li><a style="display: contents;" class="twitter" href="#"><i class="icon-twitter"></i></a>
                            </li>
                            <li><a style="display: contents;" class="dribbble" href="#"><i
                                    class="icon-dribbble"></i></a></li>
                            <li><a style="display: contents;" class="facebook" href="#"><i
                                    class="icon-facebook"></i></a></li>

                        </ul>
                    </nav>
                    <div class="clearfix"></div>
                </div>
                {% if user.is_authenticated %}
                    <div class="right-side">
                        <div class="header-widget">
                            <!-- User Menu -->
                            <div class="user-menu">
                                <div class="user-name" style="    margin-top: 8px;">
                                    {{ user.first_name }} {{ user.last_name }}
                                </div>
                                <ul>
                                    <li><a href="{% url 'listArch:kullanici-listeleri' %}#liste"><i
                                            class="sl sl-icon-list"></i> Listelerim</a></li>
                                    <li><a href="{% url 'listArch:kullanici-firma-bilgileri-guncelle' %}"><i
                                            class="fa fa-user"></i>
                                        Profil</a>
                                    </li>
                                    <li><a href="{% url 'listArch:logout-user' %}"><i class="sl sl-icon-power"></i>
                                        Logout</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="right-side">
                        <div class="header-widget">
                            <a href="{% url 'listArch:kullanici-giris-yap' %}" class="sign-in"><i
                                    class="sl sl-icon-login"></i> {{ 'login'| get_item_by_lang }}</a>
                        </div>
                    </div>
                {% endif %}
                <div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">
                    <div class="small-dialog-header">
                        <h3>Giriş Yap/Kayıt Ol</h3>
                    </div>
                    <!--Tabs -->
                    <div class="sign-in-form style-1">
                        <ul class="tabs-nav">
                            <li class=""><a href="#tab1">Giriş Yap</a></li>
                            <li><a href="#tab2">Kayıt Ol</a></li>
                        </ul>
                        <div class="tabs-container alt">
                            <!-- Login -->
                            <div class="tab-content" id="tab1" style="display: none;">
                                <form method="post" class="login">
                                    <p class="form-row form-row-wide">
                                        <label for="username">Kullanıcı Adı:
                                            <i class="im im-icon-Male"></i>
                                            <input type="text" class="input-text" name="username" id="username"
                                                   value=""/>
                                        </label>
                                    </p>
                                    <p class="form-row form-row-wide">
                                        <label for="password">Şifre:
                                            <i class="im im-icon-Lock-2"></i>
                                            <input class="input-text" type="password" name="password" id="password"/>
                                        </label>
                                        <span class="lost_password">
                                 <a href="#">Şifremi Unuttum</a>
                                 </span>
                                    </p>
                                    <div class="form-row">
                                        <input type="submit" class="button border margin-top-5" name="login"
                                               value="Giriş Yap"/>
                                        <div class="checkboxes margin-top-10">
                                            <input id="remember-me" type="checkbox" name="check">
                                            <label for="remember-me">Beni Hatırla</label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- Register -->
                            <div class="tab-content" id="tab2" style="display: none;">
                                <form method="post" class="register">
                                    <p class="form-row form-row-wide">
                                        <label for="username2">Kullanıcı Adı:
                                            <i class="im im-icon-Male"></i>
                                            <input type="text" class="input-text" name="username" id="username2"
                                                   value=""/>
                                        </label>
                                    </p>
                                    <p class="form-row form-row-wide">
                                        <label for="email2">E-Mail Adresi:
                                            <i class="im im-icon-Mail"></i>
                                            <input type="text" class="input-text" name="email" id="email2" value=""/>
                                        </label>
                                    </p>
                                    <p class="form-row form-row-wide">
                                        <label for="password1">Şifre:
                                            <i class="im im-icon-Lock-2"></i>
                                            <input class="input-text" type="password" name="password1" id="password1"/>
                                        </label>
                                    </p>
                                    <p class="form-row form-row-wide">
                                        <label for="password2">Şifre Tekrarı:
                                            <i class="im im-icon-Lock-2"></i>
                                            <input class="input-text" type="password" name="password2" id="password2"/>
                                        </label>
                                    </p>
                                    <input type="submit" class="button border fw margin-top-10" name="register"
                                           value="Kayıt Ol"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Sign In Popup / End -->
            </div>
        </div>
        <!-- Header / End -->
    </header>
    <div class="clearfix"></div>
    <!-- Header Container / End -->
    <!-- Banner
       ================================================== -->
    <!-- SEARCH -->
    {% block content2 %}

    {% endblock %}

    <!-- END SEARCH -->

    {% block content %}

        <!-- Content
           ================================================== -->

        <!-- Info Section / End -->

    {% endblock %}


    <!-- Info Section / End -->
    <!-- Footer
       ================================================== -->
    <div id="footer">
        <!-- Main -->
        <div class="container">

            <!-- Copyright -->
            <div class="row">
                <div class="col-md-12">
                    <div class="copyrights">© 2020 {{ 'site_name'| get_item_by_lang }} <a
                            style="margin-left: 10px;margin-right: 10px;color:#fff"
                            href="#">{{ 'terms_of_service'| get_item_by_lang }}</a> | <a
                            style="margin-left: 10px;margin-right: 10px;color:#fff"
                            href="#">{{ 'privacy_policy'| get_item_by_lang }}</a>
                        | <a style="margin-left: 10px;margin-right: 10px;color:#fff"
                             href="#">{{ 'data_disclaimer'| get_item_by_lang }}</a> | <a
                                style="margin-left: 10px;margin-right: 10px;color:#fff"
                                href="#">{{ 'cookie_policy'| get_item_by_lang }}</a> |
                        <a style="margin-left: 10px;margin-right: 10px;color:#fff"
                           href="#">{{ 'site_map'| get_item_by_lang }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer / End -->
    <!-- Back To Top Button -->
    <div id="backtotop"><a style="background: #fd9116" href="#"></a></div>

    <div class="load" id="modal-default"
         style="display: none;">


        <div class="loader">

        </div>
    </div>

</div>
<!-- Footer
   ================================================== -->

<!-- Footer / End -->
<!-- Back To Top Button -->
<input type="hidden" value="{{ scrolling_text.description }}" id="text">
<input type="hidden" value="{{ scrolling_text.subTextDesc }}" id="subText">
<input type="hidden" value="" id="filtered_products" name="filtered_products">


<!-- Wrapper / End -->
<!-- Scripts
   ================================================== -->


<script type="text/javascript" src="{% static 'base2/scripts/mmenu.min.js' %}"></script>
<script type="text/javascript" src="{% static 'base2/scripts/chosen.min.js' %}"></script>
<script type="text/javascript" src="{% static 'base2/scripts/slick.min.js' %}"></script>
<script type="text/javascript" src="{% static 'base2/scripts/rangeslider.min.js' %}"></script>
<script type="text/javascript" src="{% static 'base2/scripts/magnific-popup.min.js' %}"></script>
<script type="text/javascript" src="{% static 'base2/scripts/waypoints.min.js' %}"></script>
<script type="text/javascript" src="{% static 'base2/scripts/counterup.min.js' %}"></script>
<script type="text/javascript" src="{% static 'base2/scripts/tooltips.min.js' %}"></script>
<script type="text/javascript" src="{% static 'base2/scripts/custom.js' %}"></script>
<script src='https://cdn3.devexpress.com/jslib/17.1.6/js/dx.all.js'></script>
<script src="{% static 'base2/chart/canvasjs.min.js' %}"></script>


<!-- Google Autocomplete -->

<script>
    function initAutocomplete() {
        var input = document.getElementById('autocomplete-input');
        var autocomplete = new google.maps.places.Autocomplete(input);

        autocomplete.addListener('place_changed', function () {
            var place = autocomplete.getPlace();
            if (!place.geometry) {
                window.alert("No details available for input: '" + place.name + "'");
                return;
            }
        });

        if ($('.main-search-input-item')[0]) {
            setTimeout(function () {
                $(".pac-container").prependTo("#autocomplete-container");
            }, 300);
        }
    }
</script>
<!-- Typed Script -->
<script type="text/javascript" src="{% static 'base2/scripts/typed.js' %}"></script>
<script>
    /*  var typed = new Typed('.typed-words', {
          strings: [""],
          typeSpeed: 80,
          backSpeed: 80,
          backDelay: 200,
          startDelay: 200,
          loop: true,
          showCursor: true
      });*/
</script>
<script>
    $('.autoplay').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        speed: 1000,
        autoplaySpeed: 2000,
    });
</script>
<script>
    function getCookie(name) {
        var cookieValue = null;
        var i = 0;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (i; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        crossDomain: false, // obviates need for sameOrigin test
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });


</script>
<script>

</script>
<script>
    function searchGetProduct() {
        debugger;
        let name = document.getElementById('product_name').value;
        $.ajax({
            url: "{% url 'listArch:product-search'%}",
            type: "post", // or "get"
            async: false,
            data: {
                product_name: name,

            },
            success: function (response) {
                debugger;

                if (response.product.length !== 0) {

                    let products = response.product;

                    let html = '<div id="product-block" style="margin-top: -12px;width:100%;z-index:999;position: absolute;border:2px solid #ffffff;background: white;color: black;font-size:15px;"><ul style="width: 100%; height: auto; overflow: auto" >';
                    html += '<ul>'
                    for (let i = 0; i < products.length; i++) {


                        if (products[i]['product'].length > 0) {
                            html += '<h3 style="color: #000;"> {{ 'products'| get_item_by_lang }} [' + products[i]['product'].length + ']</h3>';
                            for (let x = 0; x < products[i]['product'].length; x++) {
                                let url = '{% url 'listArch:urun-detay' 0  %}'
                                url = url.replace(0, products[i]['product'][x].product.id)
                                html += '<li style="list-style-type:none;margin-top:5px;margin-left: 20px;margin-right: 20px;"><a style="color: #000;" href="' + url + '">' + products[i]['product'][x].product.name + '</a></li>';

                            }

                        }
                        debugger;
                        if (products[i]['company'].length > 0) {
                            html += '<h3 style="color: #000">{{ 'company'| get_item_by_lang }} [' + products[i]['company'].length + ']</h3>';
                            for (let a = 0; a < products[i]['company'].length; a++) {
                                let url = '{% url 'listArch:firma-bilgileri' 0%}'
                                url = url.replace(0, products[i]['company'][a].id)
                                html += '<li style="list-style-type:none;margin-top:5px;margin-left: 20px;margin-right: 20px;"><a style="color: #000;" href="' + url + '">' + products[i]['company'][a].name + '</a></li>';

                            }

                        }
                        if (products[i]['magazine'].length > 0) {
                            html += '<h3 style="color: #000">{{ 'introductions'| get_item_by_lang }} [' + products[i]['magazine'].length + ']</h3>';
                        }

                    }
                    html += '</ul></div>';
                    document.getElementById('search_product').innerHTML = html;
                } else {
                    document.getElementById('product-block').remove();

                }
            }
        });
    }


    function searchGetProductCategory() {
        debugger;
        let e = document.getElementById('category');
        var category_id = e.options[e.selectedIndex].value;
        let url = "{% url "listArch:urun-filtreleme-sayfasi" 0 %}"
        url = url.replace('0', category_id)
        window.location.replace('' + url + '');
    }


    function searchGetProductBrand() {
        debugger;
        let e = document.getElementById('company');
        var brand_id = e.options[e.selectedIndex].value;
        let url = "{% url "listArch:firmanin-urunleri" 0 %}"
        url = url.replace('0', brand_id)
        window.location.replace('' + url + '');
    }


</script>


<script>
    let tmp = [];
    let filtered_products = [];


    function write_range_change(id) {
        debugger;
        document.getElementById('range-min[' + id + ']').value = document.getElementById('min[' + id + ']').value;
        document.getElementById('range-max[' + id + ']').value = document.getElementById('max[' + id + ']').value;

    }


    let options = [];

    function option(type, value_id, value) {
        debugger;
        let temp;
        if (type === 'range') {
            write_range_change(value_id)
            let min = document.getElementById('range-min[' + value_id + ']').value;
            let max = document.getElementById('range-max[' + value_id + ']').value;

            temp = {"type": type, "option_id": value_id, "value": min + '-' + max,}
            for (let i = 0; i < options.length; i++) {
                if (options[i]['option_id'] === temp['option_id']) {
                    options.pop(options[i])
                }
            }
            options.push(temp)
        } else {
            var checkbox = document.getElementById(value);
            temp = {"type": type, "option_id": value_id, "value": value}
            if ($(checkbox).is(':checked')) {
                options.push(temp)
            } else {
                options.pop(temp)

            }
        }
        console.log(options)
        let category = document.getElementById('filtered-category').value;
        $.ajax({
            url: "{% url 'listArch:urun-filtrele-range'%}",
            type: "post", // or "get"
            async: false,
            dataType: "json",
            data: {
                options: JSON.stringify(options),
                category: category,
            },
            success: function (response) {
                debugger;

                let products = response.products;
                let html = '';
                let filter_html = document.getElementById('product-filter');

                html = '<div id="product-filter"> <div class="row"> <div class="col-lg-12">';
                if (products.length > 0) {
                    for (let i = 0; i < products.length; i++) {

                        html += '<div class="col-1-5">';
                        let url = '{% url 'listArch:urun-detay' 0 %}';
                        url = url.replace(0, '' + products[i].product.id + '')
                        html += ' <div class="hovereffect" onclick="location.href=\'' + url + '\';">';
                        html += '<div class="listing-item ">';
                        html += '<img src="' + products[i].product.cover_image + '" alt="">';
                        html += '<div class="overlay">';
                        html += '<h2 style="font-size:16px">' + products[i].product.company.name + '</h2>';
                        html += '<h2 style="font-size:10px">' + products[i].product.name + '</h2>';
                        html += '<h2 style="font-size:16px">ID' + products[i].product.code + '</h2>';
                        html += '<h2 style="font-size:16px">' + products[i].product.price + '$ Sqm</h2>';
                        html += '<h2 style="font-size:10px">' + products[i].product.company.country.name + '</h2>';
                        html += '<a style="left: 5px; bottom: 5px; position: absolute; text-align: left; float: left; font-size: 24px; color: #fff;" href="#"> <i class="im im-icon-Phone-2"></i></a>\n'
                        html += '<a style="right: 5px;  bottom: 5px; position: absolute;  text-align: right; float: right; font-size: 24px; color: #fff;" href="#"> <i class="im im-icon-Like"></i></a>\n'
                        html += '</div></div></div></div>';


                    }
                } else {
                    html += '<p><h2 style="text-align: center">Aradığınız Ürün Bulunamadı</h2></p>';
                }
                document.getElementById('filtered_products').value = filtered_products;
                html += ' </div> </div>  </div>';

                let count = products.length;
                let html2 = "";

                html2 = '<strong id="option_count"> [' + count + '] </strong>';

                document.getElementById('option_count').innerHTML = html2;

                filter_html.innerHTML = html;

            }
        });
    }

    function remove_item_list(list_id, product_id) {
        debugger;
        $.ajax({
            url: "{% url 'listArch:kullanici-listeden-urun-cikar'%}",
            type: "post", // or "get"
            async: false,
            data: {
                product_id: product_id,
                list_id: list_id,

            },
            success: function (result) {
                debugger;
                if (result.status === 'Success') {
                    document.location.reload(true)


                } else {
                    swal("Başarısız", result.messages, "error");
                }

            }
        });

    }


</script>
</body>
</html>