<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OXIT BİLİŞİM TEKNOLOJİLERİ LTD. ŞTİ.</title>
    <meta name="description" content="Yazılım teknolojileri konusundaki tecrübeleriyle, teorik ve pratik süreçleri en doğru şekilde işleyerek
  sizlere en uygun yazılım çözümlerini üretmektedir. Mobil, web ve masaüstü yazılım geliştirme süreçleri haricinde yoğun istek miktarları
  altında çalışan web servis çözümleri de sunar. ">
    <meta name="keywords" content="mobil uygulama,e-ticaret,danışmanlık,yazılım,web tasarım,kurumsal seo,internet reklamcılığı,ankara yazılım,
  ankara website,ankara mobil uygulama, oxit,oksid,oksit,oxit yazılım">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'bower_components/Ionicons/css/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'bower_components/jvectormap/jquery-jvectormap.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/iCheck/all.css' %}">
    <link rel="stylesheet"
          href="{% static 'bower_components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'bower_components/select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/AdminLTE.min.css' %}">
    <link rel="stylesheet" href="{% static 'bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/skins/skin-red.min.css' %}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link rel="stylesheet" href="{% static 'plugins/timepicker/bootstrap-timepicker.min.css' %}">

    <link rel="stylesheet"
          href="{% static 'bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'fieldChooser/css/jquery.lwMultiSelect.css' %}">
    <link rel="stylesheet" href="{% static 'bower_components/bootstrap-daterangepicker/daterangepicker.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/responsive/1.0.7/css/responsive.dataTables.min.css">

</head>

<!-- jQuery 3 -->
<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'fieldChooser/js/jquery.lwMultiSelect.js' %}"></script>


<body class="skin-red sidebar-mini">
<div class="preloader"></div>

<div class="wrapper">

    <header class="main-header">
        <!-- Logo -->
        {% if  user.groups.all.0.name == 'Admin' %}
            <a href="{% url 'kurye:admin-dashboard' %}" class="logo">
        {% elif user.groups.all.0.name == 'Kullanıcı' %}
            <a href="{% url 'kurye:kullanıcı-dashboard' %}" class="logo">
        {% else %}
            <a href="{% url 'kurye:kurye-dashboard' %}" class="logo">
        {% endif %}
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>M</b>T</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Moto</b>Kurye</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Messages: style can be found in dropdown.less-->
                    <!-- Notifications: style can be found in dropdown.less -->
                    {% if user.groups.all.0.name == 'Admin' %}
                        <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-warning">{{ count }}</span>
                        </a>

                        <ul class="dropdown-menu">
                            <li class="header">{{ count }} Bildiriminiz var.</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">

                                    {% for notification in notification %}
                                        <li>
                                            <i class="fa fa-exclamation"
                                               style="margin:10px;"></i>{{ notification.message }}
                                        </li>
                                    {% endfor %}


                                </ul>
                            </li>
                            <li class="footer"><a href="{% url 'kurye:bildirimler' %}">View all</a></li>

                        </ul>
                    {% endif %}
                    </li>

                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="/media/{{ user.profile.profileImage }}" class="user-image" alt="OXIT BİLİŞİM"
                                 style=" width: 30px;height: 30px;">
                            <span class="hidden-xs">{{ user.first_name }} {{ user.last_name }} <i
                                    class="fa fa-chevron-down" aria-hidden="true"></i></span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img src="/media/{{ user.profile.profileImage }}" class="img-circle" alt="OXIT BİLİŞİM">

                                <p>
                                    {{ user.first_name }} {{ user.last_name }}

                                    <small>

                                        {{ user.email }} <br>
                                        Katılım Tarihi: {{ user.profile.creationDate }}</small>
                                </p>
                            </li>

                            <li class="user-footer">
                                <div class="pull-left">

                                    <a href="{% url 'kurye:profil' %}" class="btn btn-default btn-flat"> <i
                                            class="fa fa-user"
                                            aria-hidden="true"></i>
                                        Profil Bilgisi</a>
                                </div>
                                <div class="pull-right">
                                    <a href="{% url 'accounts:logout' %}" class="btn btn-default btn-flat"> <i
                                            class="fa fa-sign-out" aria-hidden="true"></i> Çıkış Yap</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- Control Sidebar Toggle Button -->

                </ul>
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="/media/{{ user.profile.profileImage }}" class="img-circle" alt="User Image"
                         style=" width: 50px;height: 50px;">

                </div>
                <div class="pull-left info">
                    <p>{{ user.first_name }} {{ user.last_name }}</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>

            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu" data-widget="tree">
                {% if  user.groups.all.0.name == 'Kullanıcı' %}
                    <li class=" ">
                        <a href="{% url 'kurye:kullanıcı-dashboard' %}">
                            <i class="fa fa-home"></i>
                            <span>Anasayfa</span>
                            <span class="pull-right-container">

                            </span>
                        </a></li>

                    {% for menu in usermenus %}


                        {% if menu.is_parent %}

                            {% if menu.name != "Anasayfa" %}
                                <li class="treeview ">
                                <a href="{% url 'kurye:kullanıcı-dashboard' %}">
                                    <i class=" {{ menu.fa_icon }}"></i>
                                    <span>{{ menu.name }}</span>
                                    <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                                </a>

                            {% endif %}
                        {% endif %}

                    <ul class="treeview-menu">

                        {% for menusub in usermenus %}



                            {% if menusub.parent.id is menu.id %}

                                <li>
                                    <a href="{% url menusub.url %}"><i
                                            class=" {{ menusub.fa_icon }}"></i> {{ menusub.name }}</a>
                                </li>

                            {% endif %}

                        {% endfor %}

                    </ul>
                    </li>
                    {% endfor %}




                {% elif user.groups.all.0.name == 'Admin' %}

                    <li class=" ">
                        <a href="{% url "kurye:admin-dashboard" %}">
                            <i class="fa fa-home"></i>
                            <span>Anasayfa</span>
                            <span class="pull-right-container">

                            </span>
                        </a></li>
                    {% for menu in adminmenus %}


                        {% if menu.is_parent %}
                            {% if menu.name != "Anasayfa" %}

                                {% if menu.id is self.id %}

                                    <li class="treeview active menu-open ">
                                        <a href="#">
                                            <i class=" {{ menu.fa_icon }}"></i>
                                            <span>{{ menu.name }}</span>
                                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                                        </a>
                                        {% else %}


                                    <li class="treeview ">

                                    <a href="#">
                                        <i class=" {{ menu.fa_icon }}"></i>
                                        <span>{{ menu.name }}</span>
                                        <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                                    </a>



                                {% endif %}
                            {% endif %}

                        {% endif %}


                    <ul class="treeview-menu">

                        {% for menusub in adminmenus %}


                            {% if menu.name != "Anasayfa" %}
                                {% if menusub.parent.id is menu.id %}

                                    {% if menusub.url == url %}

                                        <li class="active">
                                            <a href="{% url menusub.url %}"><i
                                                    class="{{ menusub.fa_icon }}"></i> {{ menusub.name }}</a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="{% url menusub.url %}"><i
                                                    class="{{ menusub.fa_icon }}"></i> {{ menusub.name }}</a>
                                        </li>

                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                    </ul>
                    </li>
                    {% endfor %}

                {% elif user.groups.all.0.name == 'Kurye' %}
                    <li class=" ">
                        <a href="{% url "kurye:kurye atanan gorevler" %}">
                            <i class="fa fa-home"></i>
                            <span>Anasayfa</span>
                            <span class="pull-right-container">

                            </span>
                        </a></li>
                    {% for menu in couriermenus %}

                        {% if menu.is_parent %}
                            {% if menu.name != "Anasayfa" %}
                                {% if menu.id is self.id %}

                                    <li class="treeview active menu-open ">
                                        <a href="#">
                                            <i class=" {{ menu.fa_icon }}"></i>
                                            <span>{{ menu.name }}</span>
                                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                                        </a>
                                        {% else %}


                                    <li class="treeview ">

                                    <a href="#">
                                        <i class=" {{ menu.fa_icon }}"></i>
                                        <span>{{ menu.name }}</span>
                                        <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                                    </a>



                                {% endif %}


                            {% endif %}

                        {% endif %}


                    <ul class="treeview-menu">

                        {% for menusub in couriermenus %}


                            {% if menu.name != "Anasayfa" %}
                                {% if menusub.parent.id is menu.id %}

                                    {% if menusub.url == url %}

                                        <li class="active">
                                            <a href="{% url menusub.url %}"><i
                                                    class="{{ menusub.fa_icon }}"></i> {{ menusub.name }}</a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="{% url menusub.url %}"><i
                                                    class="{{ menusub.fa_icon }}"></i> {{ menusub.name }}</a>
                                        </li>

                                    {% endif %}

                                {% endif %}
                            {% endif %}
                        {% endfor %}

                    </ul>
                    </li>
                    {% endfor %}

                {% endif %}

            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        {% block content %}






        {% endblock %}

        <!-- /.content -->
    </div>

    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.0.0
        </div>
        <strong>Copyright &copy; 2020 <a href="https://www.oxit.com.tr">OXIT</a></strong> All rights
        reserved.
    </footer>


</div>


<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bower_components/select2/dist/js/select2.full.min.js' %}"></script>
<script src="{% static 'plugins/input-mask/jquery.inputmask.js' %}"></script>
<script src="{% static 'plugins/input-mask/jquery.inputmask.date.extensions.js' %}"></script>
<script src="{% static 'plugins/input-mask/jquery.inputmask.extensions.js' %}"></script>
<script src="{% static 'bower_components/moment/min/moment.min.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.tr.min.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js' %}"></script>
<script src="{% static 'plugins/timepicker/bootstrap-timepicker.min.js' %}"></script>
<script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>


<script src="{% static 'plugins/iCheck/icheck.min.js' %}"></script>

<script src="{% static 'fieldChooser/js/jquery.lwMultiSelect.js' %}"></script>

<script src="{% static 'bower_components/fastclick/lib/fastclick.js' %}"></script>
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<script src="{% static 'bower_components/jquery-sparkline/dist/jquery.sparkline.min.js' %}"></script>
<script src="{% static 'plugins/jvectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
<script src="{% static 'plugins/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
<script src="{% static 'bower_components/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'bower_components/chart.js/Chart.js' %}"></script>
<script src="{% static 'dist/js/demo.js' %}"></script>
<script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/1.0.7/js/dataTables.responsive.min.js"></script>


</body>
</html>