<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <title>OXIT BİLİŞİM TEKNOLOJİLERİ LTD. ŞTİ.</title>
  <meta name="description" content="Yazılım teknolojileri konusundaki tecrübeleriyle, teorik ve pratik süreçleri en doğru şekilde işleyerek
  sizlere en uygun yazılım çözümlerini üretmektedir. Mobil, web ve masaüstü yazılım geliştirme süreçleri haricinde yoğun istek miktarları
  altında çalışan web servis çözümleri de sunar. ">
  <meta name="keywords" content="mobil uygulama,e-ticaret,danışmanlık,yazılım,web tasarım,kurumsal seo,internet reklamcılığı,ankara yazılım,
  ankara website,ankara mobil uygulama, oxit,oksid,oksit,oxit yazılım">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
     {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'bower_components/Ionicons/css/ionicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'bower_components/jvectormap/jquery-jvectormap.css' %}">
  <link rel="stylesheet" href="{% static 'dist/css/AdminLTE.min.css' %}">
  <link rel="stylesheet" href="{% static 'dist/css/skins/skin-red.min.css' %}">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>


<body class="skin-red sidebar-mini">
<div class="preloader"></div>

<div class="wrapper">

   <header class="main-header">
    <!-- Logo -->
    <a href="index.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>M</b>T</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Moto</b>Kurye</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          <li class="dropdown messages-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-success">5</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">5 okunmamış mesajınız var</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li><!-- start message -->
                    <a href="#">
                      <div class="pull-left">
                        <img src="/media/profile/2_4Y0kkpm.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Makro Market
                        <small><i class="fa fa-clock-o"></i> 5 Dakika</small>
                      </h4>
                      <p>Müşteri aradı neredesin ? </p>
                    </a>
                  </li>
                  <!-- end message -->
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="/media/profile/2_4Y0kkpm.jpg" class="img-circle" alt="User Image">
                      </div>
                                           <h4>
                        Makro Market
                        <small><i class="fa fa-clock-o"></i> 5 Dakika</small>
                      </h4>
                      <p>Müşteri aradı neredesin ? </p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="/media/profile/2_4Y0kkpm.jpg" class="img-circle" alt="User Image">
                      </div>
                                           <h4>
                        Makro Market
                        <small><i class="fa fa-clock-o"></i> 5 Dakika</small>
                      </h4>
                      <p>Müşteri aradı neredesin ? </p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="/media/profile/2_4Y0kkpm.jpg" class="img-circle" alt="User Image">
                      </div>
                                            <h4>
                        Makro Market
                        <small><i class="fa fa-clock-o"></i> 5 Dakika</small>
                      </h4>
                      <p>Müşteri aradı neredesin ? </p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="/media/profile/2_4Y0kkpm.jpg" class="img-circle" alt="User Image">
                      </div>
                                           <h4>
                        Makro Market
                        <small><i class="fa fa-clock-o"></i> 5 Dakika</small>
                      </h4>
                      <p>Müşteri aradı neredesin ? </p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer"><a href="#">Tüm Mesajlar</a></li>
            </ul>
          </li>
          <!-- Notifications: style can be found in dropdown.less -->
          <li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">5</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">5  okunmamış bildirimin var</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i>1484 Nolu Yeni Sipariş Eklendi
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-warning text-yellow"></i> 24554 nolu sipariş teslim edildi
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-red"></i> 2 adet yeni teslimatın var
                    </a>
                  </li>
                 <li>
                    <a href="#">
                      <i class="fa fa-warning text-yellow"></i> 24554 nolu sipariş teslim edildi
                    </a>
                  </li>
				  <li>
                    <a href="#">
                      <i class="fa fa-warning text-yellow"></i> 24554 nolu sipariş teslim edildi
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer"><a href="#">Tüm Bildirimleri Göster</a></li>
            </ul>
          </li>

          <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="/media/profile/2_4Y0kkpm.jpg" class="user-image" alt="OXIT BİLİŞİM"
                                 style=" width: 30px;height: 30px;">
                            <span class="hidden-xs">{{ user.first_name }} {{ user.last_name }} <i
                                    class="fa fa-chevron-down" aria-hidden="true"></i></span>
                        </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                                <img src="/media/profile/2_4Y0kkpm.jpg" class="img-circle" alt="OXIT BİLİŞİM">

                                <p>
                                    {{ user.first_name }} {{ user.last_name }}

                                    <small>

                                        {{ user.email }} <br>
                                        Katılım Tarihi: {{ user.profileuser.creationDate }}</small>
                                </p>
                            </li>

              <li class="user-footer">
                                <div class="pull-left">
                                    <a href="#"
                                       class="btn btn-default btn-flat"> <i class="fa fa-user" aria-hidden="true"></i>
                                        Profil Bilgisi</a>
                                </div>
                                <div class="pull-right">
                                    <a href="{% url 'accounts:logout' %}" class="btn btn-default btn-flat"> <i
                                            class="fa fa-sign-out" aria-hidden="true"></i> Çıkış Yap</a>
                                </div>
                            </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->

        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
   <div class="user-panel">
                <div class="pull-left image">
                       <img src="/media/profile/2_4Y0kkpm.jpg" class="img-circle" alt="User Image"
                         style=" width: 50px;height: 50px;">

                </div>
                <div class="pull-left info">
                    <p>{{ user.first_name }} {{ user.last_name }}</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>

      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">

        <li class="active treeview">
          <a href="admin.html"> <i class="fa fa-dashboard"></i> <span>Anasayfa</span></a></li>


		<li class=" treeview">
          <a href="#">
            <i class="fa fa-motorcycle"></i> <span>Kullanıcılar</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="active"><a href="kullanici-ekle.html"><i class="fa fa-circle-o"></i> Kullanıcı Ekle</a></li>
            <li><a href="kullanicilar.html"><i class="fa fa-circle-o"></i> Kullanıcılar</a></li>

          </ul>
        </li>

		<li class=" treeview">
          <a href="#">
            <i class="fa fa-motorcycle"></i> <span>Kuryeler</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="active"><a href="kurye-ekle.html"><i class="fa fa-circle-o"></i> Kurye Ekle</a></li>
            <li><a href="kuryeler.html"><i class="fa fa-circle-o"></i> Kuryeler</a></li>

          </ul>
        </li>



		<li class=" treeview">
          <a href="#">
            <i class="fa fa-motorcycle"></i> <span>Görevler</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="active"><a href="index.html"><i class="fa fa-circle-o"></i> Görev Ata</a></li>
            <li><a href="index.html"><i class="fa fa-circle-o"></i> Aktif Görevler</a></li>
			 <li><a href="index.html"><i class="fa fa-circle-o"></i> Tamamlanan Görevler</a></li>
			 <li><a href="index.html"><i class="fa fa-circle-o"></i> İptal Edilen Görevler</a></li>
          </ul>
        </li>


		<li class=" treeview">
          <a href="#">
            <i class="fa fa-motorcycle"></i> <span>Raporlar</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="active"><a href="index.html"><i class="fa fa-circle-o"></i> Raporlar</a></li>
            <li><a href="index.html"><i class="fa fa-circle-o"></i> Rapor Oluştur</a></li>
          </ul>
        </li>


		<li class=" treeview">
          <a href="#">
            <i class="fa fa-motorcycle"></i> <span>Ayarlar</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="active"><a href="index.html"><i class="fa fa-circle-o"></i> Profil</a></li>
            <li><a href="index.html"><i class="fa fa-circle-o"></i> Ayarlar</a></li>
          </ul>
        </li>


        <li class="header">Belgeler</li>
        <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Kullanım Şartları</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Üyelik Sözleşmesi</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Dökümantasyon</span></a></li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
   <div class="content-wrapper">
   {% block content %}




        {% endblock %}

    <!-- /.content -->
  </div>

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.0.0
    </div>
    <strong>Copyright &copy; 2020 <a href="https://www.oxit.com.tr">OXIT</a></strong> All rights
    reserved.
  </footer>


</div>





<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bower_components/fastclick/lib/fastclick.js' %}"></script>
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<script src="{% static 'bower_components/jquery-sparkline/dist/jquery.sparkline.min.js' %}"></script>
<script src="{% static 'plugins/jvectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
<script src="{% static 'plugins/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
<script src="{% static 'bower_components/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'bower_components/chart.js/Chart.js' %}"></script>
<script src="{% static 'dist/js/demo.js' %}"></script>

</body>
</html>