
                {% load change_lang %}

<div class="container" style=" width: 100%; border-top: 2px solid #fd9116;border-bottom: 2px solid #fd9116;">
        <div class="row">
            <div class="col-md-12">
                <div class="categories-boxes-container ">
                    <!-- Box -->
                    <a href="listings-list-with-sidebar.html" class="category-small-box">
                        <h4>{{ 'product'| get_item_by_lang }}</h4>
                        <span class="category-box-counter">500.000+</span>
                    </a>
                    <!-- Box -->
                    <a href="listings-list-with-sidebar.html" class="category-small-box">
                        <h4>{{ 'brands'| get_item_by_lang }}</h4>
                        <span class="category-box-counter">1500+</span>
                    </a>
                    <!-- Box -->
                    <a href="listings-list-with-sidebar.html" class="category-small-box">
                        <h4>{{ 'category'| get_item_by_lang }}</h4>
                        <span class="category-box-counter">50.000+</span>
                    </a>
                    <!-- Box -->
                    <a href="listings-list-with-sidebar.html" class="category-small-box">
                        <h4>{{ 'features'| get_item_by_lang }}</h4>
                        <span class="category-box-counter">250.000+</span>
                    </a>
                    <!-- Box -->
                    <a href="listings-list-with-sidebar.html" class="category-small-box">
                        <h4>{{ 'files'| get_item_by_lang }}</h4>
                        <span class="category-box-counter">6.000.000+</span>
                    </a>
                     <a href="listings-list-with-sidebar.html" class="category-small-box">
                        <h4>{{ 'files'| get_item_by_lang }}</h4>
                        <span class="category-box-counter">6.000.000+</span>
                    </a>


                </div>
            </div>
        </div>
    </div>
