
                {% load change_lang %}

<div class="container" style=" width: 100%; border-top: 2px solid #fd9116;border-bottom: 2px solid #fd9116;">
        <div class="row">
           <div class="col-md-2">
                    <a  class="category-small-box">
                        <h4>Ürünler</h4>
                        <span class="category-box-counter">500.000+</span>
                    </a>
                        </div>

                    <div class="col-md-2">
                    <a  class="category-small-box">
                        <h4>Markalar</h4>
                        <span class="category-box-counter">1500+</span>
                    </a></div>

                    <div class="col-md-2">
                    <a  class="category-small-box">
                        <h4>Kategoriler</h4>
                        <span class="category-box-counter">50.000+</span>
                    </a></div>

                    <div class="col-md-2">
                    <a  class="category-small-box">
                        <h4>Özellikler</h4>
                        <span class="category-box-counter">250.000+</span>
                    </a></div>

                     <div class="col-md-2">
                    <a  class="category-small-box">
                        <h4>Dosyalar</h4>
                        <span class="category-box-counter">6.000.000+</span>
                    </a></div>
                           <div class="col-md-2">
                    <a  class="category-small-box">
                        <h4>Dosyalar</h4>
                        <span class="category-box-counter">6.000.000+</span>
                    </a></div>
        </div>
    </div>
