    <div class="main-search-container centered" style="height: auto !important;">
        <div class="main-search-inner" style="padding: 0px 5px;">
            <div class="row">
                <!-- Carousel -->
                <div class="col-md-12 top-slider"  >
                    <div class="slider">
                        {% for category in parent_categories %}

                            <div class="text-center" >
                                <a href="{% url 'listArch:anasayfa-urunler' category.category.pk %}"

                                   class="highlighted-category">

                                    <img  class="img-responsive top-slider-img"
                                         src="/media/{{category.category.icon }}"
                                         alt="Bricks-in-Bytes">
                                    <h5 class="top-slider-h5" >{{ category.description }}</h5>

                                </a>

                            </div>
                        {% endfor %}
                    </div>


                    <script>
                        window.onload = function () {
                            $('.slider').slick({
                                autoplay:true,
                                slidesToShow: 20,
                                slidesToScroll: -5,
                                infinite: true,
                                cssEase: 'linear',

                            });

                        };
                    </script>
                    <style>
                        .slider {
                            width: 90%;
                            height: 62px;
                            margin: 0 auto;
                            background: transparent;
                        }

                    </style>
                </div>

                <!-- Carousel / End -->
            </div>


        </div>
    </div>
