{% extends 'base_layout.html' %}

{% block content %}
    <div class="modal fade bd-example-modal-lg" tabindex="-1" id="situation" role="dialog"
         aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">


            <div class="modal-content" style="height:fit-content">
                <div class="modal-header" style="background-color:#3c8dbc ">
                    <font color="white">Açıklama</font>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body bodys bodys-1234">

                </div>

                <div class="modal-footer footer-1234 ">

                </div>
            </div>
        </div>
    </div>

    {% if messages %}
        {% for message in messages %}


            {% if message.tags == 'warning' %}

                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Hata !</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}


            {% if message.tags == 'success' %}

                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Başarılı !</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}
        {% endfor %}


    {% endif %}
    <!-- success modal -->

    <section class="content-header">
        <h1>
            {{ obj.name }}

        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'listArch:admin-dashboard' %}"><i class="fa fa-dashboard"></i> Anasayfa</a></li>
            <li><a href="">{{ parent.name }}</a></li>
            <li><a href="">{{ obj.name }}</a></li>
        </ol>

    </section>
    <section class="content">

        <!-- /.row -->
        <!-- Main row -->
        <div class="row">


            <section class="col-xs-12 ">
                <div class="box">
                    <div class="box-body">
                        <a href="{% url 'listArch:profil-kaydet' %}" class="btn btn-app">
                            <i class="fa fa-plus"></i> Profil Ekle
                        </a>

                        <table id="profile-list" class="table  table-bordered display responsive nowrap "
                               cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>İşlem</th>
                                <th>Profil</th>
                                <th>Fotoğraf</th>
                                <th>Ad Soyad</th>
                                <th>Adres</th>
                                <th>Telefon</th>
                                <th>Email</th>
                                <th>Website Adresi</th>
                                <th>Ülke</th>
                                <th>Konum</th>

                            </tr>
                            </thead>
                            <tbody>

                            <tr>


                            </tr>


                            </tbody>
                        </table>


                    </div>


                </div>
            </section>


        </div>
        <!-- /.row (main row) -->
        <div class="modal modal-danger fade in deneme23" tabindex="-1" role="dialog" id="modal-danger"
             aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span></button>
                        <h4 class="modal-title">Uyarı</h4>
                    </div>
                    <div class="modal-body">
                        <p id="content_messages"></p>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf"
                                data-dismiss="modal">Evet
                        </button>
                        <button type="button" class="btn btn-outline" id="btn-close">Hayır</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </section>



    <script>
        $(function () {
            $('#profile-list').DataTable({
                "processing": true,
                "serverSide": true,
                "paging": true,
                "ordering": false,

                "ajax": {
                    "url": "{% url 'listArch:profile-list-api' %}",
                    "type": "post"
                },
                "columns": [

                    {"data": "id"},

                    {
                        "data": null,
                        "render": function (data, type, full, meta, row) {
                            let html;
                            let url = '{% url 'listArch:profile-blog-ekle' 0 %}';
                            url = url.replace(0, full.id);

                            html = '<a class="btn btn-primary" type="btn" title="Düzenle"  href=""><i class="fa fa-edit"></i></a>';
                            html += '<a style="margin-left: 5px;" class="btn btn-warning" type="btn" title="Blog Ekle" href="'+url+'"><i class="fa fa-plus"></i></a>';
                            html += '<button type="button" onclick="delete_profile('+full.id+')" style="margin-left: 5px;"  class="btn btn-danger" type="btn" title="Sil" ><i class="fa fa-close"></i></button>';

                            return html;
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, full, meta, row) {
                            return full.profile_name.key;

                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, full, meta, row) {
                            let html;
                            html = '<img style="width: 50px" src="' + full.image + '"  alt="">';
                            return html;
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, full, meta, row) {
                            return full.user.first_name + ' ' + full.user.last_name;

                        }
                    },
                    {"data": "address"},
                    {"data": "phone"},
                    {
                        "data": null,
                        "render": function (data, type, full, meta, row) {
                            return full.user.email;
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, full, meta, row) {
                            let html;
                            html = '<a href="' + full.website + '"></a>' + full.website + '';
                            return html;
                        }
                    },
                    {
                        "data": null,
                        render: function (data, type, full, meta, row) {
                            return full.country.name;

                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, full, meta, row) {
                            let html;
                            html = '<a href="' + full.map + '">' + full.map + '</a>';
                            return html;
                        }
                    },


                ]

            })

        })
    </script>

    <script>
        function getCookie(name) {
            var cookieValue = null;
            var i = 0;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (i; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });


    </script>


    <script>
        function delete_profile(id) {
            document.getElementById('content_messages').innerHTML = 'Profili Silmek İstediğinizden Emin Misiniz?';

            $(".deneme23").on("shown.bs.modal", function (e) {
                $("#btn-conf").click(function () {
                    debugger;
                    $.ajax({
                        url: "{% url 'listArch:profili-sil' %}",
                        type: "post", // or "get"
                        data: {
                            profile_id: id,
                        },
                        success: function (result) {

                            if (result.status === 'Success') {
                                swal("Başarılı", " Profil Silindi", "success");
                                window.location.replace("{% url "listArch:profil-listesi" %}");


                            } else {
                                swal("Başarısız", "Üzgünüz istenmeyen bir hata ile karşılaşıldı", "error");
                            }
                        }
                    });
                });

            }).modal('show');
            $('#btn-close').click(function () {
                $('#modal-danger').modal('hide');
            });
        }
    </script>

{% endblock %}

