{% extends 'base_layout.html' %}

{% block content %}


    <!-- success modal -->


    <section class="content-header">
        <h1>
            Tamamlanan Görevler

        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'kurye:kullanıcı-dashboard' %}"><i class="fa fa-dashboard"></i> Anasayfa</a></li>
            <li><a href="">Görevler</a></li>
            <li><a href="">Tamamlanan Görevler</a></li>
        </ol>

    </section>
    <section class="content">
        {% if messages %}
            {% for message in messages %}


                {% if message.tags == 'warning' %}

                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i> Hata !</h4>


                        <ul class="messages">
                            {% for message in messages %}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>


                    </div>

                {% endif %}


                {% if message.tags == 'success' %}

                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i> Başarılı !</h4>


                        <ul class="messages">
                            {% for message in messages %}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>


                    </div>

                {% endif %}
            {% endfor %}


        {% endif %}
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">


            <section class="col-lg-12 ">


                <div class="box-body">


                    <div class="box box-primary">
                        <div class="box-body">
                            <a href="{% url 'kurye:aktif gorevler' %}" class="btn btn-app">
                                <i class="fa fa-clock-o"></i>Aktif
                                Görevler</a>
                            <a href="{% url 'kurye:kullanıcı iptal edilen gorevler' %}" class="btn btn-app">
                                <i class="fa fa-close"></i>İptal
                                Edilen Görevler</a>

                            <br>
                            <table id="completedtasks" class="display responsive nowrap" cellspacing="0" width="100%">
                                <thead>
                                <tr>

                                    <th>Talep No</th>
                                    <th>Görev Durum Bilgileri</th>
                                    <th>Firma</th>
                                    <th>Durum</th>
                                    <th>Müşteri Ad Soyad</th>
                                    <th>Adres</th>
                                    <th>Sipariş Tutarı</th>
                                    <th>Ödeme Yöntemi</th>
                                    <th>Kurye</th>
                                    <th>Kurye Açıklaması</th>
                                    <th>Firma Kurye Hizmet Ücreti</th>


                                </tr>
                                </thead>
                                <tbody>


                                <tr>

                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>


                                </tr>


                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!-- /.box -->


                </div>
            </section>


        </div>
        <!-- /.row (main row) -->
        <div class="modal fade bd-example-modal-lg" id="modal-default" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span></button>
                        <h4 class="modal-title">Görev Akış Diyagramı</h4>
                    </div>
                    <div class="modal-body bodys">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Kapat</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </section>


    <script>
        $(function () {


            $('#completedtasks').DataTable({


                "processing": true,
                "serverSide": true,
                "paging": true,
                "ordering": true,

                "ajax": {
                    "url": "{% url 'kurye:gorevler-api' %}",
                    "type": "POST"
                },
                "columns": [


                    {"data": "task.request.id"},
                    {
                        "render": function (data, type, full, meta, row) {
                            console.log(full.content);
                            let html;
                            html = '<button type="button" onclick="getTaskDetail(' + full.task.id + ')" class="btn btn-primary">Detay</button>';
                            return html

                        }
                    },
                    {"data": "task.request.company.companyName"},

                    {
                        "data": null,
                        render: function (data, type, row) {
                            let html = "";
                            if (row.task_situation.name === "Teslim Edildi")
                                html = '<span class="label label-success">' + row.task_situation.name + '</span>';
                            else
                                html = '<span class="label label-danger">' + row.task_situation.name + '</span>';
                            return html;
                        }
                    },
                    {"data": "task.request.receiver.customer"},
                    {"data": "task.request.receiver.address"},
                    {
                        "data": null,
                        render: function (data, type, row) {
                            return row.task.request.totalPrice + '₺';
                        }
                    },
                    {"data": "task.request.payment_type"},

                    {
                        "data": null,
                        render: function (data, type, row) {
                            return row.task.courier.courier.user.first_name + ' ' + row.task.courier.courier.user.last_name;
                        }

                    },
                    {
                        "data": null,
                        render: function (data, type, row) {
                            if (row.task.description) {
                                return row.task.description;
                            } else {
                                return "Açıklama Yapılmadı.";
                            }

                        }

                    },
                    {
                        "data": null,
                        render: function (data, type, row) {
                            return row.task.request.discount_price + '₺';
                        }
                    },


                ]

            })

        })
    </script>
    <script>
        function getTaskDetail(id) {

            var html = '';
            $.get(" {% url "kurye:gorev-durum-detaylari-timeline" pk=12121   %}".replace(/12121/, id.toString()))
                .done(function (response) {
                    var task = response.task;

                    html = '<ul class="timeline">';
                    for (let i = 0; i < task.length; i++) {

                        html += '<li><i class="fa fa-clock-o bg-green"></i>';
                        html += '<div class="timeline-item">';

                        html += '<span class="time"><i class="fa fa-clock-o"></i>' + formatDate(task[i].creationDate) + '</span>';
                        html += '<h3 class="timeline-header"><a>Görev No: ' + task[i].task.id + ' </a>';
                        if (task[i].task_situation.name === 'İptal Edildi' || task[i].task_situation.name === 'Teslim Edilemedi')
                            html += '<span class="label label-danger"> ' + task[i].task_situation.name + '</span> </h3>';
                        else if (task[i].task_situation.name === 'Kurye Atandı')
                            html += '<span class="label label-warning"> ' + task[i].task_situation.name + '</span> </h3>';
                        else if (task[i].task_situation.name === 'Paket Teslimi İçin Yolda' || task[i].task_situation.name === 'Paket Alımı İçin Yolda')
                            html += '<span class="label label-info"> ' + task[i].task_situation.name + '</span> </h3>';
                        else if (task[i].task_situation.name === 'Teslim Edildi')
                            html += '<span class="label label-primary"> ' + task[i].task_situation.name + '</span> </h3>';
                        else
                            html += '<span class="label label-success"> ' + task[i].task_situation.name + '</span> </h3>';
                        html += '<div class="timeline-body">';
                        html += '<b>Talep No : </b> ' + task[i].task.request.id + '<br>';
                        html += '<b>Kurye : </b> ' + task[i].task.courier.courier.user.first_name + ' ' + task[i].task.courier.courier.user.last_name + '<br>';
                        html += '<b>Müşteri : </b> ' + task[i].task.request.receiver.customer + '<br>';
                        html += '<b>Görev Oluşturma Zamanı :</b> ' + task[i].creationDate + ' <br>';
                        html += '<b>Paket Alım Zamanı :</b> ' + task[i].task.request.exitDate + '-' + task[i].task.request.exitTime + '<br>';
                        if (task[i].task_situation.name === 'Teslim Edildi' || task[i].task_situation.name === 'Teslim Edilemedi') {
                            html += '<b>Teslim Edilme/Edilememe Zamanı: </b> ' + task[i].task.deliveryDate + '-' + task[i].task.deliverDate + '<br>';
                        }
                        if (task[i].task.request.description) {
                            html += '<b>Talep Açıklaması :</b> ' + task[i].task.request.description + '<br>';
                        } else
                            html += '<b>Talep Açıklaması :</b> Açıklama Yapılmadı<br>';

                        if (task[i].task.description) {
                            html += '<b>Kurye Açıklaması : </b>' + task[i].task.description + '<br>';
                        } else
                            html += '<b>Kurye Açıklaması :</b> Açıklama Yapılmadı <br>';


                    }
                    html += '<li> <i class="fa fa-clock-o bg-gray"></i></li></ul>';

                    $(".bodys").html(html);

                });

            $('.bd-example-modal-lg').modal('show');


            $(".bd-example-modal-lg").on("hidden.bs.modal", function () {
                // put your default event here
                $(".bodys").html("");
            });


        }


        function getCookie(name) {
            var cookieValue = null;
            var i = 0;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (i; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });


        function getTask(id) {

            var html = '';
            $.get(" {% url "kurye:gorev getir" pk=12121   %}".replace(/12121/, id.toString()))
                .done(function (response) {

                    var task = response.task[0];


                    html = '<div class="box-body table-responsive no-padding">';
                    html += ' <table class="table table-hover">';
                    html += ' <tbody><tr>';
                    html += '<th>Müşteri Ad Soyad</th><th>Müşteri Adres</th><th>Firma</th><th>Kurye</th><th>Ödenen Ücret</th><th>Ödeme Yöntemi</th></tr><tr>';
                    html += '<td>' + task.task.request.receiver.customer + '</td><td>' + task.task.request.receiver.address + '</td><td>' + task.task.request.company.companyName + '</td><td>' + task.task.courier.courier.user.first_name + ' ' + task.task.courier.courier.user.last_name + '</td><td>' + task.task.request.totalPrice + '₺</td><td>' + task.task.request.payment_type + '</td>';
                    html += '</tr></tbody></table></div>';

                    $(".bodys").html(html);

                });

            $('.bd-example-modal-lg').modal('show');


            $(".bd-example-modal-lg").on("hidden.bs.modal", function () {
                // put your default event here
                $(".bodys").html("");
            });


        }


        function formatDate(date) {
            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();
            hour = d.getHours();
            minute = d.getMinutes();

            if (month.length < 2)
                month = '0' + month;
            if (day.length < 2)
                day = '0' + day;

            date = [day, month, year].join('.');
            time = [hour, minute].join(':');


            return [date, time].join('-');
        }


    </script>


{% endblock %}

