{% extends 'base_layout.html' %}

{% block content %}


    <!-- success modal -->

   <section class="content-header">
        <h1>
            {{ obj.name }}

        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'listArch:admin-dashboard' %}"><i class="fa fa-dashboard"></i> Anasayfa</a></li>
            <li><a href="">{{ parent.name }}</a></li>
            <li><a href="">{{ obj.name }}</a></li>
        </ol>

    </section>
    <section class="content">
        {% if messages %}
            {% for message in messages %}


                {% if message.tags == 'warning' %}

                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i> Hata !</h4>


                        <ul class="messages">
                            {% for message in messages %}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>


                    </div>

                {% endif %}


                {% if message.tags == 'success' %}

                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i> Başarılı !</h4>


                        <ul class="messages">
                            {% for message in messages %}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>


                    </div>

                {% endif %}
            {% endfor %}


        {% endif %}
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">


            <section class="col-xs-12 ">


                <div class="box">


                    <div class="box-body">
                        <div class="container-fluid">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-list"></i> Seçenek Listesi</h3>
                                </div>
                                <div class="panel-body">
                                    <form action=""
                                          method="post" enctype="multipart/form-data" id="form-option">
                                    <a href="{% url 'listArch:secenek-ekle' %}" class="btn btn-app">
                                        <i class="fa fa-plus"></i> Seçenek Ekle
                                    </a>
                                        <div class="table-responsive">
                                            <table id="features" class="display responsive nowrap" cellspacing="0"
                                                   width="100%">
                                                <thead>
                                                <tr>
                                                    <td style="width: 1px;" class="text-center"><input type="checkbox"
                                                                                                       onclick="$('input[name*=\'selected\']').prop('checked', this.checked);">
                                                    </td>
                                                    <td class="text-left"><a href=""
                                                            class="asc">Seçenek Adı</a>
                                                    </td>

                                                    <td class="text-right">Eylem</td>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for option in options %}
                                                    <tr>


                                                        <td class="text-center"><input type="checkbox" name="selected[]"
                                                                                       value="11">
                                                        </td>
                                                        <td class="text-left">{{ option.key }}</td>
                                                        <td class="text-right"><a href="{% url 'listArch:secenek-guncelle' option.pk %}"
                                                                data-toggle="tooltip" title="" class="btn btn-primary"
                                                                data-original-title="Düzenle"><i
                                                                class="fa fa-pencil"></i></a></td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </section>


        </div>
        <!-- /.row (main row) -->

    </section>


    <script>
        $(function () {
            $('#features').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true
            })

        })
    </script>


    <script>
        function getCookie(name) {
            var cookieValue = null;
            var i = 0;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (i; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });


    </script>



{% endblock %}

