{% extends 'base_layout.html' %}
{% block content %}

    {% load mathfilters %}
    <section class="content-header">
        <h1>
            Talep Seç

        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'kurye:kullanıcı-dashboard' %}"><i class="fa fa-dashboard"></i> Anasayfa</a></li>
            <li><a href="">Görev </a></li>
            <li><a href="">Görev Ata</a></li>
        </ol>

    </section>
    <section class="content">

        {% if messages %}
            {% for message in messages %}


                {% if message.tags == 'warning' %}

                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i> Hata !</h4>


                        <ul class="messages">
                            {% for message in messages %}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>


                    </div>

                {% endif %}


                {% if message.tags == 'success' %}

                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i> Başarılı !</h4>


                        <ul class="messages">
                            {% for message in messages %}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>


                    </div>

                {% endif %}
            {% endfor %}


        {% endif %}

        <div class="row">


            <section class="col-lg-12 ">


                <div class="box-body">


                    <div class="box box-primary">
                        <div class="box-body">

                            <table id="talep" class="display responsive nowrap" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Talep Seç</th>
                                    <th>Kurye</th>

                                    <th>Firma</th>
                                    <th>Alıcı Ad Soyad</th>
                                    <th>Alıcı Telefon</th>
                                    <th>İl/İlçe</th>
                                    <th>Alıcı Adres</th>
                                    <th>Ödeme Yöntemi</th>
                                    <th>Toplam Tutar</th>
                                    <th>Çıkış Tarihi</th>
                                    <th>Çıkış Saati</th>
                                    <th>Açıklama</th>


                                </tr>
                                </thead>
                                <tbody>
                                {% for request in requests %}


                                    <tr>


                                        <td>{{ forloop.counter }} </td>
                                        <td>
                                            <div class="btn-group">
                                                <form action="{% url 'kurye:gorev ata' request.pk %}"
                                                      method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" value="{{ courier.pk }}"
                                                           name="courier">
                                                    <button class="btn btn-sm btn-success"
                                                            type="submit" style="width: 70px">
                                                        <i class="fa fa-check"> </i>
                                                    </button>

                                                </form>
                                            </div>
                                        </td>
                                        <td>
                                            {{ courier.courier.user.first_name }} {{ courier.courier.user.last_name }}

                                        </td>

                                        <td>{{ request.company.companyName }}</td>
                                        <td>{{ request.receiver.customer }}</td>
                                        <td>{{ request.receiver.phone }}</td>
                                        <td>{{ request.receiver.district }}/{{ request.receiver.city }} </td>
                                        <td>{{ request.receiver.address }}</td>
                                        <td>{{ request.payment_type }}</td>
                                        <td>{{ request.totalPrice }}</td>
                                        <td>{{ request.exitDate }}</td>
                                        <td>{{ request.exitTime }}</td>
                                        <td>
                                            {% if request.description %}
                                                {{ request.description }}
                                            {% else %}
                                                Açıklama Yapılmadı
                                            {% endif %}
                                        </td>


                                    </tr>


                                {% endfor %}

                                </tbody>
                            </table>
                        </div>

                    </div>
                    <!-- /.box -->


                </div>
            </section>


        </div>
        <!-- /.row (main row) -->

    </section>
    <script>
        $(function () {
            $('#talep').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true
            })

        })
    </script>
    <script>


        function getCookie(name) {
            var cookieValue = null;
            var i = 0;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (i; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });


    </script>
{% endblock %}