{% extends 'base_layout.html' %}
{% load staticfiles %}
{% block content %}

    <!-- success modal -->
    <div class="modal modal-success modal-success-food fade in" id="modal-success" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">İşlem Başarılı</h4>
                </div>
                <div class="modal-body successModal">
                    ...
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-outline btn-ok">Tamam</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-danger fade in deneme22" tabindex="-1" role="dialog" id="modal-danger"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Uyarı</h4>
                </div>
                <div class="modal-body">
                    <p>Silmek istediğinizden emin misiniz?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-danger fade in siparis-onay" tabindex="-2" role="dialog" id="siparis-onay"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Uyarı</h4>
                </div>
                <div class="modal-body">
                    <p>Siparişi onaylamak istediğinizden emin misiniz?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf-2"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-siparis">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-danger fade in uye-onay" tabindex="-3" role="dialog" id="uye-onay"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Uyarı</h4>
                </div>
                <div class="modal-body">
                    <p>Üyeyi onaylamak istediğinizden emin misiniz?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf-3"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-uye">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">


            <div class="modal-content" style="height:fit-content">

                <div class="modal-header" style="background-color:#3c8dbc ">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body bodys">
                    ...
                </div>
            </div>
        </div>
    </div>


    <section class="content-header">
        <h1>
            {{ obj.name }}

        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'kurye:kullanıcı-dashboard' %}"><i class="fa fa-dashboard"></i> Anasayfa</a></li>

        </ol>

    </section>

    <!-- Main content -->
    <section class="content">
        {% if messages %}
            {% for message in messages %}


                {% if message.tags == 'warning' %}

                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i> Hata !</h4>


                        <ul class="messages">
                            {% for message in messages %}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>


                    </div>

                {% endif %}


                {% if message.tags == 'success' %}

                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i> Başarılı !</h4>


                        <ul class="messages">
                            {% for message in messages %}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>


                    </div>

                {% endif %}
            {% endfor %}


        {% endif %}
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>{{ active_task }}</h3>

                        <p>AKTİF GÖREV</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a href="{% url 'kurye:aktif gorevler' %}" class="small-box-footer">Aktif Görevler <i
                            class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>{{ canceled_task }}</h3>

                        <p>İPTAL EDİLEN GÖREV </p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="{% url 'kurye:kullanıcı iptal edilen gorevler' %}" class="small-box-footer">İptal Edilen
                        Görevler <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>{{ completed_task }}</h3>

                        <p>TAMAMLANAN GÖREV</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="{% url 'kurye:tamamlanan gorevler' %}" class="small-box-footer">Tamamlanan Görevler <i
                            class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-orange">
                    <div class="inner">
                        <h3>{{ online }}</h3>

                        <p>AKTİF KULLANICI</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="#" class="small-box-footer"><i class="fa fa-user"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- aylık kurye primleri -->
        <!-- Aylık Talep tablosu-->
        <div class="row">
            <div class="col-lg-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Aylık Talep Edilen Kurye Grafiği</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                    class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body chart-responsive">
                        <div class="chart" id="line-chart"
                             style="height: 200px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                            <svg height="300" version="1.1" width="594.6" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                 style="overflow: hidden; position: relative; left: -0.6px; top: -0.4px;">
                                <desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with
                                    Raphaël 2.3.0
                                </desc>
                                <defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs>
                                <text x="49.21875" y="261.375" text-anchor="end" font-family="sans-serif"
                                      font-size="12px" stroke="none" fill="#888888"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                                      font-weight="normal">
                                    <tspan dy="4.3984375"
                                           style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">0
                                    </tspan>
                                </text>
                                <path fill="none" stroke="#aaaaaa" d="M61.71875,261.375H569.6"
                                      stroke-width="0.5"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                <text x="49.21875" y="202.28125" text-anchor="end" font-family="sans-serif"
                                      font-size="12px" stroke="none" fill="#888888"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                                      font-weight="normal">
                                    <tspan dy="4.3984375"
                                           style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">5,000
                                    </tspan>
                                </text>
                                <path fill="none" stroke="#aaaaaa" d="M61.71875,202.28125H569.6"
                                      stroke-width="0.5"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                <text x="49.21875" y="143.1875" text-anchor="end" font-family="sans-serif"
                                      font-size="12px" stroke="none" fill="#888888"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                                      font-weight="normal">
                                    <tspan dy="4.3984375"
                                           style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">10,000
                                    </tspan>
                                </text>
                                <path fill="none" stroke="#aaaaaa" d="M61.71875,143.1875H569.6"
                                      stroke-width="0.5"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                <text x="49.21875" y="84.09375" text-anchor="end" font-family="sans-serif"
                                      font-size="12px" stroke="none" fill="#888888"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                                      font-weight="normal">
                                    <tspan dy="4.3984375"
                                           style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">15,000
                                    </tspan>
                                </text>
                                <path fill="none" stroke="#aaaaaa" d="M61.71875,84.09375H569.6"
                                      stroke-width="0.5"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                <text x="49.21875" y="25" text-anchor="end" font-family="sans-serif"
                                      font-size="12px" stroke="none" fill="#888888"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                                      font-weight="normal">
                                    <tspan dy="4.3984375"
                                           style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">20,000
                                    </tspan>
                                </text>
                                <path fill="none" stroke="#aaaaaa" d="M61.71875,25H569.6" stroke-width="0.5"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                <text x="476.43743766138425" y="273.875" text-anchor="middle"
                                      font-family="sans-serif" font-size="12px" stroke="none" fill="#888888"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                                      font-weight="normal" transform="matrix(1,0,0,1,0,6.8125)">
                                    <tspan dy="4.3984375"
                                           style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2013
                                    </tspan>
                                </text>
                                <text x="250.56386670295177" y="273.875" text-anchor="middle"
                                      font-family="sans-serif" font-size="12px" stroke="none" fill="#888888"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                                      font-weight="normal" transform="matrix(1,0,0,1,0,6.8125)">
                                    <tspan dy="4.3984375"
                                           style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2012
                                    </tspan>
                                </text>
                                <path fill="none" stroke="#3c8dbc"
                                      d="M61.71875,229.86621250000002C75.90656224684827,229.5352875,104.28218674054477,231.85987500778594,118.46999898739304,228.5425125C132.6642397853273,225.22364688278594,161.0527213811959,204.79004267015708,175.24696217913018,203.3213C189.29334630208598,201.8678567326571,217.38611454799758,219.65840898160334,231.43249867095338,216.85376875C245.47245424282315,214.05041210660335,273.5523653865627,183.6859716579367,287.5923209584325,180.88931250000002C301.7801332052808,178.0632013454367,330.15575769897725,191.42343932969987,344.34356994582555,194.3626875C358.53781074375985,197.30326745469986,386.9262923396284,218.3728184554974,401.1205331375627,204.408625C415.1669172605185,190.5898918929974,443.25968550643006,91.94842800812717,457.3060696293859,83.23098125000001C471.1917399751911,74.61327644562718,498.9630806668017,125.362570587646,512.848751012607,135.06801875000002C527.0365632594552,144.984650275146,555.4121877531518,155.0564796875,569.6,161.7193"
                                      stroke-width="3"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                <circle cx="61.71875" cy="229.86621250000002" r="4" fill="#3c8dbc"
                                        stroke="#ffffff" stroke-width="1"
                                        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                                <circle cx="118.46999898739304" cy="228.5425125" r="4" fill="#3c8dbc"
                                        stroke="#ffffff" stroke-width="1"
                                        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                                <circle cx="175.24696217913018" cy="203.3213" r="4" fill="#3c8dbc"
                                        stroke="#ffffff" stroke-width="1"
                                        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                                <circle cx="231.43249867095338" cy="216.85376875" r="4" fill="#3c8dbc"
                                        stroke="#ffffff" stroke-width="1"
                                        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                                <circle cx="287.5923209584325" cy="180.88931250000002" r="4" fill="#3c8dbc"
                                        stroke="#ffffff" stroke-width="1"
                                        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                                <circle cx="344.34356994582555" cy="194.3626875" r="4" fill="#3c8dbc"
                                        stroke="#ffffff" stroke-width="1"
                                        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                                <circle cx="401.1205331375627" cy="204.408625" r="4" fill="#3c8dbc"
                                        stroke="#ffffff" stroke-width="1"
                                        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                                <circle cx="457.3060696293859" cy="83.23098125000001" r="4" fill="#3c8dbc"
                                        stroke="#ffffff" stroke-width="1"
                                        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                                <circle cx="512.848751012607" cy="135.06801875000002" r="4" fill="#3c8dbc"
                                        stroke="#ffffff" stroke-width="1"
                                        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                                <circle cx="569.6" cy="161.7193" r="4" fill="#3c8dbc" stroke="#ffffff"
                                        stroke-width="1"
                                        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                                <circle cx="512.848751012607" cy="135.06801875000002" r="4" fill="#3c8dbc"
                                        stroke="#ffffff" stroke-width="1"
                                        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                                <circle cx="569.6" cy="161.7193" r="4" fill="#3c8dbc" stroke="#ffffff"
                                        stroke-width="1"
                                        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            </svg>
                            <div class="morris-hover morris-default-style"
                                 style="left: 132.222px; top: 136px; display: none;">
                                <div class="morris-hover-row-label">2011 Q3</div>
                                <div class="morris-hover-point" style="color: #3c8dbc">
                                    Item 1:
                                    4,912
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>

        <!--Donut Charts -->
        <div class="row">
            <div class="col-lg-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Görev Bilgileri</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                    class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <canvas id="pieChart" style="height: 200px; width: 594px;"></canvas>
                    </div>
                    <!-- /.box-body -->
                </div>

            </div>
            <div class="col-lg-6">
                <!-- Bar chart -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-bar-chart-o"></i>

                        <h3 class="box-title">Haftalık Talep Edilen Kurye Tablosu</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                    class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div id="bar-chart" style="height: 275px;"></div>
                    </div>
                    <!-- /.box-body-->

                    <!-- /.box -->


                </div>
            </div>
        </div>
        <!--end donutCharts -->


        <!--Haftalık Talep Edilen Kurye -->
        <div class="row">

            <div class="col-lg-6">
                <!-- Bar chart -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-bar-chart-o"></i>

                        <h3 class="box-title">Aylık Çalışan Kurye Tablosu </h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                    class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div id="bar-chart-courier" style="height: 200px;"></div>
                    </div>
                    <!-- /.box-body-->

                    <!-- /.box -->

                </div>
            </div>
            <div class="col-lg-6">
                <!-- Bar chart -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-bar-chart-o"></i>

                        <h3 class="box-title">Aylık Firma Tablosu</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                    class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div id="bar-chart-company" style="height: 200px;"></div>
                    </div>
                    <!-- /.box-body-->

                    <!-- /.box -->


                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Aylık Kurye Prim Tablosu</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                    class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body chart-responsive">
                        <div class="chart" id="line-chart_courier"
                             style="height: 200px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                            <svg height="300" version="1.1" width="594.6" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                 style="overflow: hidden; position: relative; left: -0.6px; top: -0.4px;">
                                <desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with
                                    Raphaël 2.3.0
                                </desc>
                                <defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs>
                                <text x="49.21875" y="261.375" text-anchor="end" font-family="sans-serif"
                                      font-size="12px" stroke="none" fill="#888888"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                                      font-weight="normal">
                                    <tspan dy="4.3984375"
                                           style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">0
                                    </tspan>
                                </text>
                                <path fill="none" stroke="#aaaaaa" d="M61.71875,261.375H569.6"
                                      stroke-width="0.5"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                <text x="49.21875" y="202.28125" text-anchor="end" font-family="sans-serif"
                                      font-size="12px" stroke="none" fill="#888888"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                                      font-weight="normal">
                                    <tspan dy="4.3984375"
                                           style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">5,000
                                    </tspan>
                                </text>
                                <path fill="none" stroke="#aaaaaa" d="M61.71875,202.28125H569.6"
                                      stroke-width="0.5"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                <text x="49.21875" y="143.1875" text-anchor="end" font-family="sans-serif"
                                      font-size="12px" stroke="none" fill="#888888"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                                      font-weight="normal">
                                    <tspan dy="4.3984375"
                                           style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">10,000
                                    </tspan>
                                </text>
                                <path fill="none" stroke="#aaaaaa" d="M61.71875,143.1875H569.6"
                                      stroke-width="0.5"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                <text x="49.21875" y="84.09375" text-anchor="end" font-family="sans-serif"
                                      font-size="12px" stroke="none" fill="#888888"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                                      font-weight="normal">
                                    <tspan dy="4.3984375"
                                           style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">15,000
                                    </tspan>
                                </text>
                                <path fill="none" stroke="#aaaaaa" d="M61.71875,84.09375H569.6"
                                      stroke-width="0.5"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                <text x="49.21875" y="25" text-anchor="end" font-family="sans-serif"
                                      font-size="12px" stroke="none" fill="#888888"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                                      font-weight="normal">
                                    <tspan dy="4.3984375"
                                           style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">20,000
                                    </tspan>
                                </text>
                                <path fill="none" stroke="#aaaaaa" d="M61.71875,25H569.6" stroke-width="0.5"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                <text x="476.43743766138425" y="273.875" text-anchor="middle"
                                      font-family="sans-serif" font-size="12px" stroke="none" fill="#888888"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                                      font-weight="normal" transform="matrix(1,0,0,1,0,6.8125)">
                                    <tspan dy="4.3984375"
                                           style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2013
                                    </tspan>
                                </text>
                                <text x="250.56386670295177" y="273.875" text-anchor="middle"
                                      font-family="sans-serif" font-size="12px" stroke="none" fill="#888888"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                                      font-weight="normal" transform="matrix(1,0,0,1,0,6.8125)">
                                    <tspan dy="4.3984375"
                                           style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2012
                                    </tspan>
                                </text>
                                <path fill="none" stroke="#3c8dbc"
                                      d="M61.71875,229.86621250000002C75.90656224684827,229.5352875,104.28218674054477,231.85987500778594,118.46999898739304,228.5425125C132.6642397853273,225.22364688278594,161.0527213811959,204.79004267015708,175.24696217913018,203.3213C189.29334630208598,201.8678567326571,217.38611454799758,219.65840898160334,231.43249867095338,216.85376875C245.47245424282315,214.05041210660335,273.5523653865627,183.6859716579367,287.5923209584325,180.88931250000002C301.7801332052808,178.0632013454367,330.15575769897725,191.42343932969987,344.34356994582555,194.3626875C358.53781074375985,197.30326745469986,386.9262923396284,218.3728184554974,401.1205331375627,204.408625C415.1669172605185,190.5898918929974,443.25968550643006,91.94842800812717,457.3060696293859,83.23098125000001C471.1917399751911,74.61327644562718,498.9630806668017,125.362570587646,512.848751012607,135.06801875000002C527.0365632594552,144.984650275146,555.4121877531518,155.0564796875,569.6,161.7193"
                                      stroke-width="3"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                <circle cx="61.71875" cy="229.86621250000002" r="4" fill="#3c8dbc"
                                        stroke="#ffffff" stroke-width="1"
                                        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                                <circle cx="118.46999898739304" cy="228.5425125" r="4" fill="#3c8dbc"
                                        stroke="#ffffff" stroke-width="1"
                                        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                                <circle cx="175.24696217913018" cy="203.3213" r="4" fill="#3c8dbc"
                                        stroke="#ffffff" stroke-width="1"
                                        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                                <circle cx="231.43249867095338" cy="216.85376875" r="4" fill="#3c8dbc"
                                        stroke="#ffffff" stroke-width="1"
                                        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                                <circle cx="287.5923209584325" cy="180.88931250000002" r="4" fill="#3c8dbc"
                                        stroke="#ffffff" stroke-width="1"
                                        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                                <circle cx="344.34356994582555" cy="194.3626875" r="4" fill="#3c8dbc"
                                        stroke="#ffffff" stroke-width="1"
                                        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                                <circle cx="401.1205331375627" cy="204.408625" r="4" fill="#3c8dbc"
                                        stroke="#ffffff" stroke-width="1"
                                        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                                <circle cx="457.3060696293859" cy="83.23098125000001" r="4" fill="#3c8dbc"
                                        stroke="#ffffff" stroke-width="1"
                                        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                                <circle cx="512.848751012607" cy="135.06801875000002" r="4" fill="#3c8dbc"
                                        stroke="#ffffff" stroke-width="1"
                                        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                                <circle cx="569.6" cy="161.7193" r="4" fill="#3c8dbc" stroke="#ffffff"
                                        stroke-width="1"
                                        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                                <circle cx="512.848751012607" cy="135.06801875000002" r="4" fill="#3c8dbc"
                                        stroke="#ffffff" stroke-width="1"
                                        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                                <circle cx="569.6" cy="161.7193" r="4" fill="#3c8dbc" stroke="#ffffff"
                                        stroke-width="1"
                                        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            </svg>
                            <div class="morris-hover morris-default-style"
                                 style="left: 132.222px; top: 136px; display: none;">
                                <div class="morris-hover-row-label">2011 Q3</div>
                                <div class="morris-hover-point" style="color: #3c8dbc">
                                    Item 1:
                                    4,912
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-xs-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Kuryelerin Teslim Etme Sayıları</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table no-margin">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Kurye</th>
                                    <th>Durumu</th>
                                    <th style="text-align: center">Teslim Edilen Görev Sayısı</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for courier in courierss %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ courier.courier.courier.user.first_name }} {{ courier.courier.courier.user.last_name }}</td>
                                        {% if courier.courier.isActive  == 'False' %}
                                            <td><span class="label label-success"> Görevi Yok</span></td>
                                        {% else %}
                                            <td><span class="label label-danger"> Görevde</span></td>
                                        {% endif %}

                                        <td style="text-align: center">
                                            {% if courier.count >= 20 %}
                                                <span class="label label-danger">{{ courier.count }}</span>
                                            {% elif courier.count >= 10 %}
                                                <span class="label label-success">{{ courier.count }}</span>
                                            {% else %}
                                                <span class="label label-warning">{{ courier.count }}</span>
                                            {% endif %}
                                        </td>


                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.box-body -->
                </div>

            </div>
            <div class="col-lg-4 col-xs-12">
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <h3 class="box-title">Son Görevler</h3>
                        <div class="box-tools pull-right">
                            <span class="label label-warning"> Son 6 Görev</span>

                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table no-margin">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Görev Numarası</th>
                                    <th>Firma</th>
                                    <th>Kurye</th>
                                    <th>Durumu</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for task in all_tasks %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ task.task.pk }}</td>
                                        <td>{{ task.task.request.company.companyName }}</td>
                                        <td>{{ task.task.courier.courier.user.first_name }} {{ task.task.courier.courier.user.last_name }}</td>
                                        {% if task.task_situation.name == 'Kurye Atandı' %}
                                            <td><span class="label label-primary"> {{ task.task_situation.name }}</span>
                                            </td>
                                        {% elif task.task_situation.name == 'Paket Alımı İçin Yolda' or task.task_situation.name == 'Paket Teslimi İçin Yolda' %}
                                            <td><span class="label label-warning">{{ task.task_situation.name }}</span>
                                            </td>
                                        {% elif task.task_situation.name == 'Teslim Edildi' %}
                                            <td><span class="label label-success">{{ task.task_situation.name }}</span>
                                            </td>
                                        {% elif task.task_situation.name == 'Teslim Edilemedi' %}
                                            <td><span class="label label-danger">{{ task.task_situation.name }}</span>
                                            </td>
                                        {% elif task.task_situation.name == 'İptal Edildi' %}
                                            <td><span class="label label-danger">{{ task.task_situation.name }}</span>
                                            </td>
                                        {% elif task.task_situation.name == 'Tamamlandı' %}
                                            <td><span class="label label-danger">{{ task.task_situation.name }}</span>
                                            </td>


                                        {% endif %}


                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.box-body -->


                </div>


            </div>
            <div class="col-lg-4 col-xs-12">
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Kuryeler</h3>

                        <div class="box-tools pull-right">
                            <span class="label label-danger">Aktif Olan Son 6 Kurye</span>

                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <ul class="users-list clearfix">
                            {% if couriers.all %}
                                {% for courier in couriers %}
                                    <li>

                                        <img src="/media/{{ courier.profileImage }}"
                                             style=" width: 50px;height: 50px;"/>
                                        <p class="users-list-name">{{ courier.user.first_name }} {{ courier.user.last_name }}</p>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                        <!-- /.users-list -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer text-center">
                        <a href="{% url 'kurye:kurye listesi' %}" class="uppercase">Tüm Kuryeler</a>
                    </div>
                    <!-- /.box-footer -->
                </div>
            </div>


        </div>

    </section>

    <script>
        $(function () {


            var pieChartCanvas = $('#pieChart').get(0).getContext('2d');
            var pieChart = new Chart(pieChartCanvas);
            var PieData = [
                {
                    value: {{ completed_task }},
                    color: '#5ff50c',
                    highlight: '#5ff50c',
                    label: 'Tamamlanan Görev'
                },


                {
                    value: {{ active_task }},
                    color: '#6c50ff',
                    highlight: '#6c50ff',
                    label: 'Aktif Görev'
                },
                {
                    value: {{on_the_road_task}},
                    color: '#d9ef2f',
                    highlight: '#d9ef2f',
                    label: 'Yolda Olan Kurye'
                },
                {
                    value: {{delivered_task}},
                    color: '#f37820',
                    highlight: '#f37820',
                    label: 'Teslim Edilen Görev'
                },
                {
                    value: {{undeliverable_task}},
                    color: '#01579B',
                    highlight: '#01579B',
                    label: 'Teslim Edilemeyen Görev'
                },
                {
                    value: {{assigned_task}},
                    color: '#38b1f5',
                    highlight: '#38b1f5',
                    label: 'Kurye Atanan Görev'
                },
                {
                    value: {{ canceled_task }},
                    color: '#931b16',
                    highlight: '#931b16',
                    label: 'İptal Edilen Talep'
                },


            ];
            var pieOptions = {
                //Boolean - Whether we should show a stroke on each segment
                segmentShowStroke: true,
                //String - The colour of each segment stroke
                segmentStrokeColor: '#fff',
                //Number - The width of each segment stroke
                segmentStrokeWidth: 2,
                //Number - The percentage of the chart that we cut out of the middle
                percentageInnerCutout: 50, // This is 0 for Pie charts
                //Number - Amount of animation steps
                animationSteps: 100,
                //String - Animation easing effect
                animationEasing: 'easeOutBounce',
                //Boolean - Whether we animate the rotation of the Doughnut
                animateRotate: true,
                //Boolean - Whether we animate scaling the Doughnut from the centre
                animateScale: false,
                //Boolean - whether to make the chart responsive to window resizing
                responsive: true,
                // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
                maintainAspectRatio: true,
                //String - A legend template
                legendTemplate: ''
            }
            //Create pie or douhnut chart
            // You can switch between pie and douhnut using the method below.
            pieChart.Doughnut(PieData, pieOptions);

            //-------------
            //- BAR CHART -

        })
    </script>

    <script>
        $(function () {
            "use strict";

            // AREA CHART

            var x = [];
            x ={{ array_report_year|safe }};
            // LINE CHART

            let graphArray = [];

            graphArray.push({y: '2019-01', item1: 0});

            for (var i = 0; i < x.length; i++) {


                graphArray.push({y: x[i].year.toString() + '-' + x[i].date.toString(), item1: x[i].count})

            }

            var months = ['Ocak', 'Şubat', 'Mart', 'Nisan', 'Mayıs', 'Haziran', 'Temmuz', 'Ağustos', 'Eylül', 'Ekim', 'Kasım', 'Aralık'];
// later on

            var line = new Morris.Line({
                element: 'line-chart',
                resize: true,

                data: graphArray,

                xkey: 'y',
                xLabels: "month",
                xLabelFormat: function (x) {
                    return months[x.getMonth()];
                },
                ykeys: ['item1'],
                labels: ['Talep Sayısı'],
                lineColors: ['#bc0500'],
                hideHover: 'auto'
            });


            console.log(line);


        });
    </script>

    <script>
        $(function () {
            "use strict";

            // AREA CHART

            var x = [];
            debugger;
            x ={{ array_earning_couriers|safe }};
            // LINE CHART

            let graphArray = [];

            graphArray.push({y: '2019-01', item1: 0});

            for (var i = 0; i < x.length; i++) {


                graphArray.push({y: x[i].year.toString() + '-' + x[i].date.toString(), item1: x[i].total})

            }

            var months = ['Ocak', 'Şubat', 'Mart', 'Nisan', 'Mayıs', 'Haziran', 'Temmuz', 'Ağustos', 'Eylül', 'Ekim', 'Kasım', 'Aralık'];
// later on

            var line = new Morris.Line({
                element: 'line-chart_courier',
                resize: true,

                data: graphArray,

                xkey: 'y',
                xLabels: "month",
                xLabelFormat: function (x) {
                    return months[x.getMonth()];
                },
                ykeys: ['item1'],
                labels: ['Toplam Tutar(₺)'],
                lineColors: ['#167cbc'],
                hideHover: 'auto'
            });


            console.log(line);


        });
    </script>

    <script>
        $(function () {
            var weeks = [];
            weeks ={{ array_report_week|safe }};
            let weekArray = [];


            for (var i = 0; i < weeks.length; i++) {

                let loop_arr = [];
                loop_arr.push(weeks[i].year.toString() + '-' + weeks[i].month.toString() + '-' + weeks[i].day.toString());
                loop_arr.push(weeks[i].count);
                weekArray.push(
                    loop_arr
                )

            }

            let data1 = [['2020-05-22', 10], ['2020-05-25', 8], ['March', 4], ['April', 13], ['May', 17], ['June', 9]];
            var bar_data = {
                data: weekArray,
                color: '#5687bc'
            }
            $.plot('#bar-chart', [bar_data], {
                grid: {
                    borderWidth: 1,
                    borderColor: '#f3f3f3',
                    tickColor: '#f3f3f3'
                },
                series: {
                    bars: {
                        show: true,
                        barWidth: 0.3,
                        align: 'center'
                    }
                },
                xaxis: {
                    mode: 'categories',
                    tickLength: 0
                }
            });
        });
        /* END BAR CHART */
    </script>

    <script>
        $(function () {
            var months = [];
            months ={{ array_courierCount | safe }};
            let monthArray = [];
            debugger;

            for (var i = 0; i < months.length; i++) {

                let loop_arr = [];
                loop_arr.push(months[i].year + '-' + months[i].date);
                loop_arr.push(months[i].count);
                monthArray.push(
                    loop_arr
                )

            }

            let data1 = [['2020-05', 10], ['2020-05-25', 8], ['March', 4], ['April', 13], ['May', 17], ['June', 9]];
            var bar_data = {
                data: monthArray,
                color: '#ed6c14'
            }
            $.plot('#bar-chart-courier', [bar_data], {
                grid: {
                    borderWidth: 1,
                    borderColor: '#f3f3f3',
                    tickColor: '#f3f3f3'
                },
                series: {
                    bars: {
                        show: true,
                        barWidth: 0.3,
                        align: 'center'
                    }
                },
                xaxis: {
                    mode: 'categories',
                    tickLength: 0
                }
            });
        });
        $(function () {
            var months = [];
            months ={{ array_companyCount | safe }};
            let monthArray = [];
            debugger;

            for (var i = 0; i < months.length; i++) {

                let loop_arr = [];
                loop_arr.push(months[i].year + '-' + months[i].date);
                loop_arr.push(months[i].count);
                monthArray.push(
                    loop_arr
                )

            }

            let data1 = [['2020-05', 10], ['2020-05-25', 8], ['March', 4], ['April', 13], ['May', 17], ['June', 9]];
            var bar_data = {
                data: monthArray,
                color: '#2c942c'
            }
            $.plot('#bar-chart-company', [bar_data], {
                grid: {
                    borderWidth: 1,
                    borderColor: '#f3f3f3',
                    tickColor: '#f3f3f3'
                },
                series: {
                    bars: {
                        show: true,
                        barWidth: 0.3,
                        align: 'center'
                    }
                },
                xaxis: {
                    mode: 'categories',
                    tickLength: 0
                }
            });
        });
        /* END BAR CHART */
    </script>

{% endblock %}