{% extends 'base_layout.html' %}

{% block content %}

    {% if messages %}
        {% for message in messages %}


            {% if message.tags == 'warning' %}

                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Hata !</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}


            {% if message.tags == 'success' %}

                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Başarılı !</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}
        {% endfor %}


    {% endif %}
    <!-- success modal -->
    <div class="modal modal-success modal-success-food fade in" id="modal-success" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">İşlem Başarılı</h4>
                </div>
                <div class="modal-body successModal">
                    ...
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-outline btn-ok">Tamam</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-danger fade in deneme22" tabindex="-1" role="dialog" id="modal-danger"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Uyarı</h4>
                </div>
                <div class="modal-body">
                    <p>Silmek istediğinizden emin misiniz?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    <section class="content-header">
        <h1>
            {{obj.name}}

        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'kurye:kurye-dashboard' %}"><i class="fa fa-dashboard"></i> Anasayfa</a></li>
        </ol>

    </section>
    <section class="content">

        <div class="row">
            <div class="col-lg-6">
                <!-- Bar chart -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-bar-chart-o"></i>

                        <h3 class="box-title">Haftalık Görev Tablosu</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                    class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div id="bar-chart" style="height: 200px;"></div>
                    </div>
                    <!-- /.box-body-->

                    <!-- /.box -->


                </div>
            </div>
            <div class="col-lg-6">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Görev Bilgileri</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                    class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <canvas id="pieChart" style="height: 200px; width: 594px;" height="450"
                                width="742"></canvas>
                    </div>
                    <!-- /.box-body -->
                </div>


            </div>

        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Yıllık Görev Tablosu</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                    class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body chart-responsive">
                        <div class="chart" id="line-chart"
                             style="height: 200px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                            <svg height="300" version="1.1" width="594.6" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                 style="overflow: hidden; position: relative; left: -0.6px; top: -0.4px;">
                                <desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with
                                    Raphaël 2.3.0
                                </desc>
                                <defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs>
                                <text x="49.21875" y="261.375" text-anchor="end" font-family="sans-serif"
                                      font-size="12px" stroke="none" fill="#888888"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                                      font-weight="normal">
                                    <tspan dy="4.3984375"
                                           style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">0
                                    </tspan>
                                </text>
                                <path fill="none" stroke="#aaaaaa" d="M61.71875,261.375H569.6"
                                      stroke-width="0.5"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                <text x="49.21875" y="202.28125" text-anchor="end" font-family="sans-serif"
                                      font-size="12px" stroke="none" fill="#888888"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                                      font-weight="normal">
                                    <tspan dy="4.3984375"
                                           style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">5,000
                                    </tspan>
                                </text>
                                <path fill="none" stroke="#aaaaaa" d="M61.71875,202.28125H569.6"
                                      stroke-width="0.5"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                <text x="49.21875" y="143.1875" text-anchor="end" font-family="sans-serif"
                                      font-size="12px" stroke="none" fill="#888888"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                                      font-weight="normal">
                                    <tspan dy="4.3984375"
                                           style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">10,000
                                    </tspan>
                                </text>
                                <path fill="none" stroke="#aaaaaa" d="M61.71875,143.1875H569.6"
                                      stroke-width="0.5"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                <text x="49.21875" y="84.09375" text-anchor="end" font-family="sans-serif"
                                      font-size="12px" stroke="none" fill="#888888"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                                      font-weight="normal">
                                    <tspan dy="4.3984375"
                                           style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">15,000
                                    </tspan>
                                </text>
                                <path fill="none" stroke="#aaaaaa" d="M61.71875,84.09375H569.6"
                                      stroke-width="0.5"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                <text x="49.21875" y="25" text-anchor="end" font-family="sans-serif"
                                      font-size="12px" stroke="none" fill="#888888"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                                      font-weight="normal">
                                    <tspan dy="4.3984375"
                                           style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">20,000
                                    </tspan>
                                </text>
                                <path fill="none" stroke="#aaaaaa" d="M61.71875,25H569.6" stroke-width="0.5"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                <text x="476.43743766138425" y="273.875" text-anchor="middle"
                                      font-family="sans-serif" font-size="12px" stroke="none" fill="#888888"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                                      font-weight="normal" transform="matrix(1,0,0,1,0,6.8125)">
                                    <tspan dy="4.3984375"
                                           style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2013
                                    </tspan>
                                </text>
                                <text x="250.56386670295177" y="273.875" text-anchor="middle"
                                      font-family="sans-serif" font-size="12px" stroke="none" fill="#888888"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                                      font-weight="normal" transform="matrix(1,0,0,1,0,6.8125)">
                                    <tspan dy="4.3984375"
                                           style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2012
                                    </tspan>
                                </text>
                                <path fill="none" stroke="#3c8dbc"
                                      d="M61.71875,229.86621250000002C75.90656224684827,229.5352875,104.28218674054477,231.85987500778594,118.46999898739304,228.5425125C132.6642397853273,225.22364688278594,161.0527213811959,204.79004267015708,175.24696217913018,203.3213C189.29334630208598,201.8678567326571,217.38611454799758,219.65840898160334,231.43249867095338,216.85376875C245.47245424282315,214.05041210660335,273.5523653865627,183.6859716579367,287.5923209584325,180.88931250000002C301.7801332052808,178.0632013454367,330.15575769897725,191.42343932969987,344.34356994582555,194.3626875C358.53781074375985,197.30326745469986,386.9262923396284,218.3728184554974,401.1205331375627,204.408625C415.1669172605185,190.5898918929974,443.25968550643006,91.94842800812717,457.3060696293859,83.23098125000001C471.1917399751911,74.61327644562718,498.9630806668017,125.362570587646,512.848751012607,135.06801875000002C527.0365632594552,144.984650275146,555.4121877531518,155.0564796875,569.6,161.7193"
                                      stroke-width="3"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                <circle cx="61.71875" cy="229.86621250000002" r="4" fill="#3c8dbc"
                                        stroke="#ffffff" stroke-width="1"
                                        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                                <circle cx="118.46999898739304" cy="228.5425125" r="4" fill="#3c8dbc"
                                        stroke="#ffffff" stroke-width="1"
                                        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                                <circle cx="175.24696217913018" cy="203.3213" r="4" fill="#3c8dbc"
                                        stroke="#ffffff" stroke-width="1"
                                        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                                <circle cx="231.43249867095338" cy="216.85376875" r="4" fill="#3c8dbc"
                                        stroke="#ffffff" stroke-width="1"
                                        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                                <circle cx="287.5923209584325" cy="180.88931250000002" r="4" fill="#3c8dbc"
                                        stroke="#ffffff" stroke-width="1"
                                        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                                <circle cx="344.34356994582555" cy="194.3626875" r="4" fill="#3c8dbc"
                                        stroke="#ffffff" stroke-width="1"
                                        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                                <circle cx="401.1205331375627" cy="204.408625" r="4" fill="#3c8dbc"
                                        stroke="#ffffff" stroke-width="1"
                                        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                                <circle cx="457.3060696293859" cy="83.23098125000001" r="4" fill="#3c8dbc"
                                        stroke="#ffffff" stroke-width="1"
                                        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                                <circle cx="512.848751012607" cy="135.06801875000002" r="4" fill="#3c8dbc"
                                        stroke="#ffffff" stroke-width="1"
                                        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                                <circle cx="569.6" cy="161.7193" r="4" fill="#3c8dbc" stroke="#ffffff"
                                        stroke-width="1"
                                        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                                <circle cx="512.848751012607" cy="135.06801875000002" r="4" fill="#3c8dbc"
                                        stroke="#ffffff" stroke-width="1"
                                        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                                <circle cx="569.6" cy="161.7193" r="4" fill="#3c8dbc" stroke="#ffffff"
                                        stroke-width="1"
                                        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            </svg>
                            <div class="morris-hover morris-default-style"
                                 style="left: 132.222px; top: 136px; display: none;">
                                <div class="morris-hover-row-label">2011 Q3</div>
                                <div class="morris-hover-point" style="color: #3c8dbc">
                                    Item 1:
                                    4,912
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>


    </section>





    <!-- /.row (main row) -->

    </section>

    <script>
        $(function () {
            $('#kurye').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true
            })

        })
    </script>
    <script>
        $(function () {
            $('.select2').select2();
            //Money Euro
            $('[data-mask]').inputmask();


            //Date picker
            $('#datepicker').datepicker({
                autoclose: true
            });


            //Timepicker
            $('.timepicker').timepicker({
                showInputs: false
            })
        })

    </script>



    <script>       function getCookie(name) {
        var cookieValue = null;
        var i = 0;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (i; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        crossDomain: false, // obviates need for sameOrigin test
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });</script>

    <script>
        $(function () {

            debugger;
            var pieChartCanvas = $('#pieChart').get(0).getContext('2d');
            var pieChart = new Chart(pieChartCanvas);
            var PieData = [
                {
                    value: {{ completed_tasks  }},
                    color: '#f56954',
                    highlight: '#f56954',
                    label: 'Tamamlanan Görev'
                },

                {
                    value: {{ canceled_tasks  }},
                    color: '#f39c12',
                    highlight: '#f39c12',
                    label: 'İptal Edilen Görev'
                },

                {
                    value: {{ successful_tasks }},
                    color: '#283593',
                    highlight: '#283593',
                    label: 'Başarılı Görev'
                },
                {
                    value: {{ unsuccessful_tasks  }},
                    color: '#01579B',
                    highlight: '#01579B',
                    label: 'Başarısız Görev'
                },

                {
                    value: {{ active_requests  }},
                    color: 'purple',
                    highlight: 'purple',
                    label: 'Aktif Talepler'
                },


            ];
            var pieOptions = {
                //Boolean - Whether we should show a stroke on each segment
                segmentShowStroke: true,
                //String - The colour of each segment stroke
                segmentStrokeColor: '#fff',
                //Number - The width of each segment stroke
                segmentStrokeWidth: 2,
                //Number - The percentage of the chart that we cut out of the middle
                percentageInnerCutout: 50, // This is 0 for Pie charts
                //Number - Amount of animation steps
                animationSteps: 100,
                //String - Animation easing effect
                animationEasing: 'easeOutBounce',
                //Boolean - Whether we animate the rotation of the Doughnut
                animateRotate: true,
                //Boolean - Whether we animate scaling the Doughnut from the centre
                animateScale: false,
                //Boolean - whether to make the chart responsive to window resizing
                responsive: true,
                // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
                maintainAspectRatio: true,
                //String - A legend template
                legendTemplate: ''
            }
            //Create pie or douhnut chart
            // You can switch between pie and douhnut using the method below.
            pieChart.Doughnut(PieData, pieOptions);

            //-------------
            //- BAR CHART -

        })
    </script>
    <script>


        $(function () {
            "use strict";

            // AREA CHART

            var x = [];
            x ={{ array_report_year|safe }};
            // LINE CHART

            let graphArray = [];

            graphArray.push({y: '2020-01', item1: 0});

            for (var i = 0; i < x.length; i++) {


                graphArray.push({y: x[i].year.toString() + '-' + x[i].date.toString(), item1: x[i].count})

            }

            var months = ['Ocak', 'Şubat', 'Mart', 'Nisan', 'Mayıs', 'Haziran', 'Temmuz', 'Ağustos', 'Eylül', 'Ekim', 'Kasım', 'Aralık'];


            var line = new Morris.Line({
                element: 'line-chart',
                resize: true,

                data: graphArray,
                xLabels: "month",
                xLabelFormat: function (x) {
                    return months[x.getMonth()];
                },
                xkey: 'y',
                ykeys: ['item1'],
                labels: ['Talep Sayısı'],
                lineColors: ['#3c8dbc'],
                hideHover: 'auto'
            });

            console.log(line);


        });

    </script>

    <script>
        $(function () {
            var weeks = [];
            weeks ={{ array_report_week|safe }};
            let weekArray = [];


            for (var i = 0; i < weeks.length; i++) {

                let loop_arr = [];
                loop_arr.push(weeks[i].year.toString() + '-' + weeks[i].month.toString() + '-' + weeks[i].day.toString());
                loop_arr.push(weeks[i].count);
                weekArray.push(
                    loop_arr
                )

            }

            let data1 = [['2020-05-22', 10], ['2020-05-25', 8], ['March', 4], ['April', 13], ['May', 17], ['June', 9]];
            var bar_data = {
                data: weekArray,
                color: '#3c8dbc'
            }
            $.plot('#bar-chart', [bar_data], {
                grid: {
                    borderWidth: 1,
                    borderColor: '#f3f3f3',
                    tickColor: '#f3f3f3'
                },
                series: {
                    bars: {
                        show: true,
                        barWidth: 0.5,
                        align: 'center'
                    }
                },
                xaxis: {
                    mode: 'categories',
                    tickLength: 0
                }
            });
        });
        /* END BAR CHART */
    </script>
{% endblock %}

