{% extends 'base_layout.html' %}

{% block content %}

    <section class="content-header">
        <h1>
            {{ obj.name }}

        </h1>
        <ol class="breadcrumb">
            {% if  user.groups.all.0.name == 'Admin' %}
                <li><a href="{% url 'kurye:admin-dashboard' %}"><i class="fa fa-dashboard"></i> Anasayfa</a></li>
            {% elif user.groups.all.0.name == 'Kullanıcı' %}
                <li><a href="{% url 'kurye:kullanıcı-dashboard' %}"><i class="fa fa-dashboard"></i> Anasayfa</a></li>
            {% else %}
                <li><a href="{% url 'kurye:kurye-dashboard' %}"><i class="fa fa-dashboard"></i> Anasayfa</a></li>
            {% endif %}

            <li><a href="">{{ parent.name }}</a></li>
            <li><a href="">{{ obj.name }}</a></li>
        </ol>

    </section>
    <section class="content">
        {% if messages %}
            {% for message in messages %}


                {% if message.tags == 'warning' %}

                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i> Hata !</h4>


                        <ul class="messages">
                            {% for message in messages %}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>


                    </div>

                {% endif %}


                {% if message.tags == 'success' %}

                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i> Başarılı !</h4>


                        <ul class="messages">
                            {% for message in messages %}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>


                    </div>

                {% endif %}
            {% endfor %}


        {% endif %}
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">


            <section class="col-lg-12 ">


                <div class="box-body">

                    <div class="box box-primary">

                        <div class="box-body">

                            <form method="post" action="{% url 'kurye:bildirimler' %}">
                                {% csrf_token %}
                                <input type="hidden" name="checks" id="checks">
                                <button style="margin-top: 10px;margin-bottom:20px;margin-left: 5px" type="submit"
                                        class="btn btn-danger btn-sm pull-left"><i
                                        class="fa fa-trash-o"> Seçilenleri Sil</i>
                                </button>
                            </form>
                            <br>
                            <table id="notification" class="table  table-bordered display responsive nowrap "
                                   cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th>Sil/Okundu Yap</th>
                                    <th>Başlık</th>
                                    <th>İçerik</th>
                                    <th>Tarih</th>


                                </tr>
                                </thead>
                                <tbody>


                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>


                                </tr>


                                </tbody>
                            </table>
                        </div>


                    </div>

                </div>
            </section>

        </div>
        <!-- /.row (main row) -->

    </section>

    <script>
        $(function () {
            $('#notification').DataTable({

                "processing": true,
                "serverSide": true,
                "paging": true,
                "ordering": false,

                "ajax": {
                    "url": "{% url 'kurye:api-notifications' %}",
                    "type": "POST"
                },
                "columns": [
                    {
                        "render": function (data, type, full, meta, row) {
                            console.log(full.content);
                            let html;
                            html = '<td><input style="margin-left:10px;"  type="checkbox"  name="check_list[]" onclick="checkbox()" value="' + full.id + '"></td>';
                            if (full.isRead === false) {
                                html += '<td><button style="margin-left:30px;" onclick="isRead(' + full.id + ')" type="submit" class="btn btn-sm btn-success"><i class="fa fa-check"></i></button></td>';
                            }

                            return html

                        }
                    },
                    {"data": "key"},
                    {"data": "message"},
                    {"data": "creationDate"},


                ],


            })

        });


        function formatDate(date) {
            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2)
                month = '0' + month;
            if (day.length < 2)
                day = '0' + day;

            return [day, month, year].join('.');
        }
    </script>

    <script>


        function getCookie(name) {
            var cookieValue = null;
            var i = 0;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (i; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });


    </script>
    <script>
        function checkbox() {
            debugger;
            var checkboxes = document.getElementsByName('check_list[]');
            var vals = "";
            for (var i = 0, n = checkboxes.length; i < n; i++) {
                if (checkboxes[i].checked) {
                    vals += "," + checkboxes[i].value;
                }
            }
            if (vals) vals = vals.substring(1);

            document.getElementById("checks").value = vals;

        }


        function isRead(notification_id) {
            debugger;
            $.ajax({
                url: "{% url 'kurye:bildirim-okundu-yap' %}",
                type: "post", // or "get"
                data: {
                    notification_id: notification_id,

                },
                success: function (result) {

                    window.location.replace("{% url "kurye:bildirimler" %}");

                }
            });
        }
    </script>

{% endblock %}

