{% extends 'base_layout.html' %}

{% block content %}
    <style>
        .detail tr.detail-color:hover {
            background-color: #a7a7a7;;
        }
    </style>
    <section class="content-header">
        <h1>
            <x></x>
            {{ obj.name }}
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'kurye:admin-dashboard' %}"><i class="fa fa-dashboard"></i> Anasayfa</a></li>
            <li><a href="">{{ parent.name }}</a></li>
            <li><a href="">{{ obj.name }}</a></li>
        </ol>

    </section>
    <section class="content">
        <div class="modal modal-success modal-success-food fade in" id="modal-success" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span></button>
                        <h4 class="modal-title">İşlem Başarılı</h4>
                    </div>
                    <div class="modal-body successModal">
                        ...
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-outline btn-ok">Tamam</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <div class="modal modal-success fade bd-example-modal-lg" id="modal-default" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span></button>
                        <h4 class="modal-title">Hizmet Ücret Bilgileri</h4>
                    </div>
                    <div class="modal-body bodys">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Kapat</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <div class="modal modal-danger fade in deneme23" tabindex="-1" role="dialog" id="modal-danger"
             aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span></button>
                        <h4 class="modal-title">Uyarı</h4>
                    </div>
                    <div class="modal-body">
                        <p id="content"></p>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf"
                                data-dismiss="modal">Evet
                        </button>
                        <button type="button" class="btn btn-outline" id="btn-close">Hayır</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        {% if messages %}
            {% for message in messages %}


                {% if message.tags == 'warning' %}

                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i> Hata !</h4>


                        <ul class="messages">
                            {% for message in messages %}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>


                    </div>

                {% endif %}


                {% if message.tags == 'success' %}

                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i> Başarılı !</h4>


                        <ul class="messages">
                            {% for message in messages %}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>


                    </div>

                {% endif %}
            {% endfor %}


        {% endif %}
        <!-- /.row -->
        <!-- Main row -->

        <div class="row">

            <section class="col-lg-12 ">

                <div class="box-body">

                    <div class="box box-primary">
                        <div class="box-body">

                            <div class="row">
                                <div class="col-lg-7">
                                    <section class="content-header">
                                        <h2>
                                            {{ date }}
                                        </h2>
                                    </section>
                                </div>
                                <div class="col-lg-5 col-xs-6">
                                    <form method="post" enctype="multipart/form-data" role="form">
                                        {% csrf_token %}
                                        <div style="float: right" class="form-group">
                                            <label>Tarih Seç</label>
                                            <div class="input-group">

                                                <select class="form-control select2  select2 select2-hidden-accessible "
                                                        style="width: 100%;"
                                                        name="ay" id='gMonth2'>
                                                    <option value=''>Ay</option>
                                                    <option value='1'>Ocak</option>
                                                    <option value='2'>Şubat</option>
                                                    <option value='3'>Mart</option>
                                                    <option value='4'>Nisan</option>
                                                    <option value='5'>Mayıs</option>
                                                    <option value='6'>Haziran</option>
                                                    <option value='7'>Temmuz</option>
                                                    <option value='8'>Ağustos</option>
                                                    <option value='9'>Eylül</option>
                                                    <option value='10'>Ekim</option>
                                                    <option value='11'>Kasım</option>
                                                    <option value='12'>Aralık</option>
                                                </select>

                                                <select class="form-control select2  select2 select2-hidden-accessible "
                                                        style="width: 50%;"
                                                        name="yil" id='year'>
                                                    <option value=''>Yıl</option>
                                                    <option value='2020'>2020</option>
                                                    <option value='2021'>2021</option>

                                                </select>
                                                <button style="margin: 10px;" type="submit"
                                                        class="btn btn-sm btn-primary">Göster
                                                </button>


                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>


                            <br>
                            <table id="companyearnings" class="display responsive nowrap" cellspacing="0" width="100%">
                                <thead>
                                <tr>

                                    <th>#</th>
                                    <th>Firma</th>
                                    <th style="text-align: center">Ödeme Tutarı</th>
                                    <th style="text-align: center">Teslim Edilen Paket Sayısı</th>
                                    <th>Tarih</th>
                                    <th>Durum</th>
                                    <th></th>


                                </tr>
                                </thead>
                                <tbody>

                                {% for task in earnings %}
                                    <tr>

                                        <td>{{ forloop.counter }} </td>
                                        <td>{{ task.company.companyName }} </td>

                                        <td style="text-align: center">{{ task.sum | floatformat:2 }} ₺</td>

                                        <td style="text-align: center">{{ task.count }}</td>
                                        <td>{{ task.date }}</td>
                                        {% if task.situation == 'Ödenmedi' %}

                                            <td>
                                                {% if user.groups.all.0.name == 'Admin' %}
                                                    <button style="width: 90px;" type="submit"
                                                            onclick="pay_payment({{ task.company.pk }},{{ year }},{{ month }})"
                                                            class="btn btn-sm btn-success">Ödendi Yap
                                                    </button>
                                                {% else %}
                                                    {{ task.situation }}
                                                {% endif %}
                                            </td>

                                        {% else %}
                                            <td>
                                                {% if user.groups.all.0.name == 'Admin' %}

                                                    <button style="width: 90px;" type="submit"
                                                            onclick="undo_payment_company({{ task.company.pk }},{{ year }},{{ month }})"
                                                            class="btn btn-sm btn-danger">Ödenmedi Yap
                                                    </button>
                                                {% else %}
                                                    {{ task.situation }}
                                                {% endif %}

                                            </td>
                                        {% endif %}
                                        <td>
                                            <button class="btn btn-primary" type="submit"
                                                    onclick="getCompanyEarning({{ task.company.pk }},{{ month }},{{ year }})">
                                                Detay
                                            </button>
                                        </td>

                                    </tr>

                                {% endfor %}

                                </tbody>
                            </table>

                        </div>
                    </div>


                </div>
            </section>


        </div>
        <!-- /.row (main row) -->

    </section>
    <script>
        $(function () {
            $('#companyearnings').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true
            })

        })
    </script>
    <script>
        $(function () {
            $('.select2').select2();
            //Money Euro
            $('[data-mask]').inputmask();


            //Date picker
            $('#datepicker').datepicker({
                autoclose: true
            });


            //Timepicker
            $('.timepicker').timepicker({
                showInputs: false
            })
        })

    </script>



    <script>


        function getCookie(name) {
            var cookieValue = null;
            var i = 0;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (i; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });


    </script>

    <script>

        function getTask(id) {

            var html = '';
            $.get(" {% url "kurye:gorev getir" pk=12121   %}".replace(/12121/, id.toString()))
                .done(function (response) {

                    var task = response.task[0];
                    task.creationDate = formatDate(task.creationDate);


                    html = '<div class="box-body table-responsive no-padding">';
                    html += ' <table class="table table-hover">';
                    html += ' <tbody><tr>';
                    html += '<th>Müşteri Ad Soyad</th><th>Müşteri Adres</th><th>Firma</th><th>Kurye</th><th>Tarih</th></tr><tr>';
                    html += '<td>' + task.task.request.receiver.customer + '</td><td>' + task.task.request.receiver.address + '</td><td>' + task.task.request.company.companyName + '</td><td>' + task.task.courier.courier.user.first_name + ' ' + task.task.courier.courier.user.last_name + '</td><td>' + task.creationDate + '</td>';
                    html += '</tr></tbody></table></div>';

                    $(".bodys").html(html);

                });

            $('.bd-example-modal-lg').modal('show');


            $(".bd-example-modal-lg").on("hidden.bs.modal", function () {
                // put your default event here
                $(".bodys").html("");
            });


        }


        function formatDate(date) {
            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear(),
                datetime = d.getHours() + ':' + d.getMinutes();

            if (month.length < 2)
                month = '0' + month;
            if (day.length < 2)
                day = '0' + day;

            return [day, month, year].join('.') + '/' + datetime;
        }
    </script>

    <script>
        function pay_payment(company_id, year, month) {
            let html = 'Kullanıcı Ödeme Yaptı mı?';
            document.getElementById('content').innerHTML = html;

            $(".deneme23").on("shown.bs.modal", function (e) {
                $("#btn-conf").click(function () {
                    $.ajax({
                        url: "{% url 'kurye:kullanici-payment' %}",
                        type: "post", // or "get"
                        data: {
                            company_id: company_id,
                            year: year,
                            month: month,

                        },
                        success: function (result) {

                            if (result.status == 'Success') {

                                html = 'Ödeme Yapıldı Olarak Düzenlendi';

                                $(".successModal").html(html);
                                $('#modal-success').on("shown.bs.modal", function (e) {
                                    $(".btn-ok").click(function () {

                                        window.location.replace("{% url "kurye:kullanici-odemeleri" %}");

                                    });

                                }).modal('show');


                            } else {
                                swal("Başarılı", result.messages, "error");
                            }
                        }
                    });
                });

            }).modal('show');
            $('#btn-close').click(function () {
                $('#modal-danger').modal('hide');
            });
        }

        function undo_payment_company(company_id, year, month) {
            let html = 'Kullanıcı Ödeme Bilgileri Silinsin mi?';
            document.getElementById('content').innerHTML = html;
            $(".deneme23").on("shown.bs.modal", function (e) {
                $("#btn-conf").click(function () {
                    $.ajax({
                        url: "{% url 'kurye:kullanici-odeme-geri-al' %}",
                        type: "post", // or "get"
                        data: {
                            company_id: company_id,
                            year: year,
                            month: month,

                        },
                        success: function (result) {

                            html = 'Ödeme Yapılmadı Olarak Düzenlendi';

                            $(".successModal").html(html);
                            $('#modal-success').on("shown.bs.modal", function (e) {
                                $(".btn-ok").click(function () {

                                    window.location.replace("{% url "kurye:kullanici-odemeleri" %}");

                                });

                            }).modal('show');
                        }
                    });
                });

            }).modal('show');
            $('#btn-close').click(function () {
                $('#modal-danger').modal('hide');
            });
        }


    </script>

    <script>
        function getCompanyEarning(company, month, year) {

            var html = '';
            let url = "{% url "kurye:kullanici-odeme-detaylari" %}";


            $.ajax({
                url: url,
                type: "post", //send it through get method
                data: {
                    pk: company,
                    month: month,
                    year: year

                },
                success: function (result) {
                    //Do Something

                    var data = result.task;
                    let total = 0;
                    html += '<div class="box-body table-responsive no-padding">';
                    html += ' <table class="table table-hover detail"><tbody><tr class="detail-color">';
                    html += '<th>Talep No:</th><th>Mahalle</th><th>Hizmet Ücreti</th><th>Talep Tarih/Zaman</th><th>İndirim</th></tr>';
                    for (let i = 0; i < data.length; i++) {
                        let date = formatDate(data[i].task.request.creationDate);

                        total = data[i].task.request.request_price;

                        if (data[i].task.request.address === null) {
                            html += '<tr class="detail-color"><td>' + result.task[i].task.request.id + '</td><td>' + data[i].task.request.receiver.neighborhood + '</td><td>' + total + '₺</td><td>' + date + '</td><td>%' + data[i].task.request.company.discount + '</td></tr>';

                        } else {
                            let mahalle = data[i].task.request.neighborhood.neighborhood_name;
                            html += '<tr class="detail-color"><td>' + result.task[i].task.request.id + '</td><td>' + mahalle + '</td><td>' + total + '₺</td><td>' + date + '</td><td>%' + data[i].task.request.company.discount + '</td></tr>';

                        }

                    }
                    html += '</tbody></table></div>';
                    $(".bodys").html(html);
                    $('.bd-example-modal-lg').modal('show');


                    $(".bd-example-modal-lg").on("hidden.bs.modal", function () {
                        // put your default event here
                        $(".bodys").html("");
                    });

                }
            });
        }

    </script>

{% endblock %}

