{% extends 'base_layout.html' %}
{% block content %}

    <section class="content">
        <div class="container">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="callout">
                        <h3>Kullanıcı Bilgileri Yeniden Gönderildi</h3>
                        <p><strong>Kullanıcı Adı:</strong> {{ username }} </p>
                        <p><strong>Şifre:</strong> {{ password }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}