{% extends 'base_layout.html' %}

{% block content %}

    <section class="content-header">
        <h1>
            {{ obj.name }}
            {% for log in a %}
                {{ log.content }}
            {% endfor %}

        </h1>
        <ol class="breadcrumb">
            {% if  user.groups.all.0.name == 'Admin' %}
                <li><a href="{% url 'kurye:admin-dashboard' %}"><i class="fa fa-dashboard"></i> Anasayfa</a></li>

            {% elif user.groups.all.0.name == 'Kullanıcı' %}
                <li><a href="{% url 'kurye:kullanıcı-dashboard' %}"><i class="fa fa-dashboard"></i> Anasayfa</a></li>

            {% else %}
                <li><a href="{% url 'kurye:kurye-dashboard' %}"><i class="fa fa-dashboard"></i> Anasayfa</a></li>

            {% endif %}

            <li><a href="">{{ parent.name }}</a></li>
            <li><a href="">{{ obj.name }}</a></li>
        </ol>
    </section>


    <section class="content">
        {% if messages %}
            {% for message in messages %}


                {% if message.tags == 'warning' %}

                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i> Hata !</h4>


                        <ul class="messages">
                            {% for message in messages %}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>


                    </div>

                {% endif %}


                {% if message.tags == 'success' %}

                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i> Başarılı !</h4>


                        <ul class="messages">
                            {% for message in messages %}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>


                    </div>

                {% endif %}
            {% endfor %}


        {% endif %}

        <!-- /.row -->
        <!-- Main row -->
        <div class="row">

            <section class="col-lg-12 ">


                <div class="box-body">


                    <div class="box box-primary">
                        <div class="box-body">


                            <form method="post" enctype="multipart/form-data" role="form">
                                <div class="box-body">
                                    {% csrf_token %}


                                    <div class="col-md-8">


                                        <div class="form-group">
                                            <label>{{ profile_form.profileImage.label }} :</label>
                                            <img src="/media/{{ profile_image }}" class="user-image" alt="OXIT BİLİŞİM"
                                                 style=" width: 70px;height: 70px;"><br>
                                            {{ profile_form.profileImage }}
                                            <small>Profil resminizi temizleyin ya da değiştirin.İkisini aynı anda
                                                seçmeyin</small>
                                            <!-- /.input group -->
                                        </div>

                                        <div class="form-group">
                                            <label> {{ user_form.first_name.label }}</label>
                                            {{ user_form.first_name }}
                                        </div>

                                        <div class="form-group">
                                            <label> {{ user_form.last_name.label }}</label>
                                            {{ user_form.last_name }}
                                        </div>


                                        <div class="form-group">
                                            <label> {{ user_form.email.label }}</label>
                                            {{ user_form.email }}
                                        </div>

                                        <div class="form-group">
                                            <label> {{ profile_form.mobilePhone.label }}</label>
                                            {{ profile_form.mobilePhone }}
                                        </div>
                                        <div class="form-group">
                                            <label> {{ profile_form.address.label }}</label>
                                            {{ profile_form.address }}
                                        </div>
                                        {% if user.groups.all.0.name == 'Admin' or  user.groups.all.0.name == 'Kullanıcı' %}

                                            <div class="form-group">
                                                <label>{{ company_form.companyName.label }}</label>
                                                {{ company_form.companyName }}
                                            </div>
                                            <div class="form-group">
                                                <label>{{ company_form.taxName.label }}</label>
                                                {{ company_form.taxName }}
                                            </div>
                                            <div class="form-group">
                                                <label>{{ company_form.taxNumber.label }}</label>
                                                {{ company_form.taxNumber }}
                                            </div>



                                        {% endif %}

                                    </div>


                                </div>
                                <!-- /.box-body -->
                                <div class="box-footer">
                                    <button type="submit" class="btn btn-primary">Güncelle</button>
                                </div>
                            </form>
                        </div>
                        <!-- /.box -->
                    </div>


                </div>
            </section>


        </div>
        <!-- /.row (main row) -->

        <script>
            $(function () {
                $('.select2').select2();
                //Money Euro
                $('[data-mask]').inputmask();


                //Date picker
                $('#datepicker').datepicker({
                    autoclose: true
                });


                //Timepicker
                $('.timepicker').timepicker({
                    showInputs: false
                })
            })
        </script>

    </section>
    {% load staticfiles %}
    <script src="{% static 'bower_components/select2/dist/js/select2.full.min.js' %}"></script>
    <script>


        function ilceGetir() {

            var e = document.getElementById("id_city");
            var il_id = e.options[e.selectedIndex].value;
            $.ajax({
                url: "{% url 'kurye:ilce-getir' %}",
                type: "post", // or "get"
                async: false,
                data: {
                    il_id: il_id,

                },
                success: function (result) {
                    debugger;

                    let select = document.getElementById("ilce_id");

                    select.options[select.options.length] = new Option('Text 1', 'Value1');

                    $('#ilce_id').empty();

                    for (let i = 0; i < result.ilceler.length; i++) {
                        select.options[select.options.length] = new Option(result.ilceler[i].name, result.ilceler[i].name);
                    }
                }
            });
        }

        $(document).ready(function () {


            ilceGetir();
            //console.log($('#ilce_id').select2('data'))
            $('#ilce_id').val('{{ilce}}').trigger('change'); // Select the option with a value of '1'


        });

        function getCookie(name) {
            var cookieValue = null;
            var i = 0;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (i; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    </script>




{% endblock %}


<script>


</script>