{% extends 'base_layout.html' %}

{% block content %}

    <section class="content-header">
        <h1>
            {{ obj.name }}

        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'listArch:admin-dashboard' %}"><i class="fa fa-dashboard"></i> Anasayfa</a></li>
            <li><a >{{ parent.name }}</a></li>
            <li><a >{{ obj.name }}</a></li>
        </ol>

    </section>
    <section class="content">
        {% if messages %}
            {% for message in messages %}


                {% if message.tags == 'warning' %}

                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i> Hata !</h4>


                        <ul class="messages">
                            {% for message in messages %}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>


                    </div>

                {% endif %}


                {% if message.tags == 'success' %}

                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i> Başarılı !</h4>


                        <ul class="messages">
                            {% for message in messages %}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>


                    </div>

                {% endif %}
            {% endfor %}


        {% endif %}
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">


            <section class="col-lg-12 ">


                <div class="box-body">

                    <div class="box box-primary">


                        <div class="container-fluid">

                            <div class="row">

                                <div class="panel panel-default">

                                    <div class="panel-heading">
                                        <h3 class="panel-title"><i class="fa fa-list"></i>Üst Menü Yazısı</h3>

                                    </div>

                                    <div class="panel-body">

                                        <form method="post" enctype="multipart/form-data" id="form-product">

                                            <div class="table-responsive">
                                                <table id="text" class="display responsive nowrap" cellspacing="0"
                                                       width="100%">
                                                    <thead>
                                                    <tr class="text-left">
                                                        <td style="width: 1px;"><input
                                                                type="checkbox"
                                                                onclick="$('input[name*=\'selected\']').prop('checked', this.checked);">
                                                        </td>
                                                        <td>İşlem</td>
                                                        <td>Üst Menü Yazı</td>

                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for text in headerText %}
                                                        <tr>
                                                            <td>
                                                                <input type="checkbox"
                                                                       name="selected[]"
                                                                       value="18">
                                                            </td>
                                                            <td>
                                                                <a href="{% url 'listArch:ust-menu-yazi-guncelle'  text.headerText.pk%}"
                                                                   data-toggle="tooltip" title=""
                                                                   class="btn btn-primary"
                                                                   data-original-title="Düzenle"><i
                                                                        class="fa fa-pencil"></i></a>

                                                            </td>

                                                            <td>{{ text.description |truncatechars:80 |safe }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>


            </section>
        </div>

    </section>
    <div class="modal modal-danger fade in deneme23" tabindex="-1" role="dialog" id="modal-danger"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Uyarı</h4>
                </div>
                <div class="modal-body">
                    <p id="content"></p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <script>
        $(function () {
            $('#text').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true
            })

        })
    </script>
    <script>


        function getCookie(name) {
            var cookieValue = null;
            var i = 0;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (i; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });


    </script>
    <script>
        $(function () {
            $('.select2').select2();
            $('.select1').select2();
            //Money Euro
            $('[data-mask]').inputmask();


            //Date picker
            $('#datepicker').datepicker({
                autoclose: true
            });


            //Timepicker
            $('.timepicker').timepicker({
                showInputs: false
            })
        })
    </script>
    <script>
        function text_delete(id) {
            let html = 'Yazıyı silmek istediğinizden emin misiniz?';
            document.getElementById('content').innerHTML = html;
            $(".deneme23").on("shown.bs.modal", function (e) {
                $("#btn-conf").click(function () {
                    $.ajax({
                        url: "{% url 'listArch:ust-menu-yazi-sil' %}",
                        type: "post", // or "get"
                        data: {
                            id: id,


                        },
                        success: function (result) {

                            if (result.status == 'Success') {
                                swal("Başarılı", "Üst Menü Yazısı Silindi.", "success");
                                window.location.replace("{% url "listArch:ust-menu-yazi" %}");


                            } else {
                                swal("Başarısız", result.messages, "error");
                            }
                        }
                    });
                });

            }).modal('show');
            $('#btn-close').click(function () {
                $('#modal-danger').modal('hide');
            });
        }
    </script>

{% endblock %}

