{% extends 'base_layout.html' %}

{% block content %}

    <section class="content-header">
        <h1>
            Personel Ekle

        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'listArch:admin-dashboard' %}"><i class="fa fa-dashboard"></i> Anasayfa</a></li>
            <li><a href="">Personeller</a></li>
            <li><a href="">Personel Ekle</a></li>
        </ol>

    </section>
    <section class="content">
        {% if messages %}
            {% for message in messages %}

                {% if message.tags == 'warning' %}

                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i> Hata !</h4>

                        <ul class="messages">
                            {% for message in messages %}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>

                    </div>

                {% endif %}


                {% if message.tags == 'success' %}

                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i> Başarılı !</h4>


                        <ul class="messages">
                            {% for message in messages %}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>


                    </div>

                {% endif %}
            {% endfor %}


        {% endif %}
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">


            <section class="col-lg-12 ">


                <div class="box-body">

                    <div class="box box-primary">

                        <div class="box-body">

                            <form action=""
                                  method="post" enctype="multipart/form-data" id="form-option" class="form-horizontal">
                                {% csrf_token %}

                                <fieldset>
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab-general">
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label"
                                                               for="input-image">{{ user_form.first_name.label }}<small
                                                                style="color: red">*</small></label>
                                                        <div class="col-sm-10">{{ user_form.first_name }}

                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label"
                                                               for="input-image">{{ user_form.last_name.label }}<small
                                                                style="color: red">*</small></label>
                                                        <div class="col-sm-10">{{ user_form.last_name }}
                                                        </div>
                                                    </div>

                                                <div class="form-group">
                                                        <label class="col-sm-2 control-label"
                                                               for="input-image">Email<small
                                                                style="color: red">*</small></label>
                                                        <div class="col-sm-10">{{ user_form.email }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label"
                                                               for="input-image">Telefon<small
                                                                style="color: red">*</small></label>
                                                        <div class="col-sm-10"><input maxlength="11" type="text" class="form-control"
                                                                                      value="" placeholder="Telefon"
                                                                                      id="phone" name="phone">
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <hr>


                                </fieldset>
                                <button type="submit" form="form-option" data-toggle="tooltip" title=""
                                        class="btn btn-primary pull-right" data-original-title="Kaydet"
                                        aria-describedby="tooltip514951">Kaydet
                                </button>

                            </form>
                        </div>
                        <hr>


                    </div>


                </div>

            </section>
        </div>

    </section>

    <script>


        function getCookie(name) {
            var cookieValue = null;
            var i = 0;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (i; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });


    </script>
    <script>
        $(function () {
            $('.select2').select2();
            //Money Euro
            $('[data-mask]').inputmask();


            //Date picker
            $('#datepicker').datepicker({
                autoclose: true
            });


            //Timepicker
            $('.timepicker').timepicker({
                showInputs: false
            })
        })
    </script>




{% endblock %}

