{% extends 'base.html' %}
{% block content2 %}
    <div class="main-search-container centered" style="height: auto !important;">
        <div class="main-search-inner">
            <div class="row">
                <div class="col-md-12" style="border-top: 2px solid #fd9116;border-bottom: 2px solid #fd9116">
                    <div class="slider">
                       {% for category in parent_categories %}
                            <div class="">
                                <a href="{% url 'listArch:anasayfa-urunler' category.pk %}"
                                   class="highlighted-category">
                                    <img  class="img-responsive top-slider-img"
                                         src="/media/worker.png"
                                         alt="Bricks-in-Bytes">
                                    <h5 class="top-slider-h5">{{ category.description }}</h5>
                                </a>

                            </div>
                        {% endfor %}


                    </div>

                    <script>
                        window.onload = function () {
                            $('.slider').slick({
                                slidesToShow: 15,
                                slidesToScroll: -5,
                                infinite: true,
                                cssEase: 'linear',
                                variableWidth: true,

                            });

                        };
                    </script>
                    <style>
                        .slider {
                            width: 90%;
                            height: 70px;
                            margin: 0 auto;
                            background: transparent;
                        }

                    </style>
                </div>
            </div>
        </div>
    </div>
    <div class="main-search-container centered" data-background-image="/media/main-search-background-01.jpg"
         style="height: 215px">
        <div class="main-search-inner">

            <div class="">


                <div class="row">
                    <div class="col-md-12">


                        <h2 style="font-family: 'Allerta Stencil', sans-serif;">
                            <span class="typed-words">{{ scrolling_text.description }}</span>
                        </h2>
                        <h4>{{ scrolling_text.subTextDesc }}</h4>
                        <div class="main-search-input">
                            <div class="main-search-input-item">
                                <select data-placeholder="All Categories" class="chosen-select">
                                    <option selected>Architecture</option>
                                    <option>Hotels</option>
                                    <option>Restaurants</option>
                                    <option>Fitness</option>
                                    <option>Events</option>
                                </select>

                            </div>

                            <div class="main-search-input-item">
                                <input type="text" placeholder="Start to search" value="">
                            </div>

                            <button class="button" onclick="">
                                Search
                            </button>

                        </div>
                    </div>
                </div>
                <div class="container">
                    <!-- Features Categories -->
                    <div class="row">
                        <div class="col-md-12">

                            <div class="highlighted-categories">

                               <!-- {% for category in sub_categories %}

                                    <a href="{% url 'listArch:urun-filtreleme-sayfasi' category.pk %}"
                                       class="highlighted-category">
                                        <img height="24" src="/media/worker.png" alt="Bricks-in-Bytes">
                                        <h4 style="margin-top: 10px;display: block;">{{ category.name }}</h4>
                                    </a>

                                {% endfor %} -->


                            </div>

                        </div>
                    </div>
                </div>
                <!-- Featured Categories - End -->

            </div>

        </div>
    </div>
{% endblock %}
{% block content %}
    {% load static %}
    <!-- Titlebar -->
    <div class="container" style="z-index: 9;position: relative;width: 100%;
    border-top: 2px solid #fd9116;">
        <div class="row">
            <div class="col-md-12">
                <div class="categories-boxes-container ">
                    <!-- Box -->
                    <a href="listings-list-with-sidebar.html" class="category-small-box">
                        <h4>Ürünler</h4>
                        <span class="category-box-counter">500.000+</span>
                    </a>
                    <!-- Box -->
                    <a href="listings-list-with-sidebar.html" class="category-small-box">
                        <h4>Markalar</h4>
                        <span class="category-box-counter">1500+</span>
                    </a>
                    <!-- Box -->
                    <a href="listings-list-with-sidebar.html" class="category-small-box">
                        <h4>Kategoriler</h4>
                        <span class="category-box-counter">50.000+</span>
                    </a>
                    <!-- Box -->
                    <a href="listings-list-with-sidebar.html" class="category-small-box">
                        <h4>Özellikler</h4>
                        <span class="category-box-counter">250.000+</span>
                    </a>
                    <!-- Box -->
                    <a href="listings-list-with-sidebar.html" class="category-small-box">
                        <h4>Dosyalar</h4>
                        <span class="category-box-counter">6.000.000+</span>
                    </a>
                    <a href="listings-list-with-sidebar.html" class="category-small-box">
                        <h4>Dosyalar</h4>
                        <span class="category-box-counter">6.000.000+</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="titlebar" style="border-top:2px solid #fd9116;margin-right: 2px;">
        <div class="container" style="margin-left: 0px">
            <div class="row">
                <div class="col-md-12">
                    <!-- Breadcrumbs -->
                    <nav id="breadcrumbs" style="margin-left: 20px;">
                        <ul>
                            <li><a href="#">ANASAYFA</a></li>
                            <li><a href="#">LİSTELERİM</a></li>
                            <li><a href="#">OFİS LİSTESİ</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    {% if messages %}
        {% for message in messages %}
            <div class="notification success closeable">
                <p>{{ message }}</p>
                <a class="close"></a>
            </div>
        {% endfor %}
    {% endif %}
    <div class="container" style="background:#000;width: 100%;border-top: 1px solid #fff;border-bottom:2px solid #fd9116;margin-top: 2px ">
        <div class="row">

            <!-- Listings -->
            <div class="col-lg-12 col-md-12" id="liste" style="    padding-right: 0;padding-left: 0;">
                <div class="dashboard-list-box margin-top-0">
                    <div class="row">
                        <div style="margin-left: 50px">
                            <div class="col-md-6">
                                <a href="" class="rate-review button default popup-with-zoom-anim"
                                   style="; font-family: 'Roboto', sans-serif;border-bottom-left-radius: 4px;border-bottom-right-radius: 4px; font-size: 14px;background: #ffff; color: black;line-height: 30px; height: 37px; text-align: center; margin-top: 10px; margin-left: 80%;">Liste
                                    Oluştur</a>
                            </div>
                            <div class="col-md-6">
                                <nav id="navigation" class="style-1" style="margin-top: 10px;">
                                    <ul id="responsive">

                                        <li><a class="button"
                                               style=";font-family: 'Roboto',sans-serif;color:#000;width: 100%;background-color: #ffffff;border-radius:0px;">Listelerim</a>
                                            <ul>
                                                {% for list in user_lists %}
                                                    <li>
                                                        <a href="{% url 'listArch:liste-detay' list.pk %}">{{ list.list_name }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div id="small-dialog" class="zoom-anim-dialog mfp-hide" style="height:400px;">
                            <div class="small-dialog-header" style="padding: 30px 40px;margin-bottom: 30px;">
                            </div>
                            <div class="message-reply margin-top-0" style="margin-top: -15px !important;">
                                <form action="{% url 'listArch:liste-olustur' %}" method="post">
                                    {% csrf_token %}
                                    <input name="list_name" type="text" id="list_name" placeholder="Liste Adı">
                                    <br>
                                    <div class="row">
                                        <div class="col-md-6">

                                            <select id="reference_list" name="reference_list"
                                                    class="chosen-select-no-single" style="display: none;">
                                                <option label="blank">Bağlantılı Liste</option>
                                                <option>Yok</option>
                                                {% for list in lists %}
                                                    <option>{{ list.list_name }}</option>
                                                {% endfor %}
                                            </select>

                                        </div>


                                        <div class="col-md-6">

                                            <select id="list_type" name="list_type" class="chosen-select-no-single"
                                                    style="display: none;">
                                                <option label="blank">Liste Tipini Seçiniz</option>
                                                <option>Otel</option>
                                                <option>Restaurant</option>
                                                <option>Ofis</option>
                                                <option>Okul</option>
                                                <option>Ev</option>

                                            </select>

                                        </div>
                                    </div>
                                    <br>

                                    <textarea name="description" cols="30" rows="2" id="description"
                                              placeholder="Açıklama"
                                              spellcheck="true"></textarea>


                                    <button class="button"
                                            style="padding: 5px 20px;  float: right; margin-top: 20px; margin-right: 0px !important;">
                                        Kaydet
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <style>
                        .hovereffect {
                            width: 100%;
                            height: 100%;
                            float: left;
                            overflow: hidden;
                            position: relative;
                            text-align: center;
                            cursor: default;
                            padding-bottom: 15px;
                        }

                        .hovereffect .overlay {
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            overflow: hidden;
                            top: 0;
                            z-index: 9999;
                            left: 0;
                            opacity: 0;
                            background-color: rgba(0, 0, 0, 0.6);
                            -webkit-transition: all .4s ease-in-out;
                            transition: all .4s ease-in-out
                        }

                        .hovereffect img {
                            display: block;
                            position: relative;
                            -webkit-transition: all .4s linear;
                            transition: all .4s linear;
                        }

                        .hovereffect h2 {
                            text-transform: uppercase;
                            color: #fff;
                            text-align: center;
                            position: relative;
                            font-size: 12px;
                            margin-top: 10px;
                            -webkit-transform: translatey(-100px);
                            -ms-transform: translatey(-100px);
                            transform: translatey(-100px);
                            -webkit-transition: all .2s ease-in-out;
                            transition: all .2s ease-in-out;
                            padding: 0px;
                        }

                        .hovereffect a.info {
                            text-decoration: none;
                            display: inline-block;
                            text-transform: uppercase;
                            color: #fff;
                            border: 1px solid #fff;
                            background-color: transparent;
                            opacity: 0;
                            filter: alpha(opacity=0);
                            -webkit-transition: all .2s ease-in-out;
                            transition: all .2s ease-in-out;
                            margin: 0px 0 0;
                            padding: 0px 14px;
                        }

                        .hovereffect a.info:hover {
                            box-shadow: 0 0 5px #fff;
                        }

                        .hovereffect:hover img {
                            -ms-transform: scale(1.2);
                            -webkit-transform: scale(1.2);
                            transform: scale(1.2);
                        }

                        .hovereffect:hover .overlay {
                            opacity: 1;
                            filter: alpha(opacity=100);
                        }

                        .hovereffect:hover h2, .hovereffect:hover a.info {
                            opacity: 1;
                            filter: alpha(opacity=100);
                            -ms-transform: translatey(0);
                            -webkit-transform: translatey(0);
                            transform: translatey(0);
                        }

                        .hovereffect:hover a.info {
                            -webkit-transition-delay: .2s;
                            transition-delay: .2s;
                        }
                    </style>
                    <div class="container list-brc">
                        {% for list in list %}
                            <div class="row">
                                <div class="col-md-12">

                                    <h3 class="headline centered margin-bottom-20 margin-top-30"
                                        style="border:1px solid;font-size: 18px;text-align: left;padding-left: 5px;">{{ list.list.list_name }}

                                    </h3>
                                </div>
                                {% for product in list.products %}
                                    <div class="col-md-2">
                                        <div class="hovereffect">
                                            <div class="listing-item">
                                                <img onclick="location.href='{% url 'listArch:urun-detay' product.product.pk %}';"
                                                     src="/media/{{ product.product.cover_image }}" alt=""
                                                     style="border: 2px solid #fd9116">
                                                <div class="overlay" style="text-align: center">
                                                    <h2 style="font-size:16px;text-align: center">{{ product.product.name }}</h2>

                                                    <a class="popup-with-zoom-anim"
                                                       style="right: 5px; bottom: 5px; position: absolute; text-align: right; float: right; font-size: 24px; color: #fff;"
                                                       onclick="remove_item_list({{ product.list.pk }},{{ product.product.pk }})">
                                                        <i class="im im-icon-Close"></i></a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>


            <!-- Copyrights -->
        </div>
    </div>
    <script> function getCookie(name) {
        var cookieValue = null;
        var i = 0;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (i; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        crossDomain: false, // obviates need for sameOrigin test
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    </script>
{% endblock %}