{% extends 'base_layout.html' %}

{% block content %}

    <section class="content-header">
        <h1>
            {{ obj.name }}

        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'listArch:admin-dashboard' %}"><i class="fa fa-dashboard"></i> Anasayfa</a></li>
            <li><a href="">{{ parent.name }}</a></li>
            <li><a href="">{{ obj.name }}</a></li>
        </ol>

    </section>
    <section class="content">
        {% if messages %}
            {% for message in messages %}


                {% if message.tags == 'warning' %}

                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i> Hata !</h4>


                        <ul class="messages">
                            {% for message in messages %}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>


                    </div>

                {% endif %}


                {% if message.tags == 'success' %}

                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i> Başarılı !</h4>


                        <ul class="messages">
                            {% for message in messages %}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>


                    </div>

                {% endif %}
            {% endfor %}


        {% endif %}
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">


            <section class="col-lg-12 ">


                <div class="box-body">

                    <div class="box box-primary">


                        <div class="container-fluid">

                            <div class="row">

                                <div class="panel panel-default">

                                    <div class="panel-heading">
                                        <h3 class="panel-title"><i class="fa fa-list"></i> Kategori Listesi</h3>
                                    </div>

                                    <div class="panel-body">
                                        <form action=""
                                              method="post" enctype="multipart/form-data" id="form-product">
                                            <a href="{% url 'listArch:personel-ekle' %}" class="btn btn-app">
                                                <i class="fa fa-plus"></i> Personel Ekle
                                            </a>
                                            <div class="table-responsive">
                                                <table id="staff" class="display responsive nowrap" cellspacing="0"
                                                       width="100%">
                                                    <thead>
                                                    <tr class="text-left">
                                                        <td>ID</td>
                                                        <th>Durum</th>
                                                        <td>Ad Soyad</td>
                                                        <td>Email</td>
                                                        <td>Telefon</td>

                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for staff in staff %}
                                                        <tr>
                                                            <td>
                                                                {{ staff.pk }}
                                                            </td>

                                                            <td>
                                                            <a href="{% url 'listArch:personel-guncelle' staff.pk %}"
                                                                       data-toggle="tooltip" title=""
                                                                       class="btn btn-primary"
                                                                       data-original-title="Passive"><i class="fa fa-edit"></i></a>
                                                                {% if staff.isActive %}
                                                                    <a onclick="staff_passive({{ staff.pk }})"
                                                                       data-toggle="tooltip" title=""
                                                                       class="btn btn-danger"
                                                                       data-original-title="Passive">Pasif Et</a>
                                                                {% else %}
                                                                    <a onclick="staff_active({{ staff.pk }})"
                                                                       data-toggle="tooltip" title=""
                                                                       class="btn btn-success"
                                                                       data-original-title="Passive">Aktif Et</a>

                                                                {% endif %}</td>
                                                            <td>{{ staff.user.first_name }} {{ staff.user.last_name }}</td>
                                                            <td>{{ staff.user.email }} </td>
                                                            <td>{{ staff.phone }} </td>

                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>

                                                </table>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>


            </section>
        </div>

    </section>
    <div class="modal modal-danger fade in deneme23" tabindex="-1" role="dialog" id="modal-danger"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Uyarı</h4>
                </div>
                <div class="modal-body">
                    <p id="content"></p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <script>
        $(function () {
            $('#staff').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true
            })

        })
    </script>
    <script>


        function getCookie(name) {
            var cookieValue = null;
            var i = 0;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (i; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });


    </script>
    <script>
        $(function () {
            $('.select2').select2();
            $('.select1').select2();
            //Money Euro
            $('[data-mask]').inputmask();


            //Date picker
            $('#datepicker').datepicker({
                autoclose: true
            });


            //Timepicker
            $('.timepicker').timepicker({
                showInputs: false
            })
        })
    </script>
    <script>
        function staff_passive(id) {
            let html = 'Personeli pasif etmek istediğinizden emin misiniz?<br>';
            document.getElementById('content').innerHTML = html;
            $(".deneme23").on("shown.bs.modal", function (e) {
                debugger;
                $("#btn-conf").click(function () {
                    debugger;
                    $.ajax({
                        url: "{% url 'listArch:personel-pasif-et' %}",
                        type: "post", // or "get"
                        data: {
                            staff_id: id,
                        },
                        success: function (result) {
                            debugger;
                            if (result.status === 'Success') {
                                swal("Başarılı", "Personel Durumu Pasif Edildi.", "success");
                                window.location.replace("{% url "listArch:personeller" %}");


                            } else {
                                swal("Başarısız", "Üzgünüz istenmeyen bir hata ile karşılaşıldı.", "error");
                            }
                        }
                    });
                });

            }).modal('show');
            $('#btn-close').click(function () {
                $('#modal-danger').modal('hide');
            });
        }

        function staff_active(id) {
            let html = 'Personeli aktif etmek istediğinizden emin misiniz?<br>';
            document.getElementById('content').innerHTML = html;
            $(".deneme23").on("shown.bs.modal", function (e) {
                debugger;
                $("#btn-conf").click(function () {
                    debugger;
                    $.ajax({
                        url: "{% url 'listArch:aktif-et-personel' %}",
                        type: "post", // or "get"
                        data: {
                            staff_id: id,
                        },
                        success: function (result) {
                            debugger;
                            if (result.status === 'Success') {
                                swal("Başarılı", "Personel Durumu Aktif Edildi.", "success");
                                window.location.replace("{% url "listArch:personeller" %}");


                            } else {
                                swal("Başarısız", "Üzgünüz istenmeyen bir hata ile karşılaşıldı.", "error");
                            }
                        }
                    });
                });

            }).modal('show');
            $('#btn-close').click(function () {
                $('#modal-danger').modal('hide');
            });
        }
    </script>

{% endblock %}

