{% extends 'base_layout.html' %}

{% block content %}

    <section class="content-header">
        <h1>
            Ürün Ekle

        </h1>
        <ul class="breadcrumb">
            <li><a href="{% url 'listArch:admin-dashboard' %}"><i class="fa fa-dashboard"></i> Anasayfa</a></li>
            <li><a>Katalog</a></li>
            <li><a>Ürünler</a></li>
            <li><a>Ürün Ekle</a></li>

        </ul>

    </section>
    <section class="content">
        {% if messages %}
            {% for message in messages %}


                {% if message.tags == 'warning' %}

                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i> Hata !</h4>


                        <ul class="messages">
                            {% for message in messages %}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>


                    </div>

                {% endif %}


                {% if message.tags == 'success' %}

                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i> Başarılı !</h4>


                        <ul class="messages">
                            {% for message in messages %}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>


                    </div>

                {% endif %}
                {% if message.tags == 'info' %}

                    <div class="alert alert-info alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-warning"></i> Uyarı !</h4>


                        <ul class="messages">
                            {% for message in messages %}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>


                    </div>

                {% endif %}
            {% endfor %}


        {% endif %}
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">


            <section class="col-lg-12 ">


                <div class="box-body">

                    <div class="box box-primary">

                        <div class="box-body">

                            <form action="{% url 'listArch:urun-ekle' %}"
                                  method="post" enctype="multipart/form-data" id="form-option" class="form-horizontal">
                                {% csrf_token %}
                                <input type="hidden" name="option_range_count" id="option_range_count" value="">
                                <input type="hidden" value="" id="value-row" name="value-row">
                                <input type="hidden" value="" id="text-value-row" name="text-value-row">

                                <div class="container-fluid">
                                    <div class="panel panel-default">
                                        <button type="submit" form="form-option" data-toggle="tooltip" title=""
                                                style="margin-right: 5px;margin-top: 5px;"
                                                class="btn btn-primary pull-right" data-original-title="Kaydet"><i
                                                class="fa fa-save"></i></button>
                                        <div class="panel-heading" style="padding: 13px 18px">
                                            <h3 class="panel-title"><i class="fa fa-pencil"></i> Ürün Ekle</h3>

                                        </div>
                                        <div class="panel-body">

                                            <ul class="nav nav-tabs">
                                                <li class=""><a href="#tab-general" data-toggle="tab"
                                                                aria-expanded="false">Genel</a></li>
                                                <li class=""><a href="#tab-image" data-toggle="tab"
                                                                aria-expanded="false">Resim</a></li>
                                                <li class=""><a href="#tab-cover-image" data-toggle="tab"
                                                                aria-expanded="false">Kapak Resmi</a></li>
                                                <li class=""><a href="#tab-option" data-toggle="tab"
                                                                aria-expanded="false">Seçenek</a></li>
                                                <li class=""><a href="#tab-link" data-toggle="tab"
                                                                aria-expanded="false">Bağlantılar</a></li>
                                                <li class=""><a href="#tab-video" data-toggle="tab"
                                                                aria-expanded="false">Video</a></li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab-general">
                                                    <div class="col-sm-10">
                                                        <div class="form-group ">
                                                            <label>Ürün Adı<small
                                                                    style="color: red">*</small></label>

                                                            <div class="input-group"><span
                                                                    class="input-group-addon"><img
                                                                    src="/media/en-gb.png" title="ENg"></span>
                                                                <input type="text" required
                                                                       name="product_description[eng][name]"
                                                                       value=""
                                                                       placeholder="Ürün Adı"
                                                                       class="form-control"/>
                                                            </div>
                                                            <div class="input-group"><span
                                                                    class="input-group-addon"><img
                                                                    src="/media/tr-tr.png" title="TR"></span>
                                                                <input type="text" required
                                                                       name="product_description[tr][name]"
                                                                       value=""
                                                                       placeholder="Ürün Adı"
                                                                       class="form-control"/>
                                                            </div>

                                                        </div>
                                                        <div class="form-group">
                                                            <label>Ürün Fiyatı</label>

                                                            {{ product_form.price }}
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Ürün Kodu<small
                                                                    style="color: red">*</small></label>

                                                            {{ product_form.code }}
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Ürün Sıra Kodu<small
                                                                    style="color: red">*</small></label>

                                                            {{ product_form.code2 }}
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Ürün Firma Kodu<small
                                                                    style="color: red">*</small></label>

                                                            {{ product_form.company_code }}
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="input-type">Aktif
                                                                Ürün</label>

                                                            {{ product_form.isActive }}


                                                            <label style="margin-left: 15px;" for="input-type">Reklam
                                                                Ürünü</label>

                                                            {{ product_form.isAdvert }}

                                                        </div>

                                                    </div>


                                                </div>
                                                <div class="tab-pane" id="tab-image">
                                                    <div class="table-responsive">
                                                        <table id="images"
                                                               class="table table-striped table-bordered table-hover">
                                                            <thead>
                                                            <tr>
                                                                <td class="text-left">Ürün Resmi<small
                                                                        style="color: red">* (1920*920 pixels)</small>
                                                                </td>
                                                                <td></td>
                                                            </tr>
                                                            </thead>
                                                            <tbody>

                                                            </tbody>

                                                            <tfoot>
                                                            <tr>
                                                                <td colspan="1"></td>
                                                                <td class="text-left">
                                                                    <button type="button" onclick="addImage();"
                                                                            data-toggle="tooltip" title=""
                                                                            class="btn btn-primary"
                                                                            data-original-title="Resim Ekle"><i
                                                                            class="fa fa-plus-circle"></i></button>
                                                                </td>
                                                                <input type="hidden" name="image_row" id="image_row"/>
                                                            </tr>
                                                            </tfoot>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="tab-video">
                                                    <div class="table-responsive">
                                                        <table id="video"
                                                               class="table table-striped table-bordered table-hover">
                                                            <thead>
                                                            <tr>
                                                                <td class="text-left">Video</td>
                                                                <td></td>
                                                            </tr>
                                                            </thead>
                                                            <tbody>

                                                            </tbody>

                                                            <tfoot>
                                                            <tr>
                                                                <td colspan="1"></td>
                                                                <td class="text-left">
                                                                    <button type="button" onclick="addVideo();"
                                                                            data-toggle="tooltip" title=""
                                                                            class="btn btn-primary"
                                                                            data-original-title="Video Ekle"><i
                                                                            class="fa fa-plus-circle"></i></button>
                                                                </td>
                                                                <input type="hidden" name="video_row" id="video_row"/>
                                                            </tr>
                                                            </tfoot>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="tab-cover-image">
                                                    <br>
                                                    <div class="col-lg-6">
                                                        <label for="">Kapak Resmi<small
                                                                style="color: red">*</small></label>
                                                        {{ product_form.cover_image }}
                                                        <small style="color: red">(560*560 pixels) </small>

                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="tab-company">

                                                    <br>
                                                </div>
                                                <div class="tab-pane " id="tab-option">
                                                    <br>
                                                    <div class="row">

                                                        <div class="col-sm-2 " id="option-tab">
                                                            <label for="">Seçenekler<small
                                                                    style="color: red">*</small></label>
                                                            <select class="form-control select2 select2-hidden-accessible"
                                                                    style="width: 100%" id="option_key"
                                                                    name="option-key"
                                                                    onchange="get_option()">

                                                                <option value="">---------</option>

                                                                {% for option in options %}
                                                                    <option value="{{ option.key }}">{{ option.key }}</option>
                                                                {% endfor %}


                                                            </select>


                                                        </div>
                                                        <div class="col-sm-10">
                                                            <div class="row">
                                                                <div class="tab-content"></div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="tab-pane" id="tab-definition">
                                                    <br>
                                                    <div class="box-body table-responsive no-padding">
                                                        <table class="table table-responsive">
                                                            <tbody>
                                                            {% for product_definition in product_definitions %}
                                                                <tr>
                                                                    <td>
                                                                        <strong>{{ forloop.counter }}-{{ product_definition.definition.definition_title }}</strong>
                                                                        <button style="margin-left:5px;" type="button"
                                                                                class="btn btn-sm btn-primary"><i
                                                                                class="fa fa-edit"></i></button>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>{{ product_definition.definition.definition | safe }}</td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>


                                                </div>
                                                <div class="tab-pane" id="tab-link">

                                                    <br>

                                                    <label>Firma Seçin<small
                                                            style="color: red">*</small></label>
                                                    <select class="form-control select2 select2-hidden-accessible"
                                                            style="width: 100%" id="product-company" required
                                                            name="product-company" onchange="get_company()">

                                                        <option value="">---------</option>


                                                        {% for company in companies %}
                                                            <option value="{{ company.pk }}">{{ company.name }}</option>
                                                        {% endfor %}


                                                    </select>
                                                    <br><br>
                                                    <label>Firma Kodu Seçin<small
                                                            style="color: red">*</small></label>
                                                    <select class="form-control select2 select2-hidden-accessible"
                                                            style="width: 100%" id="company-code"
                                                            name="company-code" required>

                                                        <option value="">---------</option>


                                                    </select>


                                                    <label style="margin-top: 30px;">Kategorileri Seçin<small
                                                            style="color: red">*</small></label>
                                                    {{ product_form.category }}


                                                    <label style="margin-top: 30px;">İlişkili Ürünleri Seçin</label>
                                                    {{ product_form.related_product }}


                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <hr>


                    </div>

                </div>
            </section>
        </div>

    </section>

    <script>
        $(document).ready(function () {
            //set initial state.
            $('#basic_value').val($(this).is(':checked'));

            $('#active_product').change(function () {
                if ($(this).is(":checked")) {
                    $('#active_value').val($(this).is(':checked'));

                } else {
                    $('#active_value').val($(this).is(':checked'));

                }


            });

            get_company();


        });


        function getCookie(name) {
            var cookieValue = null;
            var i = 0;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (i; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });


    </script>
    <script>
        $(function () {
            $('.select2').select2();
            $('.select1').select2();
            //Money Euro
            $('[data-mask]').inputmask();


            //Date picker
            $('#datepicker').datepicker({
                autoclose: true
            });


            //Timepicker
            $('.timepicker').timepicker({
                showInputs: false
            })
        })
    </script>
    <script>
        let option_row = 0;
        let option_text_row = 0;
        let option_range = 0;
        let option_value_row = 0;
        let value = 0;
        let count_value = [];
        let count_text = [];
        let count_range = []


        function get_option() {

            let value = 0;
            let e = document.getElementById("option_key");
            let option_id = e.options[e.selectedIndex].value;
            $.ajax({
                url: "{% url 'listArch:secenek-getir' %}",
                type: "post", // or "get"
                async: false,
                data: {
                    option_id: option_id,

                },
                success: function (response) {

                    var option = response.options[0];
                    let html;

                    if (option.type === 'text') {

                        html = '<div class="row" id="text-form-' + option_text_row + '" >';
                        html += '<div class="form-group"  style="margin-top: 5px;">';
                        html += '	  <label class="col-sm-2 control-label" for="input-value' + option_text_row + '">Seçenek Değeri</label>';
                        html += '<div class="col-sm-4"><input id="text-value-row' + option_text_row + '" name="text-value-row' + option_text_row + '" readonly style="margin-top:3px;" value="' + option.key + '"  class="form-control"></div>';
                        html += '<input type="hidden" id="option-type[' + option_text_row + ']" name="option-type[' + option_text_row + ']" value="' + option.id + '"><button type="button" id="remove' + option_text_row + '" onclick="remove_text(' + option_text_row + ')" data-toggle="tooltip" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button>	</div>';
                        html += "</div>";

                        $('#tab-option .tab-content').append(html);
                        count_text.push(parseInt(option_text_row));
                        document.getElementById('text-value-row').value = option_text_row;
                        option_text_row++;


                    }

                    if (option.option.type === 'textarea') {
                        html = '	<div class="form-group">';
                        html += '	  <label class="col-sm-2 control-label" for="input-value' + option_text_row + '">Seçenek Değeri</label>';
                        html += '	  <div class="col-sm-6"><textarea  name="option-text-value[' + option_text_row + ']" rows="5" placeholder="Seçenek Değeri" id="option-text-value[' + option_text_row + ']" class="form-control"></textarea></div>';
                        html += '<div class="col-sm-4"><span style="margin-top:3px;"  class="btn btn-default">' + option.option.key + '</span></div>';
                        html += '<input type="hidden" id="option-type[' + option_text_row + ']" name="option-type" value="' + option.option.key + '">	</div>';
                        document.getElementById('text-value-row').value = option_text_row;
                        option_text_row++;
                        $('#tab-option .tab-content').append(html);


                    }


                    if (option.option.type === 'select' || option.option.type === 'radio' || option.option.type === 'checkbox') {

                        html = '<div class="form-group"><div class="col-sm-8" id=option_value></div>';
                        html += '<div class="col-sm-2" id="add_option"><button id="option-button-add[' + option_row + ']" style="margin-top:3px;" type="button" onclick="addOptionValue();" data-toggle="tooltip" title="Değer Ekle" class="btn btn-primary x"><i class="fa fa-plus-circle" ></i></button></div></div>';
                        option_row++;
                        $('#tab-option .tab-content').append(html);

                    }
                    if (option.option.type === 'range') {

                        html = '<div style="margin-top: 5px;" id="range' + option_range + '" class="form-group">';
                        html += '<label class="col-sm-2 control-label" for="input-value' + option_range + '">Seçenek Değeri</label>';
                        html += '<div class="col-sm-4"><input id="range-value-row' + option_range + '" name="range-value-row' + option_range + '" readonly style="margin-top:3px;" value="' + option.option.key + '"  class="form-control"></div>';
                        html += '<div class="col-sm-3"><input placeholder="Değer" style="width: 200px" id="range_value' + option_range + '" class="form-control" type="text" value="" name="range_value' + option_range + '"><input type="hidden" value="' + option.option.id + '" name="option_range_id' + option_range + '"></div><div class="col-sm-3"><button type="button" id="remove' + option_range + '" onclick="remove_range(' + option_range + ')" data-toggle="tooltip" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></div></div>';
                        html += "</div>";

                        count_range.push(parseInt(option_range));
                        document.getElementById('option_range_count').value = count_range
                        option_range++;
                        $('#tab-option .tab-content').append(html);

                    }


                }


            });
        }

        function remove_range(id) {
            debugger;
            $('#range' + id + '').remove();
            count_range = jQuery.grep(count_range, function (value) {
                return value !== id;
            });
            document.getElementById('option_range_count').value = count_range

        }


        function remove_text(id) {

            $('#text-form-' + id + '').remove();
            count_text = jQuery.grep(count_text, function (value) {
                return value !== id;
            });
            document.getElementById('text-value-row').value = count_text;
            console.log(count_text)


        }


        function addOptionValue() {


            let e = document.getElementById("option_key");
            let option_key = e.options[e.selectedIndex].value;
            $.ajax({
                url: "{% url 'listArch:secenek-degerlerini-getir' %}",
                type: "post", // or "get"
                async: false,
                data: {
                    option_id: option_key,

                },
                success: function (response) {
                    debugger;
                    var option_values = response.values;
                    let html;


                    $('.x').remove();


                    html = '<div class="row" id="option-value-row' + option_value_row + '" ><div class="col-sm-6" id=option_value><div id="option-value[' + option_value_row + ']" style="margin-top:3px;"><select class="form-control select2 " name="option-key-value[' + option_value_row + ']" id="option-key-value[' + option_value_row + ']" " style="width: 100%" >';
                    for (let i = 0; i < option_values.length; i++) {
                        html += ' <option value="' + option_values[i].id + '">' + option_values[i].value + '</option>';

                    }
                    html += '</select></div></div>';
                    html += '<div class="col-sm-2" id="add_option"><button type="button" onclick="remove(' + option_value_row + ')" data-toggle="tooltip" title="Kaldır" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></div>';
                    html += '<div class="col-sm-3" ><span style="margin-top:3px;"  class="btn btn-default">' + option_key + '</span></div>';
                    html += '<button id="option-button-add[' + option_row + ']" name="option-button-add" style="margin-top:3px;" type="button" onclick="addOptionValue(' + option_row + ');" data-toggle="tooltip" title="Değer Ekle" class="btn btn-primary"><i class="fa fa-plus-circle" ></i></button>'

                    count_value.push(parseInt(option_value_row));
                    document.getElementById('value-row').value = count_value;
                    option_value_row++;


                    $('#option-value' + option_value_row + '').append(html);
                    $('[rel=tooltip]').tooltip();

                    $('#option_value').append(html);
                    value++;


                }


            });

        }


        function remove(id) {

            $('#option-value-row' + id + '').remove();
            count_value = jQuery.grep(count_value, function (value) {
                return value !== id;
            });
            document.getElementById('value-row').value = count_value;
            console.log(count_value)

        }

    </script>

    <script type="text/javascript">
        var image_row = 0;
        let count_image = [];


        function addImage() {
            let html = '<tr id="image-row' + image_row + '">';
            html += '  <td class="text-left"><input required type="file" name="product_image[' + image_row + '][image]" value="" id="input-image' + image_row + '" /></td>';
            html += '  <td class="text-right"><input type="text" name="product_image[' + image_row + '][sort_order]" value="" placeholder="Sıralama" class="form-control" /></td>';
            html += '  <td class="text-left"><button type="button" onclick="remove_image(' + image_row + ')" data-toggle="tooltip" title="Kaldır" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
            html += '</tr>';

            $('#images tbody').append(html);

            count_image.push(parseInt(image_row));
            image_row++;
            document.getElementById('image_row').value = count_image;


        }

        function remove_image(id) {
            $('#image-row' + id + '').remove();
            count_image = jQuery.grep(count_image, function (value) {
                return value !== id;
            });
            document.getElementById("image_row").value = count_image;
            console.log(count_image)
        }


        var video_row = 0;
        let count_video = [];


        function addVideo() {
            let html = '<tr id="video-row' + video_row + '">';
            html += '  <td class="text-left"><input type="file" name="product[' + video_row + '][video]"  id="input-video' + video_row + '" /></td>';
            html += '  <td class="text-right"><input type="text" name="product[' + video_row + '][key]" value="" placeholder="Başlık" class="form-control" /></td>';
            html += '  <td class="text-left"><button type="button" onclick="remove_video(' + video_row + ')" data-toggle="tooltip" title="Kaldır" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
            html += '</tr>';

            $('#video tbody').append(html);

            count_video.push(parseInt(video_row));
            video_row++;
            document.getElementById('video_row').value = count_video;


        }

        function remove_video(id) {

            $('#video-row' + id + '').remove();
            count_video = jQuery.grep(count_video, function (value) {
                return value !== id;
            });
            document.getElementById("video_row").value = count_video;
            console.log(count_video)

        }


        function get_company() {

            var e = document.getElementById("product-company");
            var company_id = e.options[e.selectedIndex].value;
            $.ajax({
                url: "{% url 'listArch:firma-kodu-getir' %}",
                type: "post", // or "get"
                async: false,
                data: {
                    company_id: company_id,

                },
                success: function (result) {
                    debugger;
                    let select = document.getElementById("company-code");


                    $('#company-code').empty();

                    for (let i = 0; i < result.firmalar.length; i++) {
                        select.options[select.options.length] = new Option(result.firmalar[i].code, result.firmalar[i].code);
                    }
                }
            });
        }

    </script>


{% endblock %}

