{% extends 'base_layout.html' %}

{% block content %}

    <section class="content-header">
        <h1>
            Grafik Ekle

        </h1>
        <ol class="breadcrumb">
            <li><a href="">Product</a></li>
            <li><a href="">Grafik Ekle</a></li>
        </ol>

    </section>
    <section class="content">
        {% if messages %}
            {% for message in messages %}


                {% if message.tags == 'warning' %}

                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i> Hata !</h4>


                        <ul class="messages">
                            {% for message in messages %}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>


                    </div>

                {% endif %}


                {% if message.tags == 'success' %}

                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i> Başarılı !</h4>


                        <ul class="messages">
                            {% for message in messages %}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>


                    </div>

                {% endif %}
            {% endfor %}


        {% endif %}
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">


            <section class="col-lg-12 ">


                <div class="box-body">

                    <div class="box box-primary">

                        <div class="box-body">

                            <form action="{% url 'listArch:urune-grafik-ekle' product.pk%}" name="form-option"
                                  method="post" enctype="multipart/form-data" id="form-option" class="form-horizontal">
                                {% csrf_token %}
                                <input type="hidden" id="count" name="count" value="0">

                                <button type="submit" form="form-option" data-toggle="tooltip" title=""
                                        class="btn btn-primary pull-right" data-original-title="Kaydet"><i
                                        class="fa fa-save"></i></button>
                                <fieldset>
                                    <legend>Grafik</legend>
                                    <div class="form-group required">
                                        <label class="col-sm-2 control-label">Grafik</label>
                                        <div class="col-sm-10">
                                            <div class="input-group"><span class="input-group-addon"><img
                                                    src="/media/en-gb.png" title="ENg"></span>
                                                <input type="text" name="graphic[eng][name]" value=""
                                                       placeholder="Graphic Name" class="form-control">
                                            </div>
                                            <div class="input-group"><span class="input-group-addon"><img
                                                    src="/media/tr-tr.png" title="TR"></span>
                                                <input type="text" name="graphic[tr][name]" value=""
                                                       placeholder="Grafik Adı" class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                </fieldset>
                                <fieldset>
                                    <legend>Grafik Değerleri</legend>
                                    <table id="graphic-value" class="table table-striped table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <td class="text-left required">Yıl/Değer</td>
                                            <td></td>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>

                                        <tfoot>
                                        <tr>
                                            <td colspan="1"></td>
                                            <td class="text-right">
                                                <button type="button" onclick="add_graphic_value()"
                                                        data-toggle="tooltip"
                                                        title="" class="btn btn-primary" id="add_button"
                                                        data-original-title="Değer Ekle"><i
                                                        class="fa fa-plus-circle"></i></button>
                                            </td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </fieldset>

                            </form>
                        </div>
                        <hr>


                    </div>


                </div>

            </section>
        </div>

    </section>

    <script>

        function getCookie(name) {
            var cookieValue = null;
            var i = 0;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (i; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });


    </script>
    <script>
        $(function () {
            $('.select2').select2();
            //Money Euro
            $('[data-mask]').inputmask();


            //Date picker
            $('#datepicker').datepicker({
                autoclose: true
            });


            //Timepicker
            $('.timepicker').timepicker({
                showInputs: false
            })
        })
    </script>
    <script>
        let option_graphic_row = 0;
        let count = [];

        function add_graphic_value() {
            debugger;

            let html = '<tr id="graphic-value-row' + option_graphic_row + '">';
            html += '  <td class="text-left"><input type="hidden" name="option_value[' + option_graphic_row + '][option_value_id]" value="" />';
            html += '    <div class="input-group">';
            html += '      <input type="text" name="graphic_year[' + option_graphic_row + ']" value="" placeholder="Yıl" class="form-control" />';
            html += '    </div>';
            html += '    <div class="input-group">';
            html += '      <input type="text" name="graphic_value[' + option_graphic_row + ']" value="" placeholder="Değer" class="form-control" />';
            html += '    </div>';
            html += '  </td>';
            html += '  <td class="text-right"><button type="button" onclick="remove(option_graphic_row)" data-toggle="tooltip" title="Kaldır" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
            html += '</tr>';

            $('#graphic-value tbody').append(html);

            count.push(option_graphic_row);
            option_graphic_row++;
            document.getElementById("count").value = count;


        }


        function remove(id) {
            debugger;
            $('#graphic-value-row' + id + '').remove();
              count = jQuery.grep(count, function (value) {
                return value != id;
            });
            document.getElementById("count").value = count;
            console.log(count)


        }

    </script>

{% endblock %}

